[2014-08-20 17:34] relu91 commented on #271
Yes there is! if you are using a panel you can easily take a panelRenderer instance from your element and call renderer.setBackgroundColor(yourniftycolor).

[code]

I'm not sure but also images could have a panel renderer attached.

[2014-08-20 21:30] oberien commented on #269
I tried around a bit with bob's code after mine (for the Game Setup) renders the fonts correctly. Trying to apply my code to the bugging code in the first post, I encoutered the following issue/bug:

I tried to implemend own "buttons" by using an image with text and onlick-interact in this xml:

[code]

I got this result:
![oberien1](https://cloud.githubusercontent.com/assets/4820508/3988503/49c01

[2014-08-20 21:45] oberien commented on #271
Thank's man! That's exactly what I was looking for!

Is there also a method to get the current backgroundColor?

Kind Regards,
BH16

[2014-08-21 02:25] ghost commented on #269
If you can somehow provide me the fonts and images used in this example, I'll see what I can do.

[2014-08-21 02:50] ghost commented on #269
By the way, the top of your xml file should look like this:

[code]

not

[code]

The second one is outdated & incorrect. You can't specify the xsd location any more because Nifty now uses the xsd file included in the source code itself (http://nifty-gui.lessvoid.com/?page_id=579).

[2014-08-21 03:01] ghost commented on #269
If you have a good IDE (cough_intellij_cough), you should notice some errors come up in your xml.

[2014-08-21 03:24] ghost commented on #269
In the meantime, the code using images with text inside (the first version, no button controls) renders correctly with the stock font aurulent-sans-16, which most likely means your font files are broken.

[2014-08-21 03:34] ghost commented on #271
@Blackhole16 You need to use the Nifty Gui manual for such basic things. You know the pdf comes with the Nifty source code in nifty-core/manual/ right? You can also get it from https://github.com/void256/nifty-gui/tree/1.4/nifty-core/manual - right click on the pdf and choose "Save link as...".

There's not too many people here to help, and most of us are very busy, so please do your research befo

[2014-08-21 07:30] oberien commented on #269
Thanks for your reply and the new header.

Here are all files:
res/imgs/ui/bg02.png:
![bg02](https://cloud.githubusercontent.com/assets/4820508/3992922/dcb42f4a-2904-11e4-8f71-e2949ae20751.png)
res/imgs/ui/button.png:
![button](https://cloud.githubusercontent.com/assets/4820508/3992934/fe90d460-2904-11e4-9363-279cfe9c98e4.png)

and here are the fonts:
res/fonts/32/aristrikecond.fnt:
http://www.fil

[2014-08-21 07:40] oberien commented on #271
I read and worked through the whole manual and still have it open on my secondary display all the time. I searched through the manual and didn't find anything regarding ondemand color changes with java of elements, neither in the manual, nor in the internet. That's why I am asking here. I always look into manuals, javadocs and search the web, before asking dumb questions :)

[2014-08-21 13:14] oberien commented on #269
Ok, the bug has nothing to do with fonts and images! The bug actually only appears, if I use both fonts in one screen. So if I use airstikecond.fnt with 128px and later use airstrikecond.fnt with 32px, this odd bug occurs. I already tried renaming the 128px-files (1x fnt, 3xpng; changed references in the fnt-file), but the bug still persists.

[2014-08-21 13:56] oberien commented on #269
I isolated the bug! It has nothing to do with filenames, it's the face's name! Both the 32px- and the 128px-font do have the same face's name. After changing the names in the font-files, the bug was gone.
I also found out, that all crappy letters, which have buggily been displayed in size 32 instead of 128, have been in airstrikecond_0.png of the 128px-font.

My hypothesis what happened is the fol

[2014-08-21 16:47] relu91 commented on #269
Just for reference I've also didn't know about the dependence of [jglfont](https://github.com/void256/jglfont). So while I was digging in the batch renderers code I've found this strange library. It come out that it's an other project of @void256 so he can give more explanation about how it works :+1: . I'm eager to know the pro and cons of using that library and not giving the responsibility to l

[2014-08-21 16:59] oberien commented on #269
I actually have no idea how to use jglfont, but the BatchRenderDevice uses this lib to load the fonts, so we just had to implement it, but not directly use it. So I think, that the renderer backend still has the responsibility :)
The thing is, that nifty (and therefore also JME, I think) only supports *.fnt font files, which are very rare on the internet. Therefore BobTP uses BMFont to convert ttf

[2014-08-21 23:46] ghost commented on #271
Good to know you're doing all that. =) I checked the manual and while it does have a section on runtime element modification, it doesn't specifically mention changing a panel's background color, so sorry about that ;-). That should really be in the manual. Although the entire manual should be transcribed to the wiki, and then burned, lol...

[2014-08-22 08:18] oberien commented on #271
So is there actually a way to get the backgroundColor of a panel? :)
Or do I have to handle it manually in a HashMap in my Controller-class?

[2014-08-22 09:21] ghost commented on #271
@Blackhole16 I don't see a way to do it. That's pretty weird...

[2014-08-22 10:12] oberien commented on #271
If there really wasn't a way to get the backgroundColor of an element, I think @void256 maybe could implement such a function either directly to the Element or to the PanelRenderer. What do you think?

In my case I think I need to use a HasMap in my Controller-class to save the current backgroundColor of my Elements.

Kind Regards,
BH16

[2014-08-22 14:01] relu91 commented on #271
totally agree! the wiki really needs to be improved. Maybe we should think also about a friendly structure, right now is not to easy to read. At least for now the pages document could be dumped to a doc one so others could be able to contribute with that with PRs .

About this problem an other trick, which is used also in nifty-editor, it's the use of ElementType class. Althought it's not be desig

[2014-08-22 14:16] relu91 opened #272 "Improve Nifty-Gui documentation"
Hello, the title is a bit ambiguous, nifty-gui actually has a great documentation but it suffers to be a lot static in the time. This is caused by that the only source of satisfying knowledge about nifty is locked in a pdf. As I mentioned in #271 at least an editable version (.doc) in the git repository would helps. People could make pr with their changes. An other choice would be to import the wh

[2014-08-22 16:06] oberien commented on #272
I would prefer a well organized wiki, but as you said, that would be a lot of work. Maybe someone of the community could import it into a wiki, maybe even an extern wiki and not the github-wiki (e.g. wikia).
I would only agree to a coexistance, if the manual was used as an introduction into nifty as kind of a tutorial. But in a wiki I'd like to find everything :) From the basics (maybe someone can

[2014-08-22 16:08] ghost commented on #272
Also, the JME wiki could be used (at least in the beginning) for basic tutorials (at least at the moment), as the basics of Nifty are all pretty much covered up in it.

[2014-08-22 22:32] oberien commented on #271
Thank's for the workaround solution. It works on first-time-use. But for any reason only on the first time i click the panel.
So if i hover over the panel, the hover-effect (black border) will appear. If I click into the panel, the color will change. But after that the whole panel freezes. The hover effect is still on, even though I don't hover over this panel. It also doesn't react to any other m

[2014-08-23 00:49] ghost commented on #272
Manuals are dead. Everything **_needs**_ to be moved over to the wiki. That's the only long term solution that makes sense. Nifty Gui is still undergoing so much change, that the only way to keep up is to use a wiki because of it's dynamic nature. Even if you have an editable manual document, when Nifty Gui is released, the manual everyone gets with the release version will be frozen.

So, for exa

[2014-08-23 00:51] ghost commented on #272
Not to mention that the manual exists in the source code, it's not easy to find if you don't build Nifty Gui from source. Everyone nowadays expects the information to be in a wiki. No one reads manuals any more lol.

[2014-08-23 01:59] ghost commented on #271
See https://github.com/void256/nifty-gui/pull/273.

[2014-08-23 08:58] relu91 commented on #271
It could be that what the refresh method does it simply breaks the element life-cycle handled by nifty so in a more complex environment than the nifty-editor things going to be wired. Well thanks to @3xp0n3nt now you have a far easier solution! :dart:

[2014-08-23 09:02] relu91 commented on #272
Yeah that's right... I thought that the manual could represent the same thing of JME beginner's guide but as you said nifty-gui is far more dynamic than jme so it could be a pain. I was thinking how can we handle the difference in nifty-gui version on the wiki ? Different section ? or specific paragraphs in a general one ? ( like in the manual when it's talking about margins )

yeah there are a lo

[2014-08-23 09:20] ghost commented on #272
The main content of the wiki should be assumed to be the latest released version, i.e., 1.4. Then there should be separate sections for "odd" versions, such as 1.4-SNAPSHOT (experimental), 1.3 (outdated / deprecated), 2.0 (dreamland), etc. Those "odd" sections should not repeat all the main content, only describe features that are specific to / different from the main current release.

It's a crim

[2014-08-23 09:23] relu91 commented on #272
:laughing: . About the main content we should follow the some structure of the manual or do you think we can have more freedom ?

[2014-08-23 09:23] ghost commented on #272
Version 2.0 will probably require it's own wiki because it's so different.

[2014-08-23 09:26] ghost commented on #272
I don't really care for the layout in the manual, I think it's pretty disorganized and we could do way better. There's no point in copying the structure. During transcription we should aim to re-organize it. A wiki is not a PDF so it shouldn't be organized the same way (but the manual's organization kind of sucks anyway). The manual should simply be viewed as a giant box of content that we can pul

[2014-08-23 09:27] ghost commented on #272
I'm willing to work on the transcription, not only am I excited about it, but I have a lot of content to add myself that is not even in the manual or wiki yet.

[2014-08-23 09:31] ghost commented on #272
I need to add a chapter on LibGDX integration, batch rendering configuration, deprecated rendering methods, how to add a new backend to Nifty Gui, and a section on the future of Nifty Gui, that can be a space for saving ideas, like preparing Nifty Gui for Android, moving the rendering system forward, integration with https://github.com/void256/coregl, and missing / needed / undocumented features,

[2014-08-23 09:32] ghost commented on #272
Thinking about starting on it right now actually... I'm bored of hacking on my [game](http://forums.tigsource.com/index.php?topic=42666.0).

[2014-08-23 09:40] ghost commented on #271
When I see such abuse of Nifty with evil hacks:

http://youtu.be/ajUlhaX9hQI?t=8s

[2014-08-23 09:40] relu91 commented on #272
I'm eager to read all that things! :+1: . I'm glad that you are starting to work with this I think that it would boost the nifty-gui development! . Just a little of topic thing ... the libgdx integrant can't run on android ? sorry for dumb question but the new batch system is totally obscure to me :) I thought that you are using the ligbdx render engine to render nifty-gui.

[2014-08-23 09:42] relu91 commented on #271
ahhaha :laughing: I was forced to that .... otherwise nifty-editor would never seen the light.

[2014-08-23 09:43] ghost commented on #272
Yes, Nifty Gui can run on Android via nifty-renderer-libgdx. It just needs some tweaking, and a nice nifty-examples-mobile module with tiny assets to demonstrate it. I got one of the nifty-examples demos running on my old Android phone like a year ago, but I haven't had time to finish that project.

[2014-08-23 11:43] oberien commented on #271
As this is getting quite OT now and the pull request has been made, I think I am going to close this issue now :)
Thank's for the help!

[2014-08-23 11:43] #271 closed, assigned to nobody

[2014-08-24 21:28] oberien opened #274 "Make nifty handle InputEvents but not consume them"
I'd like to use nifty in a HUD in front of an in lwjgl rendered game. The problem is, that nifty consumes all inputEvents. By calling Nifty.setIgnoreMouseEvents is doesn't handle these events anymore, as it returns false in the beginning of processMouseEvent. Is there a way to achieve this?

If not, this will be a quick sourcecode-edit implementing this feature. I didn't test it and therefore I do

[2014-08-25 17:27] HariboTer commented on #246
Sorry for the long silence, I was just too frustrated to get back to this. I just tried again with the most vanilla nifty I can think of.
This is the screen:

[code]

Simple, vanilla, and: Not working. I can see the panel, it is where it's supposed to be, and when I click it, the method is called, everything seems fine, BUT: there is no hint! Regardless whether I try to tell nifty to start them or

[2014-08-26 08:07] relu91 commented on #246
Looking in to hint effect implementation there nothing fashion ... the hint will simply added to a layer and then shown when it is active. So it's hard that it could be a renderer issue... your best bet is to debug nifty code and see if the hinteffect is doing right. See the new article in the wiki about how working form source: https://github.com/void256/nifty-gui/wiki/Working-from-Source thanks

[2014-08-26 10:34] ghost commented on #246
@relu91 A popup layer is a modal dialog, meaning it blocks all user input
from reaching anything else. This is not a desirable behavior for hints.

Aaron Mahan
Co-Founder & CEO
Forerunner Games, LLC
http://forerunnergames.com/
Peril: http://perilgame.com/

On Tue, Aug 26, 2014 at 12:07 AM, relu91 notifications@github.com wrote:

[2014-08-26 12:25] ghost opened #276 "Executable LibGDX Examples Jar Missing From Nifty 1.4.0 Download"
Steps to Reproduce:
1. Download http://sourceforge.net/projects/nifty-gui/files/latest/download
2. Extract nifty-1.4.0-complete.zip
3. Navigate to extracted nifty-1.4.0-complete folder.
4. Notice that `nifty-examples-libgdx-desktop-1.4.0-jar-with-dependencies.jar` is missing.
5. Double click `nifty-examples-libgdx-desktop-1.4.0.jar`.
6. You will receive an error stating that: "The Java JAR file “n

[2014-08-26 13:14] relu91 commented on #246
Oh right! nevermind then ;)

[2014-08-26 14:05] HariboTer commented on #246
Thanks for your help!

I made an interesting find when I activated the debug panel colors. I remember, "back in ye good olde Nifty 1.3.2 (when things were working :-P)", everytime a new hint was shown, a new color got laid over the whole screen (because a new layer was used for a new hint), so everytime I hovered another element, the screen changed its general color.

This does not happen any more

[2014-08-26 14:26] ghost commented on #246
@HariboTer I'm hacking on Nifty right now, if you give me an [SSCCE](http://sscce.org/) (basically the bare minimum of code needed to compile and run - because I'm not going to write code to try and approximate yours) I'll check it out. If it's a rendering issue, or a standard controls issue, it shouldn't be too difficult. If it's a Slick issue, well, I don't use Slick, so chances are slim.

Are y

[2014-08-26 14:47] relu91 commented on #274
I think this is covered in the manual, but only about Slick2d implementation ... read the section INPUT FORWARDING under INTEGRATION WITH OTHER SYSTEMS chapter. I think that your solution is a bit simple and maybe doesn't fit well for a general propose case. The right way to do could be working with InputSystems as it was done with Slick2d.

[2014-08-26 14:56] ghost commented on #274
@Blackhole16 I just implemented this for the LibGDX backend. Check this out:

https://github.com/void256/nifty-gui/commit/c3e2591ca92080bff98ba993069b735ede889091

You're probably not using LibGDX, but is that the idea you're after?

[2014-08-26 17:31] oberien commented on #274
I found the Error, it is working now.

@relu91 This InputSystem for whatever reason haven't be working. Therefore I implemented a manual input forwarding described in the 13th answer in this thread: http://slick.ninjacave.com/forum/viewtopic.php?t=3436 (Posted: Fri Jul 01, 2011 3:13 pm by arielsan).

@3xp0n3nt Exactly that is what I WAS looking for.

As I use the StateBasedGame's implemented metho

[2014-08-26 17:31] #274 closed, assigned to nobody

[2014-08-26 18:10] HariboTer commented on #246
As mentioned above, no errors, no warnings (if I had gotten some, we would probably be a few steps ahead in solving this issue).

I stripped the error down to its bones, here's a link to the source files (zipped to 2.52 KB^^) which don't need any more than the standard Nifty+Slick library environments: https://www.mediafire.com/?f921zamxoa0xqtl

[2014-08-27 19:12] ghost commented on #272
Well maybe I should post here when I update the wiki? This could be a never ending issue ;-).

https://github.com/void256/nifty-gui/wiki/Working-from-Source (near complete rewrite)
https://github.com/void256/nifty-gui/wiki/Examples (new)
https://github.com/void256/nifty-gui/wiki/Controls (updated wording & links, converted completely to markdown)

I think all the wiki pages should be the same form

[2014-08-28 08:18] relu91 commented on #272
Yeah it's better with only markdown. The reason why it was built with media wiki it's that I had simply cut&paste the pages from the old wiki without to rewrite them from scratch! So awesome work! About posting here, you could refer this issue when you edit the wiki I think it works.

[2014-08-29 03:37] HariboTer commented on #246
@3xp0n3nt Can you confirm the hint problem or is my local file system messed up completely?

And thanks a lot for your efforts - so far it's the only chance for my hints to be revived at all :-S

[2014-08-29 17:41] void256 commented on #276
Alright! I've added the missing examples jar to the nifty-1.4.0-complete.zip and uploaded it to sf.net.

This made the zip twice as large :wink: For new Nifty releases we might want to find another way so that all the resource files of the examples are not duplicated in each example jar again or something like that.

I'll close this issue now! Thanks for the detailed solution description @3xp0n3nt

[2014-08-29 17:41] #276 closed, assigned to nobody

[2014-08-29 21:46] ghost commented on #246
@HariboTer I've been super busy, but I'll try and take a look as soon as I can. Sorry.

[2014-08-29 21:49] ghost commented on #276
Holy cow!

I don't really know of a solution off the top of my head for this. The problem is that an executable jar must contain all the libraries inside of it. I want to make executable jars for all the backends, which could increase the size quite a bit. In my opinion, it's worth the trade off of the size increase. What do you think? Any other ideas?

[2014-08-29 22:06] HariboTer commented on #246
@3xp0n3nt No problem, I didn't mean to put you under pressure - luckily there's no deadline for this :-)

[2014-08-29 22:08] void256 commented on #276
I like the idea of a single executable jar file for all the examples for all the backends! We'd just need some bootstrap Main class that you would need to call with a parameter which backend / RenderDevice you want :smile:

Another solution would be to have the executable jar containing only the render backend specifics and add a separate resource jar (with all the examples) to the classpath manua

[2014-08-29 22:11] ghost commented on #276
@void256 Doing that method, I think you can create simple script files, like .bat for windows, or .sh for os x / linux, that will execute the appropriate command.

[2014-08-29 22:56] void256 commented on #269
There is nothing special about jglfont. It just loads bitmap fonts and now actually supports generating bitmap fonts on the fly from .ttf as well (!).

At some point we had the same bitmap font loading code in several NiftyRenderDevice-implementations so it was necessary to extract that code into a separate library OR add it to Nifty core. But since it was general enough to be used outside of the

[2014-08-29 23:05] void256 commented on #261
If there was a reason for that I can't remember right now :/ I don't think it makes much sense. Actually, I've checked other controls like the TextFieldControl and they don't do that check. Strange.

I'll remove it.

[2014-08-29 23:10] void256 commented on #261
Fixed with commit 17acc96d460ea2ca4752565eba57534e29aea497
Ticket will be closed.

[2014-08-29 23:10] #261 closed, assigned to nobody

[2014-08-29 23:29] ghost commented on #261
@void256 Interesting. I would have submitted a PR, I just thought there was a good reason for it. Thanks for the fix!

[2014-08-30 08:14] oberien commented on #269
Thanks, I think Bobtp will soon close this issue :)

[2014-08-30 08:34] relu91 commented on #269
So would it be a standard for all renderers? I mean , can I supposed that all the renders could read .ttf files ?

[2014-08-30 09:49] void256 commented on #269
I think it should be standard for all renderers we maintain in the nifty repository. I don't see any reason  not to use jglfont there. In general, however, a NiftyRenderDevice implementation can support any kind of font formats. So you can't really assume the same font formats being supported in all NiftyRenderDevices especially if we don't maintain it as it currently is the case for the jme-rende

[2014-08-30 11:17] relu91 commented on #269
Yep I just need this information to cover a nice support for nityeditor. For example currently the only fonts admitted are the system fonts so when the user will load the gui in his runtime he doesn't see what he expects :smiley: . So support for bitmap fonts in nifty-editor should be enough it's also widely use, but in this case the font size can't be dynamically changed right ?

[2014-09-02 21:04] ghost commented on #246
Well it's officially confirmed that hints are broken in the entire Nifty Gui library, lol. No more info yet.

[2014-09-02 21:18] void256 commented on #246
I can confirm that o_O Looking into it right now ... very strange

[2014-09-02 21:19] ghost commented on #246
Well I've tracked down the specific file and commit that broke this, working on a fix...

[2014-09-03 01:59] ghost commented on #246
Well, I've got a fix, but I'm not comfortable submitting it because it's indicative of deeper issues with the element show / hide effect system. @void256 I need to discuss this with you probably in IRC because it's pretty complicated and we need to figure out a sane solution. I don't want to put a bandaid on the hint system which would just be covering up this deeper bug.

[2014-09-03 06:07] ghost commented on #246
I went ahead and PR'ed the fix anyway.

[2014-09-03 19:13] void256 commented on #246
I'm pretty sure this commit c8a6030e78225cb5dc7a4cc3aba22df686339b68 broke that! I knew it was kinda risky to change that :/

@3xp0n3nt Can you make a real pull request out of your commit? I'm not able to apply it otherwise. Or do you want me to pull that from your repository directly?

Solution 3) would be the best but I don't know yet why it's not working ...

[2014-09-03 19:19] void256 commented on #246
Ok, wait!

This works as well. See the two comments I've marked with "void256". And I've only showing the two methods I had to modify in the Hint effect class:

[code]

This seems to work for me at first glance. What do you think @3xp0n3nt ?

[2014-09-03 19:58] ghost commented on #246
@void256 Oops! Thought I submitted the PR. My mistake!

[2014-09-03 20:02] ghost commented on #246
@void256 Yes! That works. Funny, I originally changed the `if (!hintPanel.isVisible())` to `if (!hintLayer.isVisible())` when I was debugging, and it did improve things, but for some reason I put it back o_O.

[2014-09-03 20:12] ghost commented on #246
I thought @mkaring broke hint effects with bd08f8ce208a2b8e626d1e5f467beb016ac93360, but now I'm betting that it actually worked prior to c8a6030e78225cb5dc7a4cc3aba22df686339b68, lol...

[2014-09-03 20:24] ghost commented on #246
@voi256 It works, but it's still masking a deeper problem of why we cannot show a child element directly after showing it's parent. I know why it's not working, but I'd like to discuss possible ideas for solutions in IRC. I'm in there right now for a little while.

[2014-09-03 21:17] #246 closed, assigned to nobody

[2014-09-03 21:44] void256 commented on #246
This commit 77059d2544d3825aaa680491683b377aa1b1fb41 is related as well - forgot to mention it.

[2014-09-03 22:32] ghost commented on #269
I think that https://github.com/void256/jglfont should emit a warning when it detects a duplicate font face.

@BobTP @void256 Could we change the title of this issue to something font related and then close it? The title is misleading, and the original issue has been resolved.

[2014-09-04 12:13] HariboTer commented on #246
It's very reliefing to hear that this issue could be confirmed and resolved! Thanks a lot for your efforts :-)
Is there already a nightly snapshot for this? I'm excited to see my hints again, it's been such a long time ago that we've had our last meeting ;-)

[2014-09-04 22:42] void256 commented on #246
@HariboTer Thanks to @mkaring there should be a build triggered automatically after each push to the repo which will automatically deploy the snapshot build in the nifty maven repo at sf.net. You can always get these builds from here: http://nifty-gui.sourceforge.net/nifty-maven-repo/lessvoid/nifty/1.4.1-SNAPSHOT/?C=M;O=D

[2014-09-05 01:41] ghost commented on #246
@void256 What happened on IRC yesterday? You pulled a ninja-vanish. http://youtu.be/U8WrlTLF_XY?t=15s

[2014-09-05 06:44] void256 commented on #246
@3xp0n3nt yes, somehow my internet connection suddenly died. At first I thought it's the 24 hour dsl disconnect but the connection didn't came back. I've waited like an hour without success :cry: I'm sorry for the Ninja vanish :/

[2014-09-05 06:49] ghost commented on #246
lol...no problem.

[2014-09-05 07:25] blisterfingers opened #282 "Setting up 1.4 with LWJGL"
I'm just trying to get set-up and running a simple hello world but adding a new LWJGLRendererDevice, the javadoc tells me it's depreciated. So I try and use the suggested 'new BatchRenderDevice(LwjglBatchRenderBackendFactory.create()); and my program exits, complaining about java.lang.ClassNotFoundException: org.jglfont.spi.ResourceLoader

I noticed that JGLFont is one of Void256's other projects

[2014-09-05 13:04] oberien commented on #282
Jglfont is the fontloader for several renderers,  including the batchrenderer. You must include jglfont into your classpath for it to work.

[2014-09-05 19:39] blisterfingers commented on #282
Hmm. Thanks for your assistance but after adding in JGLFont, I get errors about EventBus and after adding that I get errors about XMLPull which I can't get to work no matter which version of their oddly named jars I add to the build path.

Now, I'm no expert by a long shot but if I don't even have a list of the needed dependencies, I can't see how I can possibly get this working.

I looked at mave

[2014-09-05 20:56] blisterfingers commented on #282
Alight. I had a random stab in the dark and added a bunch of XMLPull jars to the build path and it works.. mostly. I'm able to run a simple Hello World. Unfortunately calling nifty.update() never returns true which, when using the example from the manual, causes the app to hang. I'm just calling it once per update tick of my application but I have no idea how acceptable this is. I suspect it would

[2014-09-05 21:40] oberien commented on #282
Exactly, forgot about the xmlpull. We only use xpp3-1.1.4c.jar, not the other ones.
If someone else want's to know the libs, don't forget about the underlaying lwjgl jars :)

[2014-09-05 22:19] blisterfingers commented on #282
I was damn sure that jar was the first one I tried and it didn't work, but I just removed the other two and it still works so you're absolutely right..Also I'll close this now.

[2014-09-05 22:19] #282 closed, assigned to nobody

[2014-09-05 23:57] void256 commented on #282
I've added the missing external dependencies (eventbus-1.4.jar, jglfont-core-1.4.jar, xpp3-1.1.4c.jar) to the nifty-1.4.0-complete.zip and re-uploaded it to sf.net. So if someone downloads that zip, they will now get the external dependencies with the main Nifty download: https://sourceforge.net/projects/nifty-gui/files/nifty-gui/1.4/

Additionally I've added a page with some minimal LWJGL 1.4 exa

[2014-09-07 22:02] HariboTer opened #283 "Occasionally, hint(-effect)s may be located behind popups (thus partially or completely hidden)"
After the recent reappearance of my nifty hints (thanks again to the contributors that helped fixing this!), I noticed that sometimes, hint effects were added to a layer that was behind a popup's layer and further testing has shown that this behavior occurs every time a popup is shown after at least one hint effect has been displayed on the corresponding screen. Presumably, the hint layer is added

[2014-09-08 06:20] ghost commented on #283
Then I guess [this line](https://github.com/void256/nifty-gui/blob/1.4/nifty-core/src/main/java/de/lessvoid/nifty/effects/impl/Hint.java#L99) doesn't work lol:

`hintLayer.setRenderOrder(Integer.MAX_VALUE);`

[2014-09-08 16:02] relu91 commented on #107
This should be closed feel free to re-open if there's something that I've missed

[2014-09-08 16:02] #107 closed, assigned to nobody

[2014-09-11 15:29] relu91 opened #284 "Improve Java2d renderer"
I've opened an other issue to keep track of what should be changed in Java2d renderer. This need came up after the #277 pull request and our will to keep this renderer.
In my opinion a little thing that needs refactor is font rendering, right now it's only supported stardard awt font and not bitmap fonts which is a standard de facto in the most of game engine renderers.

[2014-09-11 15:32] relu91 commented on #284
Also this issue could be a start : #231

[2014-09-11 16:23] bgroenks96 commented on #284
I would like to rewrite some of the base rendering code, like using a VolatileImage as the buffer canvas instead of BufferedImage. In my past experience, VIs often provide hardware accelerated rendering far more reliably. Conversely, they tend to perform as well and often much better than simple BI back buffers.

[2014-09-12 06:45] ghost commented on #105
I just got bit by something similar. Apparently, if you have an xml control definition file, and you specify a style in the `<controldefinition>` tag, and then you have another `<control>` in that same control definition, you can't specify a substyle for that control. It will just be ignored. You can only specify a "normal" style that doesn't use the `#`.

The archetypal example for this issue is

[2014-09-12 06:49] ghost commented on #105
@void256 The use case I specified above seems much less complex than @HariboTer's. It seems like something that would not be too difficult to fix. I had a difficult time, however, understanding Nifty's style resolving code.

[2014-09-12 07:11] ghost commented on #284
One issue that sticks out like a sore thumb:

The Java2D renderer can't use the batch rendering system, which has all sorts of nifty improvements (quad batching, multiple texture atlases, non-atlas textures, jglfont backend, font caching, image caching, etc).

It's kind of a separate issue, but we really need a new `RenderDevice` interface. The current one is so outdated that basically `BatchRende

[2014-09-12 08:22] relu91 commented on #284
Sorry for my ignorance but bound nifty render engine to openGL is a limitation of freedom that it has before,isn't it ? I mean Is this  not causing issue if I'm going to write a renderer that won't use openGl at all? For example porting nifty to c# and use XNA framework. Just my random thoughts ...

[2014-09-12 14:20] bgroenks96 commented on #284
@3xp0n3nt So you're suggesting that we worry about refactoring the Nifty core API first, before we go about rewriting the Java2D implementation?

Correct me if I'm wrong, but the BatchRenderDevice is meant to write textures to TextureAtlases and ultimately draw the entire GUI in as few GL draw calls as possible correct?  While it's true that we can't make direct OpenGL calls from Java2D, it is con

[2014-09-12 17:53] relu91 commented on #105
I hope that @void256 has time to make a little light on style thing. Everytime I've look at it, I couldn't find how it won't work... mostly styles work but if you are not using controls, that is the 99% of use cases. Also I've found that setStyle doesn't work for controls, but I not sure and I need to test it again.

[2014-09-12 20:58] void256 commented on #284
Both, @3xp0n3nt and @relu91 have good points!

There is not much reason to not use the BatchRenderDevice for everything since it's a far better approach to rendering when considering any OpenGL backend.

However, I think @relu91 has a valid view as well. The original RenderDevice interface is so brutal simple that I'm a bit afraid that forcing everyone down the BatchRenderDevice way of doing thing

[2014-09-12 21:14] void256 commented on #105
Style resolving is, unfortunately, one of the worst parts in Nifty. The last time I tried, I gave up. It's a difficult beast to battle. I'm not sure what to do with it, to be honest :/

[2014-09-12 22:52] ghost commented on #284
@bgroenks96 What you are describing regarding simulating texture atlases sounds great. It is, however, confirming what I mentioned above about having to rewrite / duplicate all of the functionality in the batch rendering system, since you can't "tap into" the existing functionality, which is a shame. It's just going to be a lot more work for you, especially as the batch rendering system evolves, i

[2014-09-12 23:01] ghost commented on #284
@void256 Ok, so we'll leave `RenderDevice` alone, for now ;-).

(`RenderDevice` breathes a sigh of relief...). :sweat_smile:

[2014-09-12 23:23] ghost commented on #105
Someone needs to write lots of tests for it and then create some tests that fail, such as substyles on controls, and then refactor to make the tests pass. Not saying it's going to be easy. But we need to do something, not just give up. @void256 If you could explain HOW the style resolving code works, with snippets from the actual codebase, it might help. Also if you could explain where you're gett

[2014-09-12 23:24] ghost commented on #105
The lack of errors & warnings is the most disturbing part. Failing silently is the worst kind of evil. I would not wish it upon my enemies.

[2014-09-13 00:04] void256 commented on #105
OK! Maybe we should review it together on IRC or something? I don't wanna go to that dark place alone again :sweat_smile: :satisfied: We should arrange a meeting!

[2014-09-13 02:27] ghost commented on #105
Sure!

[2014-09-13 02:28] ghost commented on #105
@mkaring Would love to have your help with this, since you seem to know Nifty better than anyone.

[2014-09-13 09:31] mkaring commented on #105
@3xp0n3nt I'll join in. But that layout resolving is nasty (not nifty). Its not going to be pretty.
@void256 Give me a ping on gtalk in case I do not react in IRC.

[2014-09-13 09:39] void256 commented on #105
@mkaring Nice! Will do!

@3xp0n3nt I know you usually work at cruel times :wink: but I think it's best you give us some timeframe or possible times for a meeting that will still be comfortable for you considering your time zone :smile: The plan is to take a first look at that style resolving mess and I'll try to remember what the hell I was thinking when writing it :wink: and then we'll see what w

[2014-09-13 09:43] relu91 commented on #105
Can you guys make a summary of your discussion here? :smiley: I would love to listen how the style system will change, but I'm pretty busy now , so probably I won't be on IRC when you will discuss about that :P .

Thanks

[2014-09-16 05:47] ghost commented on #105
@void256 @mkaring How about the usual IRC meeting time? 10 PM GMT? I
believe that's the correct time.

Aaron Mahan
Co-Founder & CEO
Forerunner Games, LLC
http://forerunnergames.com/
Peril: http://perilgame.com/

On Sat, Sep 13, 2014 at 1:43 AM, relu91 notifications@github.com wrote:

[2014-09-17 15:02] bgroenks96 commented on #284
@3xp0n3nt More work, yes perhaps. But that doesn't mean I won't do it ;-P

If you can give me a general idea of what I should start working now, refactoring wise, I will get started as soon as possible. Should I start with the Batch rendering simulation?

[2014-09-17 18:50] ghost commented on #284
Sounds good to me; I don't see why not.

[2014-09-22 17:12] spaceemotion opened #285 "[help needed] Create drag-and-drop inventory screen(s)"
I saw that nifty-controls comes with drag-and-drop controls and tried to make an inventory screen with that. Given that my inventories have slots and items that can be "dragged" and "dropped" from slot to slot (not just _\_click*\* and they pop up somewhere else :D) I thought about mixing these two.

Here's my idea: I have a container/control that is called "inventorySlot". It contains a "droppabl

[2014-09-22 18:09] relu91 commented on #285
I think that the problem is that you are not setting the childLayout in droppableContent, see [this line](https://github.com/void256/nifty-gui/blob/1.4/nifty-controls/src/main/resources/nifty-controls/nifty-dragndrop.xml#L6). You must define a new stile that will set the child layout in that panel :+1:

[2014-09-22 18:23] spaceemotion opened #286 "Possible memory leak with popups?"
When I debugged my code today, I saw that I had over 500 popups - every time I open up a popup "screen" (like the inventory, shops, etc.) I create a new popup instance from a popup type ("inventory", "trader") each time I press the buttons on my keyboard to open they up.

Now; I am using nifty's closePopup function - and while thats good and it closes it, it actually does not remove the popup inst

[2014-09-22 18:28] spaceemotion commented on #285
@relu91 Thanks! True that I didnt try that one yet, but after adding this:

[code]

It crashed again:

[code]

[2014-09-22 18:31] relu91 commented on #285
You are probably hitting the #105 , see there for workarounds .

[2014-09-22 20:41] spaceemotion commented on #285
Yup, that did the trick - thanks!

[2014-09-22 20:41] #285 closed, assigned to nobody

[2014-09-24 05:40] bgroenks96 commented on #284
@3xp0n3nt

Exactly how does the batch renderer handle batched GUI draw requests? It writes them to a TextureAtlas correct? And this atlas is stored somewhere in VRAM? I suppose then the only actual performance benefit comes from not needing to rebind textures, since the data is still all being sent to the graphics card with each call. I'll have to think more about how to mimick that kind of capabi

[2014-09-24 09:25] relu91 opened #287 "setStyle method on a control doesn't do anything."
If you set a valid style id with setStyle method of Element class, if this class contains a control the style is not updated.

[2014-09-24 19:41] ghost commented on #284
@bgroenks96 Your explanation is _basically_ correct, but you should read the javadoc of [BatchRenderDevice](https://github.com/void256/nifty-gui/blob/1.4/nifty-core/src/main/java/de/lessvoid/nifty/render/batch/BatchRenderDevice.java), [BatchRenderBackend](https://github.com/void256/nifty-gui/blob/1.4/nifty-core/src/main/java/de/lessvoid/nifty/render/batch/spi/BatchRenderBackend.java), & [BatchRend

[2014-09-24 20:16] bgroenks96 commented on #284
We're keeping RenderDevice right? So wouldn't we want to keep the
RenderDevice implementation?

On Wed, Sep 24, 2014 at 3:41 PM, 3xp0n3nt notifications@github.com wrote:

##

Brian Groenke
bgroe8@gmail.com

[2014-09-24 20:33] ghost commented on #284
@bgroenks96 No, all non-batched `RenderDevice` implementations are deprecated and soon to be removed in an upcoming PR. It should stick around (for @relu91) at least until your new implementation is stable though.

[2014-09-25 14:18] WeirdAlien commented on #267
Unfortunatly that does not work with the interact..... Even though I return true both method are called.

[2014-09-25 21:19] spaceemotion commented on #286
Anything new?
I just tried reusing popups now and it seems somewhat fine, but still not 100% what I need.

[2014-09-26 14:38] Prognosticator opened #289 "How to handle MessageBox button click?"
I was looking through the MessageBox implementation via 'nifty-default-controls-examples-1.3.1.jnlp', and I see that all it does it create two message boxes: One with an Ok button, and another with a ok/cancel button.
I was interested in the message box with 2 or more buttons, in this case ok/cancel button. When the user clicks ok on the message box, how do i detect this? Similarly, when the user

[2014-09-27 03:18] ghost commented on #267
@SnakeCharmerz Quick thoughts: try changing the name of your custom callback methods to something other than the exact names used by Nifty. Also, try removing the parameter stuff and just use empty methods and see if you can get anything to happen.

[2014-09-27 19:37] void256 commented on #286
Yes, this is working a bit odd. You create an instance of the popup type but then you are supposed to reuse that instance! Not create new ones! :)

Basically you're supposed to create your popup instance once and then use `showPopup()` and `closePopup()` on that single instance only!

The 1.3.2 manual on page 44 explains that, I think.

[2014-09-27 19:55] void256 commented on #289
The MessageBoxControl was not done by me. Looking at it's source it really looks like it ignores the actual command in it's `close()` method! Good lord! I don't think there is a way in this control to check for OK or Cancel Buttons! Or I'm blind ...

I think what's needed is some publish event in the `close()`method that you can subscribe to via the EventBus that carries the command :smile:

If no

[2014-09-27 19:57] spaceemotion commented on #286
Well, I did - but when I "reopen" that popup i just "reopen" it. That means that any additional popups I created afterwards are still under the first one (when I have two open). It doesn't put the newest one back to the top :(

[2014-09-27 20:01] void256 commented on #105
Yes, that's a good idea! @3xp0n3nt  What day would be best for you?

PS: Sorry, was busy this week .. real life got me again but I now have a new bathroom :wink:

[2014-09-27 20:11] void256 commented on #286
Can you provide a SSCCE for that issue please?

Because after a quick look at `nifty.showPopup()` it should create a new layer for the popup at the Screen. And this new layer will be added at the end of the existing layers which really should add it on top of the existing layers in that screen.

[2014-09-27 21:24] ghost commented on #105
@void256 You're bathroom is being remodeled too? o_O

[2014-09-27 21:24] ghost commented on #105
@void256 I'll have to get back to you next week about a time, I'm swamped at the moment.

[2014-09-28 16:12] spaceemotion commented on #286
Oh wait, I think you're right. Once I moved my code to a static context it wasn't creating tons of new instances, hehe.

Now I have to do this to show and close popups though:

[code]

The `Nifty.showPopup` method takes a screen object, so I have to grab the current screen. Just a thought; maybe it could default to the current screen and only fail if we don't have a screen open atm.

[2014-09-28 18:01] spaceemotion opened #290 "Missing some interact methods in ElementBuilder"
Hey, I just noticed that you can set some "default" interact parameters via code, but not all of them. It seems that one cannot access the interact attributes either. Am I missing something? I really need to define different behaviours for left, right and middle clicks and need to do that via code.

Thanks in advance!

[2014-09-28 19:49] relu91 commented on #290
Could you please be more precise? What are you trying to do? Are you considering to use event bus to handle interact events?

[2014-09-28 19:59] spaceemotion commented on #290
No, I am using the interact stuff as explained on page 69 in the manual (yes, I am actually reading that ^^). It is using the `<interact />` tag in XML form, but in java this is very limited as it only allows the basic parameters like `onClick` and `onRelease`, but not `onPrimaryClick`.

I currently found a way to circumvent this by extending the ControlDefinitionBuilder and accessing the field th

[2014-09-29 03:33] Prognosticator commented on #289
Ok no worries!
I just went ahead and implemented my own message box control using the existing nifty default MessageBox implementation as a guide.
For others with the same issue who are looking for a quick solution to this problem, my fix was:
1- Introduce a new interface MessageBoxCallback with one method public void messageBoxResult(String buttonNameClicked)

2- For the ScreenController interest

[2014-10-01 18:43] spaceemotion commented on #290
@relu91 Any idea when you have some free time to add this?

[2014-10-03 09:13] relu91 commented on #290
Hey sorry for the delay, I think I'll add this after I've fished my last pull request! :)

[2014-10-08 13:12] oberien commented on #269
No comment on that title.....  Plase close this crap bob :)

[2014-10-08 14:19] #269 closed, assigned to nobody

[2014-10-11 02:17] armingensler opened #291 "Relative element IDs cause strange names"
Hi,
Maybe I'm misunderstanding how relative element IDs (e.g. `#foo`) are supposed to work, but the generated names seem to be somewhat strange. As a simple test I defined the following two custom controls and a simple screen using them:

[code]

I expected that the button has the actual name `control1#control2#btn` but this is not the case. I printed a recursive list of all elements in the screen

[2014-10-11 10:05] ghost commented on #291
I've encountered this as well, most likely a nasty bug. @void256 Good luck...

[2014-10-11 20:16] bgroenks96 commented on #291
Hi
If you can send me a unit test with your current Nifty XMLs that I can use to reproduce the bug, I would be happy to take a look and try to work out a fix.

[2014-10-11 20:21] oberien opened #292 "Using "${ENV.USERNAME}" in xml throws java.lang.IllegalArgumentException using Linux"
I used "${ENV.USERNAME}" in one of my xmls, which displays the Name of the current user fine using Windwos.
Now I tried setting up the project with Linux (Ubuntu 14.04) an I got the following error:

[code]

Removing the above statement form my xml runs the project perfectly fine with linux.

Kind Regards,
BH16

[2014-10-11 21:42] armingensler commented on #291
Thanks for your help. What exactly do you need? Only the xml files and a simple test program?

Btw: can I somehow attach files to these comments?

[2014-10-12 16:44] armingensler commented on #291
I just realized that I was still using nifty version 1.3.3 while there already exists 1.4.
With 1.4 the problem no longer seems to be there. Sorry for not checking versions first. I guess this issue can be closed.

[2014-10-13 13:39] johannt-dev opened #293 "Chat: No text shown in message boxes"
Heya!
I need some help with the Nifty-Chat. So I got the following in my XML:

[code]

... And this in java:

[code]

![chat](https://cloud.githubusercontent.com/assets/6951970/4617934/be0e3b7e-5304-11e4-8741-3637d0393771.png)

The chat over all is working properly, except that there are no messages in the chatboxes, while these are shown. Also the player is shown. And the message I type is also t

[2014-10-15 17:06] relu91 commented on #293
I can confirm that the chat is not working at all...

[2014-10-15 17:28] ghost commented on #293
It seems that there is currently no xml argument available to pass a font to the chat. However, I couldn't spot a way in Java either. Is there some kind of workaround for setting a font in a complex control like a chat? Or do we just have to wait for someone to fix this/write our own chat?

[2014-10-15 17:33] relu91 opened #294 "A question about draggable behavior"
Hello,
Today I've found a strange behavior of draggable control. Try to use a window within a panel and than drag it outside the panel, it will not stay where you drop it. This is caused because inside [dragCancel](https://github.com/void256/nifty-gui/blob/1.4/nifty-controls/src/main/java/de/lessvoid/nifty/controls/dragndrop/DraggableControl.java#L262) we are calling a method that move the draggab

[2014-10-15 18:48] #291 closed, assigned to nobody

[2014-10-15 20:26] oberien commented on #293
Why does the chat actually use a label-control for each message and not a text? Is there a special reason for that?

[2014-10-18 21:10] bgroenks96 commented on #206
I will try to get this fixed ASAP. It has been open for quite some time.

Thanks Julien.

[2014-10-18 23:03] ghost commented on #206
You're welcome.

[2014-10-20 20:08] oberien commented on #293
Will this be fixed soon, or is it better for us to implement an own chat?

[2014-10-20 20:15] bgroenks96 commented on #293
Do you have a working example (like a unit test) that I can use to reproduce the bug? I can try to take a look, I just don't have time to go putting together an entire setup program to test it.

[2014-10-20 20:25] oberien commented on #293
@relu91 seemd to have a kind of sscce as he could aprove the bug. We don't have a small example, as it's integrated into our big project...
Maybe I can get Hightek to create a sscce, maybe in the next few days, hopefully tomorrow.
But maybe relu already has one.

[2014-10-20 21:37] bgroenks96 commented on #293
If @relu91 has one or at least an easily extrapolated one that would be great. I just don't have time right now to set one up.

If someone can post one for me though, I will prioritize putting a patch out ASAP (assuming I can find the bug :worried: )

[2014-10-20 21:42] oberien commented on #293
hightek is working on an sscce and may post it today or tomorrow (CEST), but surely in the next 24 hours. It will requuire lwjgl, slick2d and nifty as it seems atm.

Like we already stated we might think it could be a bug having to do with fonts.

[2014-10-21 06:19] bgroenks96 commented on #290
@relu91 Is this addressed in your current pending pull request? If so, could you add a 'closes' #290 in its description?

[2014-10-21 06:57] ghost commented on #290
@bgroenks96 No, this has nothing to do with #288.

[2014-10-21 09:31] relu91 commented on #293
I used jmonkeyengine to test it, nothing special just a simple class with a controller that does what @HigHt3k  said. Here it goes:

[code]

and the class

[code]

In my tests no player or text is shown.

[2014-10-21 09:33] relu91 commented on #290
Yup, it's not link in anyway with #288 I just said that I will work on that after this pull request will be merged (due to lack of time). @bgroenks96 you can work on this issue if you want!

[2014-10-21 15:36] bgroenks96 commented on #290
Ok I misunderstood. Whoever has time first then @relu91 :smile:

[2014-10-21 15:57] bgroenks96 commented on #293
Thank you @relu91 I will try to look into this in the next few days.

I will probably try converting your JME base code to JOGL or LWJGL so that I don't have to setup JME (I don't have it setup right now :disappointed: ), but I will do both if necessary.

And if I can't figure out what's going on, hopefully @void256 will be able to :worried:

[2014-10-22 16:30] bgroenks96 commented on #293
It seems ChatControl was deprecated by @mkaring

This might mean it is best for you guys to build your own ChatControl, unless @mkaring can tell us if there is a replacement for the deprecated ChatControl class somewhere that I don't know about?

I'm going to keep investigating the issue, and if I can find the problem I might go ahead and push a fix for ChatControl while it still exists in the con

[2014-10-22 18:19] relu91 commented on #293
I chat control could be very useful in games.... I vote to keep it update!

[2014-10-22 19:16] bgroenks96 commented on #293
I encountered a git issue when trying to push partial changes to the master branch, so I went ahead and just pushed my changes upstream in my forked repo. The fix for this issue will be included in the merge for that pull request.

[2014-10-22 19:20] #206 closed, assigned to bgroenks96

[2014-10-22 19:20] #293 closed, assigned to nobody

[2014-10-22 19:27] oberien commented on #293
GG I LOVE YOU!!! :D

[2014-10-24 21:08] bgroenks96 commented on #284
Does anyone (@relu91 @3xp0n3nt) have any suggestions for how bitmap font support could be implemented?

[2014-10-26 08:23] relu91 commented on #284
When I looked for font support some months ago, since the actual java2d render simply render one font using AWT fonts. What I have found is this two resources :
- https://www.youtube.com/watch?v=uEOK8ihjDtU.
- http://www.java-gaming.org/index.php?action=pastebin&hex=54a6b5d74

Maybe you have just find them on your own, but still. :+1:

[2014-10-27 17:46] darkfrog26 opened #296 "Site is Down"
The link: http://nifty-gui.lessvoid.com/ is throwing an error 502.

[2014-10-27 22:00] bgroenks96 commented on #296
Confirmed. Come on @void256 :wink:

[2014-10-27 22:10] void256 commented on #296
Already forwarded to my provider .. can't do anything myself at the moment :/

[2014-10-28 00:23] bgroenks96 commented on #284
Are you aware of GraphicsEnvironment.createFont? That lets you load off/ttf files. I've never worked directly with bitmap fonts so I'm not really sure what you're looking for.

[2014-10-29 12:33] relu91 commented on #284
Yes; I am. The problem is that some other renders support only bitmap fonts. If nifty editor ( and the java2d render) will only support tff fonts the gui generated with it will not be compatible with the other renders. That's why a searched to implement a renderer for bitmap font in java2d :smiley:

[2014-10-29 14:22] bgroenks96 commented on #284
Ok. I will look into it and see what I can do, but my first priority is getting the Java2D implementation of BatchRenderBackend up and running.

[2014-10-31 09:55] oberien commented on #296
For me It's working. Close? :)

[2014-10-31 10:12] ghost commented on #296
Working for me also. Closing.

[2014-10-31 10:12] #296 closed, assigned to nobody

[2014-11-01 01:01] Alchemist0823 opened #297 "Problems adding multiple XMLs to nifty"
Nifty style breaks when I add multiple XMLs to nifty

[code]

[2014-11-02 09:02] oberien opened #298 "Questions about Nifty's EventConsumption"
As the given Input forwarder for whatever reason are not working for our project, I implemented a custom one. First I forward them  to nifty and buffer them for slick. Then I would like to let nifty consume the events it uses. After that I handle the not consumed ones in slick.

For cosuming I saw that this should be done in nifty.update(). Is this information correct? Are all events handled by Ni

[2014-11-02 09:46] oberien commented on #297
For me it doesn't. Do you maybe use the same ids for two mayor elements, you would like to call later through your controller, like the same screen name or item IDs?

[2014-11-03 08:23] Alchemist0823 commented on #297
It doesn't in 1.4.0 but It breaks in 1.4.1-SNAPSHOT.

[2014-11-03 08:57] oberien commented on #297
When did you maven it? I build nifty 1.4.1-SNAPSHOT about 2 weeks ago and for me it works completely as intended...

[2014-11-09 10:02] oberien commented on #293
The chat is buggy anyways in several cases. I think I might need to rewrite it, or using the existing create an own new controller...

If a message over several lines is displayed, the next chat message is on top of the 3rd line of the message before. A horizontal scrollbar appears, even though it isn't needed.
The vertical scrollbar doesn't work for me.
if a custom number of lines is used for the

[2014-11-09 11:52] void256 commented on #293
FWIIW

I've finally interviewed @mkaring about why he deprecated it on IRC. Here is what he said:

[code]

So, that was the reason. I think he is right.

Maybe in 2.0 we should move it into some example/demo project instead so that people can use it as some form of blueprint but concentrate on more important, more general controls that we publish directly with Nifty?

But that's not set in stone y

[2014-11-09 12:48] oberien commented on #293
I need to create a new Chat Control (or something similar) anyways, no matter what happens. I think I will start with the existing one and use the code of the current as base for mine.

If I get everything to work like expected, I may try to change the current nifty-chatcontrol to equal mine, if you wish :)

In case I get it working (i really don't know how whether i can do it) and include it into

[2014-12-04 12:04] noobSaibot1 opened #299 "playSound effect unwanted delay"
[using jmonkey 3.0]
whenever i try to play a sound with:

onHideEffect(new EffectBuilder("playSound") {
     {
         effectParameter("sound", "hide");
     }
});

there is a delay of a ~second before the element i am hiding (who triggered onHideEffect() )
actually hides and i don't want that delay.
can somebody help?

thanks

[2014-12-10 21:54] vincaslt opened #300 "Nifty-GUI 1.4 slick2d examples not working"
The steps that I used to build project were:

[code]

The 1.3 examples work splendidly, but using the same steps, I can't get 1.4 slick examples to work. I have tried lwjgl, libgdx examples, and they worked fine. Here are the warnings and errors:

[code]

[code]

[2014-12-10 22:17] void256 commented on #300
git pull and then build locally the slick examples project `mvn clean install`and then run it again and it should work :)

There was a missing jorbis dependeny which I've just added in this commit: b0976913e5c5a131f3144b89d143701f888ca5f8 and somehow the latest snapshot was not deployed correclty so that you have to build/install it locally (not sure why this is necessary tho).

I've tried it now

[2014-12-11 07:13] vincaslt commented on #300
Great job, works perfectly now.

Guess I should've figured it out myself, but I'm totally new to maven :D

[2014-12-11 07:13] #300 closed, assigned to nobody

[2014-12-27 11:07] vincaslt opened #301 "XmlPullParser error when packaging project to .jar"
I am trying to package my project to .jar file using JarSplice, however, when I try to run the generated .jar file, I get the following error:
![capture](https://cloud.githubusercontent.com/assets/944727/5561140/1dc7ce6e-8dc9-11e4-8297-e026adccf5ef.PNG)

Obviously, the file in Manifest/services does not exist after packaging, but how do I go about this?

[2014-12-27 11:49] mkaring commented on #301
In that instance JarSplice corrupts the jar and renders it unusable. You need to make sure that it preserves the manifest files. I am sure that works some way, but I can't tell you how.

In any case if you use such jar file mergers there is a good chance that many things that use reflection and the manifest files get into major trouble.

[2014-12-29 12:17] smirnovegorv opened #303 "Manual setting for localization bundle encoding"
In 1.4.0 the signature of method used for adding localization bundles has changed. It now accepts only bundle file name, and there is no way to affect how it is loaded.

By default, java properties are loaded in ISO 8859-1 encoding. However, it is quite restricted and, for example, does not contain cyrillic letters, that are needed for localizing game in russian and some other ex-USSR languages.

[2015-01-02 00:34] dustContributor opened #304 "LWJGL 3 support."
Hi! LWJGL 3 has been released. Most (if not all) the GLxx.xx calls are exactly the same but there are a few things here and there that changed (GLU is gone IIRC).

[2015-01-05 14:29] spaceemotion opened #305 "[2.0] Button example not working when showing FPS"
Like the title already says, the example does not seem to work properly if the FPS statistics are enabled:

![screen shot 2015-01-05 at 15 28 48](https://cloud.githubusercontent.com/assets/429147/5614272/97d31d26-94ef-11e4-988e-953ea1675344.png)

[code]

[2015-01-05 21:49] void256 commented on #305
That was a funny bug :smile: The ":root" CSS selector was being applied to all root nodes which includes the root node that Nifty internally created for the FPS counter.

The commit above should fix that.

As a general note: Nifty can support multiple root nodes and the ":root" CSS selector will be applied to all of them.

Thanks for reporting! :smile:

[2015-01-05 21:49] #305 closed, assigned to nobody

[2015-01-05 21:50] spaceemotion commented on #305
no problem ;) thanks for the fix!

[2015-01-06 04:39] bgroenks96 commented on #304
Is this a feature request? Or does using LWJGL 3 with Nifty break something?

[2015-01-06 04:57] bgroenks96 commented on #303
Which method signature and in what class are you referring to?

I am seeing no changes to Nifty.addResourceBundle between 1.3 and 1.4.

[2015-01-06 05:17] bgroenks96 commented on #298
When you register a method with an element via the `<interact onClick="methodName">` tag, you can make the return type of that method `boolean` and return `true` to consume the event.

Basically Nifty's event handling will just walk up the element tree until one of the specified methods returns `true` to consume the event or it gets back to the ScreenController.

As for your question about `nifty.

[2015-01-06 05:26] #298 closed, assigned to nobody

[2015-01-06 05:27] bgroenks96 commented on #299
Which SoundDevice are you using?

[2015-01-06 05:35] bgroenks96 commented on #290
This issue has the ready label, is there a fix pending somewhere? @relu91 @void256

[2015-01-06 18:06] smirnovegorv commented on #303
In 1.3 Nifty class had a `Map<String, ResourceBundle> resourceBundles`field.
In 1.4, it has a `Map<String, String> resourceBundles`, and actual ResourceBundle objects are loaded internally somewhere.

[2015-01-06 19:03] bgroenks96 commented on #303
This appears to be a side effect of commit 9547ad16a838a992927333303157c78a988f81b0 which addresses issue #100 (still open).

@void256 I will need your input on this for why exactly the `resourceBundles` HashMap had to be changed to `<String,String>` as opposed to `<String,ResourceBundle>`.

It seems to me like it might be possible to go back to the previous HashMap type and simply retain the impl

[2015-01-06 19:09] bgroenks96 commented on #301
This doesn't appear to be a Nifty issue. Would you agree @mkaring ?

[2015-01-06 21:26] void256 commented on #303
We need to get the ResourceBundle at the moment someone calls nifty.setLocale() so that we can dynamically change the locale. This is done in the SpecialValuesReplace class where we now use the stored String from that HashMap to resolve the ResourceBundle with the current locale.

If we would store the ResourceBundle - which is already locale specific - then we'd loose this ability to request a di

[2015-01-06 21:29] void256 commented on #290
I'm not working on it.

[2015-01-06 21:29] bgroenks96 commented on #303
Would you have time to make this change then? You wrote it, so you're less likely to mess something up than I am :wink:

[2015-01-06 21:33] void256 commented on #298
Regarding the event handling and especially the boolean return parameter to mark an event as being processed ... erm ... it's not working like that anymore. A similar question has been asked by email and I'll just copy the answer here for your information:

Hi Itai,

sorry for the late response! Busy week :)

I think, I've found the reason for this behavior in this commit: https://github.com/void2

[2015-01-06 21:53] bgroenks96 commented on #298
@void256 Wait... so there is no way at all for the event to continue up the element hierarchy? I don't recall that change being introduced. That's a bit odd.

[2015-01-06 21:58] void256 commented on #298
Just take a look at the commit and the commit comment referenced above.

[2015-01-06 22:31] vincaslt commented on #301
It most definitely isn't, however I expected someone to know a workaround I'm not aware of. I currently manually import the "services" folder into .jar and it seems to fix the problem somewhat.

[2015-01-06 22:51] bgroenks96 commented on #298
Aha! So this is still valid for Controller hierarchies! I wasn't entirely wrong...

[2015-01-06 22:53] bgroenks96 commented on #301
Ok. Well I'm going to go ahead and close this issue then.

As a note though, if anyone does come by and has a specific solution for this JarSplice issue, please do not hesitate to post it and/or revive this issue.

[2015-01-06 22:53] #301 closed, assigned to nobody

[2015-01-06 23:02] void256 commented on #298
I'm not sure anymore if this is really true ... can you write a test case? I'll fix #303 in the meantime ... deal? :wink:

[2015-01-06 23:43] void256 commented on #303
There you go: 7455f39f7c896ab942ff8ff19e3d5bdae3feca29

I've not tested the new addResourceBundle() method. Can you do that please @jedi-philosopher ? I've only tried the old way using the LocalizeExample which appears to still work.

Always remember that making a donation for Nifty GUI is appreciated! :smile:

[2015-01-07 01:04] bgroenks96 commented on #298
I'm busy having a deathmatch with Maven in changing the 2DX project structure at the moment :anguished: , but I will try to get on it soon! :smile:

[2015-01-07 12:04] smirnovegorv opened #306 "Controls improvement: make ListBox allow variable height elements"
Currently, a ListBox allows only fixed-height elements. This problem does not allow, for example, to use text wrapping for long strings, as maximum amount of lines is unpredictable at the moment of xml creation.

In my game, I use a ListBox control in many different screens, it is realy one of most basic and important controls. For example, in a dialog screen for player replies. Replies can be qui

[2015-01-07 12:16] mkaring commented on #306
Hello,

you did not understand the purpose of the fixed height correctly. The thing
is that the listBox uses element virtualisation. It does not prepare all
elements in the list for graphical presentation but only those that are
really visible. The others are just present in what ever way you send them
into the list, but don't have any GUI components attached to them.

This is the reason why the l

[2015-01-07 14:59] relu91 commented on #290
Me neither, sorry this was a little change but now I can't figure out where should I look and I've no time to search in the code... :cry:

[2015-01-07 20:00] bgroenks96 commented on #290
I guess I would start with the ElementBuilder class? :laughing:

But in all seriousness... I don't really know. I'm not even entirely clear on what needs to be changed for this issue. I was just going through nifty issues trying to make sure as many things as possible are being addressed in some way.

[2015-01-07 23:07] smirnovegorv commented on #306
Well, I can understand your position, but this is really a non-intuitive approach. Not for me only, but for the players of my game (and even some other developers, according to google)  I have a list of items that I want to render, your gui offers a list rendering control, but it is actually not suited for the general task, only for one specific corner case.

How can I solve my task? Using a scrol

[2015-01-07 23:11] void256 commented on #306
We'll be happy to merge a pull request for this!

[2015-01-10 22:59] vincaslt opened #307 "Can't build a TextField"
I am trying to build a textfield for slick2d just like it is said in manual. In prepareNifty() I write:

[code]

And there is only a blue screen. These are the warnings:

[code]

[2015-01-11 00:26] void256 commented on #307
You need to include the default controls and the default styles jar and add them to your nifty instance like so:

[code]

The  `WARNING: controlDefinition [textfield] missing.` is the key here. Sorry about the manual not telling you. I think it's telling you somewhere but not in that specific example.

[2015-01-11 00:43] vincaslt commented on #307
Ok, that helped a little, also it seemed, that my styles .jar didn't get imported for some reason, after checking dependencies, and writing those two lines I'm now getting this exception:

[code]

[2015-01-11 01:50] bgroenks96 commented on #307
Do you have Slick2D added as a dependency? If so, are you using the most recent version?

A NoSuchMethod exception would indicate one or both of those preconditions is probably false.

[2015-01-11 11:02] vincaslt commented on #307
Getting the latest slick version, yesterday's, from their site, and re-downloading nifty seemed to fix the problem. One concern though, the new version of nifty seems to be spamming console quite a lot, is it supposed to be so?

[2015-01-11 21:54] #307 closed, assigned to nobody

[2015-01-12 00:10] bgroenks96 commented on #307
Check if you have 'fine' enabled in log.properties. Otherwise, you can always turn of INFO logging, at least while you don't need it.

[2015-01-12 11:50] vincaslt opened #308 "ListBox doesn't react to mouse input"
I am sure I'm not doing something right, but the examples really are not helping. When I create listBox control, it works fine with keyboard, but doesn't react to mouse whatsoever, my xml definition:

[code]

I ues slick2d, so this is put in prepareNifty:

[code]

Also, `nifty.loadStyleFile("nifty-default-styles.xml");` and `nifty.loadControlFile("nifty-default-controls.xml");` throw warnings of c

[2015-01-12 15:45] bgroenks96 commented on #308
I don't see an "onClick" tag in your XML code anywhere. Did you read the documentation for mouse input?

[2015-01-12 16:02] vincaslt commented on #308
I immediately assumed, that if it works with keyboard, it should work similarly with mouse. Also, is there any place I can ask for help, as I feel kind of bad spamming issue section, with questions.

[2015-01-12 16:16] bgroenks96 commented on #308
We can verify with @void256, but I think this is the current method of support for NiftyGUI. It looks like there used to be a SourceForge forum page, but it's now inactive.

[2015-01-12 22:13] void256 commented on #308
I'm not sure what state the Slick2D renderer is in and if that's supposed to be working at all (I'm refering to Nifty 1.4 build from source). There have been some discussions some time ago to rewrite it? But I can't remember what the result of that discussion was ...

That being said, I've copied your screen xml into the HelloWorldExample and then run the HelloWorldExample in the nifty-examples-sl

[2015-01-12 22:15] bgroenks96 commented on #308
Who are the Slick2D experts might I ask? I am most certainly not one of them :P

[2015-01-12 22:29] vincaslt commented on #308
I will try and experiment with my problem tomorrow, I'll try and do an sscce, if I can't find a problem. That is, however, the first I've heard of the problem you described, I add into the listBox, and everything seems to be adding in fine, one element at a time. In the meantime, you could take a look at my actual source code here: https://github.com/vincaslt/DarkTimes/tree/client  Maybe I'm doing

[2015-01-13 09:42] smirnovegorv commented on #303
Checked it, utf-8 bundles now load fine, just like before. Didn't check runtime locale change, however, as it is not used in my game. Thanks.

[2015-01-13 13:57] vincaslt commented on #308
I played around with the problem, but couldn't find any solution. Here's the example of the problem in action:

Libs used are slick2d latest+nifty 1.4.1, the ones I used can be downloaded from here: http://puu.sh/esBTt/7d8adf34d9.rar

rooms.xml:

[code]

Main.java

[code]

Also, is it possible to have elements with the same name in the list, as simply adding them with `listBox.addItem()` makes a u

[2015-01-15 18:51] #303 closed, assigned to nobody

[2015-01-20 12:16] Tutzen opened #309 "Nifty 1.4 consumes keyboard events (LWJGL 2.9.2)"
Hey there,

I'm having heavy problems with nifty's event handling and searched the internet for solutions, but didn't really find any (I want to avoid implementing my own InputSystem). The issue is that, as soon as I start to use nifty with my application, LWJGL seems to not get any keyboard inputs anymore. I already tried several things like `nifty.setIgnoreKeyboardEvents(true)`, but it doesn't c

[2015-01-20 23:40] void256 commented on #309
As long as Nifty is active - you call nifty.update() - it currently will read the Keyboard events from LWJGL which means they will not be available to you anymore. This is done in the [processKeyboardEvents()](https://github.com/void256/nifty-gui/blob/1.4/nifty-renderer-lwjgl/src/main/java/de/lessvoid/nifty/renderer/lwjgl/input/LwjglInputSystem.java#L142) method in the LwjglInputSystem ... and ...

[2015-01-21 23:33] Tutzen commented on #309
Thank you so much for answering so quickly! Yeah, I'm aware of how nifty-gui works (did read a lot of things about it while I was searching for a solution) and it makes perfect sense, I just didn't know how to get those keyboard events once I need them. I can't exactly try it out right now because I've got some issues with my computer, but I'll do it as soon as possible and edit this post afterwar

[2015-01-24 00:35] void256 commented on #254
@bgroenks96 Why did you label that as "bug fix"? o_O I don't see any bug in this issue ... further more I've explained that the only valid XSD is the one that ships with Nifty. That being said I think all XML's in the nifty-examples project can be used as working examples.

I'll close this issue now. If that was a mistake and I've missed something please reopen it with some explanation. Thanks!

[2015-01-24 00:35] #254 closed, assigned to nobody

[2015-01-24 00:39] void256 commented on #286
I think the original issue has been explained and this issue can be closed.

[2015-01-24 00:39] #286 closed, assigned to nobody

[2015-01-25 01:41] bgroenks96 commented on #254
I have no idea? :/

[2015-01-25 18:55] vincaslt commented on #308
OK, so adding items to the list was explained in wiki, so never mind that question. However, it seems that not only the listBox doesn't receive mouse input, but also textBox and probably all other controls for that matter. Maybe it could be something wrong how nifty detects input in slick renderer or something? Can anyone else confirm that the issue is present in the example I've given?

[2015-01-27 13:52] #309 closed, assigned to nobody

[2015-01-28 05:51] Davi-DeGanne opened #310 "Incorrect element properties retrieved for getWidth(), getX(), etc"
When I use getWidth(), getHeight(), getX(), or getY() on any of my Element objects, I get incorrect values. Specifically, they almost all return zero, which is clearly incorrect as I can plainly see my many elements having non-zero widths, heights, and coordinates when I run the program. This issue makes it very difficult to modify the GUI from java after screen-building, and I believe it is the r

[2015-01-28 10:17] vincaslt commented on #310
Could you provide a code excerpt where this problem happens?

[2015-01-28 18:53] Tutzen opened #311 "Nifty-GUI won't let OpenGL render"
I'm aware this problem has been talked about already, maybe even multiple times, but I couldn't really use the explanations/solutions provided for me. Basically, nifty-gui seems to hinder my OpenGL code from rendering. The strange thing is that it also occurs when I exit nifty and prevent every code snippet in my while-loop associated with nifty from running. I tested the OpenGL-related code witho

[2015-01-28 21:24] void256 commented on #311
I answered a similar question on Stackoverflow: http://stackoverflow.com/a/13425866/1717169 and I've now added this - or at least the beginning - to the wiki: https://github.com/void256/nifty-gui/wiki/How-to-save-OpenGL-state-when-render-with-Nifty

The wiki entry is something I wanted to do since a long time since a lot of people have problems with that. Basically you need to save all the OpenGL

[2015-01-28 21:34] void256 commented on #310
I've added the following test code to https://github.com/void256/nifty-gui/blob/1.4/nifty-examples/src/main/java/de/lessvoid/nifty/examples/helloworld/HelloWorldStartScreen.java#L23

[code]

and then I've run the corresponding Slick2D startup code for the example: https://github.com/void256/nifty-gui/blob/1.4/nifty-examples-slick2d/src/main/java/de/lessvoid/nifty/examples/slick2d/helloworld/HelloW

[2015-01-28 23:24] Tutzen commented on #311
First of all, thanks for answering so quickly again. Unfortunately, this code snippet doesn't work for me. I've already encountered that Stackoverflow question and tried your solution earlier this day, but to no effect. I'm pretty confused because I guess it SHOULD work like this, yet it doesn't - like I said, I tried the complete OpenGL code in a different project just to make sure it works, so I

[2015-01-28 23:31] void256 commented on #311
For your example above I would suggest disabling GL_TEXTURE_2D when returning from Nifty since you only want to render untextured Quads? Nifty probably enables Texturing in it's render() method somewhere.

Btw: Which NiftyRenderDevice do you use and which Nifty version?

[2015-01-28 23:36] Tutzen commented on #311
My code now looks as follows:

[code]

Still doesn't work, though. I'm using Nifty 1.4.0 because I had some problems with 1.4.1 and setup the project before 1.4.1 was released, so I didn't want to change the version at this time.

Nifty is set up in my UI class:

[code]

If I delete all the UI-related code in the Graphics class and call initOpenGL() just before I enter my while-loop, OpenGL render

[2015-01-28 23:43] void256 commented on #311
Yes, that's not going to work :smile:

The problem is this part: `new BatchRenderDevice(LwjglBatchRenderBackendCoreProfileFactory.create())`. You're using a CoreProfile OpenGL 3.2+ Nifty Renderer and mix it with the old immediate mode OpenGL rendering that you are doing on your own.

Can you try to use `LwjglBatchRenderBackendFactory` instead of `LwjglBatchRenderBackendCoreProfileFactory`?

[2015-01-28 23:44] void256 commented on #311
Btw: Sorry about the long, kinda ugly names :wink: the core profile renderer is supposed to be used when your other OpenGL code is using core profile as well. You can't really mix that with the way you want to render it. With the regular none-core-profile RenderBackend it should work better ...

[2015-01-28 23:52] Tutzen commented on #311
I always end up with extremely long and ugly names when I code, probably because I always want to describe everything my methods do in their names instead of their javadoc, so don't worry, I'm used to it. :D

It works now! Thank you! Replacing the factory was the key to success here. I'd love to use a more modern approach to OpenGL, but I'm afraid I don't have enough time for this current project

[2015-01-28 23:57] Davi-DeGanne commented on #310
I updated the first post with an excerpt and debug info from my code. Sorry if it's a bit long, I tried to be concise but wanted to include all the relevant code involving nifty.

[2015-01-29 00:01] Tutzen commented on #311
Okay, nevermind, I got this. Just destroyed the display and created it again, works like a charm now. Thank you so very much, you saved me the second time now already! It's amazing how fast and on-point your support is, I really appreciate it.

Is there a way to donate for nifty-gui or you in particular?

[2015-01-29 00:05] void256 commented on #311
You're welcome!

There is a link on the old sf.net page for nifty-gui donations: http://sourceforge.net/p/nifty-gui/donate/?source=navbar

Thanks!

[2015-01-29 00:05] #311 closed, assigned to nobody

[2015-01-29 00:13] void256 commented on #310
Yes, I think the problem is, that you're trying to output the element positions right after building the screen but at that time the Screen is not laid out yet. So the element positions are not resolved.

Can you try to output/access the element positions later? In a ScreenController method like bind() or onStartScreen() would be best. If that's not possible you could try to call layoutLayers() on

[2015-01-29 02:58] Davi-DeGanne commented on #310
Oh wow that definitely fixed my problem. So when are screens laid out then? It seems strange to me that they are laid out after building, but before ScreenController binding... I had assumed that ScreenController binding happened during screen building.

Anyway thank you for the help, and for the amazing GUI! It is helping me make my project look even better :smile:

[2015-01-29 21:28] void256 commented on #310
Yes, I agree. One of the many odd things in Nifty 1.x :wink:

Currently a screen is initialized when you nifty.gotoScreen() to it which will init a lot of things including the layout of all the elements in a screen. The builders where added later when all of the other mechanism where already in place. I think this is the reason they are not immediately laid out and initialized.

[2015-01-29 21:28] #310 closed, assigned to nobody

[2015-01-29 21:47] Tutzen commented on #311
Hey void, hope you'll notice this post since I don't want to open yet ANOTHER issue...

OpenGL works fine now, like I said - but now I've got problems with the rendering of nifty in my actual game window. It looks like this:

![nifty-text](https://cloud.githubusercontent.com/assets/10613635/5966748/4de2ca10-a807-11e4-9c1f-cfa36aa61e4e.png)

Does that sound (or, to be exact, look) familiar to you?

[2015-01-31 11:38] Tutzen opened #312 "Issue with nifty-gui text rendering with LWJGL"
I'm feeling bad for posting the third issue within a few days that's not actually an issue but more me not really understanding how everything works, but I don't know where else to get help. I posted this in my last issue, but since it's already closed you probably didn't see it.

OpenGL works fine now, like I said - but now I've got problems with the rendering of nifty in my actual game window. I

[2015-01-31 13:04] spaceemotion commented on #312
For me it seems like you're not setting your blend modes at all. It currently looks like its using either a wrong, or no one. For a nice chart of the blending modes you can look at this image: http://www.quake-1.com/docs/blending.jpg.

[2015-01-31 17:47] void256 commented on #312
Yes, what @spaceemotion said and you want to check the example code for the states required for Nifty rendering as well. Here is a link: https://github.com/void256/nifty-gui/blob/1.4/nifty-examples-lwjgl/src/main/java/de/lessvoid/nifty/examples/lwjgl/NiftyExampleLoaderLWJGL.java#L245  <-- you want to have to set these states set before you call nifty.render().

Edit: I've [updated the wiki](https:

[2015-02-01 21:16] Tutzen commented on #312
Okay, I inserted the complete code example from the Wiki in my loop, right after the update and right before the render call. The problem remains, though, unfortunately. Do you have any other suggestions?

Setting the blend mode didn't solve it, too.

[2015-02-01 21:46] void256 commented on #312
Ok, I've took a closer look and it seems I'm not up-to-date with Nifty :wink: Some time ago there was a big refactoring done by Aaron to integrate batched rendering even for the old way of using OpenGL. What I was not aware - until now - is, that we have the following code inside the batched renderer:

[code]

So, actually enabling blending or texturing is not necessary anymore, since Nifty will d

[2015-02-01 22:59] Tutzen commented on #312
Got it working. Sorry, guys, it was just a very stupid fault.

I have a 400x200 display at the beginning because there the client has to connect to the server and stuff. I then change the resolution of the screen to 800x600, but I did that by first destroying it and then creating a new one. Obviously nifty got problems with that since I didn't re-initialise the UI afterwards, I only informed nifty

[2015-02-01 22:59] #312 closed, assigned to nobody

[2015-02-06 19:16] mkaring commented on #304
I think LWJGL 3 has a completely new API. So I do not think it will work at all. Also LWJGL 3 is still under heavy development. I suggest waiting a little until creating a renderer for this new version.

[2015-02-12 01:32] dustContributor commented on #304
Actually you should ask Spasi about it. I'm pretty sure the API calls NiftyGUI deals with (ie, plain OGL calls, no context nor windows creation) are stable and the same as LWJGL 2. Thing is that GLU is definitively out, so any GLU calls (like error string ones) won't work.

[2015-02-15 18:32] Stepets opened #315 "LibGDX java.lang.NoSuchFieldError gl10"
Hello!
I loaded the latest gdx-setup.jar from badlogicgames, created a project, added those lines to the build.gradle:

[code]

folowing code:

[code]

causes the exception to be thrown:
Exception in thread "LWJGL Application" com.badlogic.gdx.utils.GdxRuntimeException: java.lang.NoSuchFieldError: gl10
    at com.badlogic.gdx.backends.lwjgl.LwjglApplication$1.run(LwjglApplication.java:121)
Caused

[2015-02-16 10:52] ghost commented on #315
This is a huge project that is in process. Currently, Nifty Gui is only integrated with LibGDX 0.9.9.

[2015-02-17 23:33] Davi-DeGanne opened #316 "Can't pass element controller instance using element builders"
When using a ScreenBuilder, you can set the screen's ScreenController instance by passing it to the controller() method. You can also pass a Controller to any ElementBuilder using the same syntax. This is deceiving, however, because the Controller instance passed to the ElementBuilder is not used, instead, the name of it's class is stored, and later an entirely new instance is created from that cl

[2015-03-07 10:56] barefists opened #317 "wrap="true" does not work in Java2D renderer"
Hi there,

I'm working on a game in Processing, and using Nifty with the Java2D renderer to display the GUI for it. Everything works perfectly, except for wrapping - I can't for the life of me figure out how to get it to work. So I've tried out the following example, modified slightly from the 1.3.2 pdf manual.

[code]

But the screen turns out like this:
![Screenshot of issue](https://dl.dropboxu

[2015-03-07 11:29] void256 commented on #317
That's a bit odd! Your example code works for me using the current master branch (1.4.1-SNAPSHOT) and the Java2D renderer!

I've just took your xml copied it into "nifty-gui/nifty-examples/src/main/resources/helloworld/helloworld.xml" and run "nifty-gui/nifty-examples-slick2d/src/main/java/de/lessvoid/nifty/examples/slick2d/helloworld/HelloWorldDemoMain.java".

Which Nifty version do you use?
Do y

[2015-03-07 12:19] barefists commented on #317
Thanks for the fast reply!  I'm using nifty 1.4.1. I'll check if I missed anything during the integration into Processing. Though it's puzzling cause everything else works fine (effects are rendering, etc)

If you think of anything that might possibly be the cause, please lemme know. :)

EDIT:
Hmm update() and render(false) is called every frame (set at 30 fps) and looks to be updating all the ele

[2015-03-07 13:57] barefists commented on #317
Made TextRenderer spit out some numbers for investigation.
maxWidth is 320px.
font.getWidth(originalText) is 648px.
Both lineWrapping and isCalculatedLineWrapping is set to "true" at this point.

Despite this, textLines remain as a single entry:
[0] "very long text very long text very long text very long text very long text very long text very long text very long text"

Still utterly lost as to wh

[2015-03-08 01:55] barefists commented on #317
Okay, finally found  a method that works - if I change the text using setText, the text wraps, but not if it's set from the XML. Seems like it's missing the initial layout call or something.

[2015-03-08 02:25] void256 commented on #317
I'm sorry for your trouble and I'm glad you found a workaround! Trust me, I've been there too - Nifty can be a real ****\* sometimes, unfortunately :-/

Yes, calling update() and render() each frame should be enough. There might be issues if you call update() multiple times each frame so in general one should be careful to call both methods only once (for each frame).

However, I don't think this

[2015-03-08 02:52] barefists commented on #317
Be honored to help! Processing is an excellent tool that I hope gets used in larger projects more, so I would love to get Nifty working on it for more people.

You might be right about the loadFromXml() call, I'll shuffle around the place where I call it and see if it makes a difference. Will update you when I get results. :)

EDIT: So I "fixed" the issue by calling render() once just after the Ni

[2015-03-08 09:10] barefists commented on #317
I've extracted all the Nifty bits from my project and put them into a simplified Processing sketch that runs the nifty examples. It's a little messy right now - all the classes are written within the Processing sketch. Moving forward I'll probably clean it up into an external library, but that's for a later date.

You can download the example sketch [here](https://dl.dropboxusercontent.com/u/23443

[2015-03-08 17:22] #317 closed, assigned to nobody

[2015-03-08 17:27] void256 commented on #317
Thanks for your example! :smile: There was indeed a problem in the Java2D-Renderer which I've explained in the commit above!

In general the Java2D renderer has other issues and is not really maintained right now, unfortunately :/ One issue is the lack of bitmap font support. Internally your font is not being used and defaults back to Arial 17 or something. There is a strange mechanism to register

[2015-03-08 22:56] barefists commented on #317
No problem! :) The fonts issue isn't that much of a problem - just needs more documentation I think. I'm adding in my own fonts by creating my own FontProvider and adding fonts directly to it. I think most people like bitmap fonts better because of the fancy effects they can do with the png file. It doesn't affect me as much because I'm making a pixel art game, so my fonts are supposed to look [lo

[2015-03-10 19:36] bgroenks96 commented on #317
The bitmap font thing is supposed to be dealt with in my Java2D renderer refactoring project. Unfortunately, I ran into some problems a while ago when working on it, and I haven't resumed work yet. Hopefully, if it ever gets finished, it will help with some of the issues here.

[2015-03-10 22:42] barefists commented on #317
Awesome! I am now working on a RenderDeviceProcessing implementation of the code (but wrapping it around the Java2D renderer to save time) Will send a pull request when I'm ready. This new version uses Processing's native Bitmap font format .vlw. Since it's targeted at Processing users, they will be more familiar with this format.

Once you are ready on your side, I'll make the RenderDevice auto d

[2015-03-11 05:43] barefists opened #318 "getRenderDevice() method in NiftyRenderEngineImpl returns wrong object"
getRenderDevice() in NiftyRenderEngineImpl returns an instance of ScalingRenderDevice rather than the RenderDevice I assigned to Nifty during construction.

[2015-03-11 07:08] void256 commented on #318
Yes, this is to support the nifty.enableAutoScaling() feature where you can design your GUI with a specific base resolution and then provide a scale factor to scale it up or down to match your actual resolution.

Internally the actual RenderDevice implementation is wrapped into the ScalingRenderDevice to provide this functionality but all calls will be forwared to the actual RenderDevice implement

[2015-03-11 07:55] barefists commented on #318
I'm writing a helper class to handle the updating and drawing of the Nifty canvas onto the screen, without which it can get quite verbose in Processing. To do so I need the PApplet processing is running in, the Nifty instance and the canvas that Nifty is drawing on.

Right I'm experimenting with an extension of the main Nifty class to do the abovementioned. Issue with this is that I can't write an

[2015-03-11 20:19] bgroenks96 commented on #318
Why doesn't ScalingRenderDevice just provide a public accessor method to grab the internal RenderDevice reference? It probably should... since it does seem kind of unfair that Nifty would just sneakily wrap the specific implementation and return the wrapper instead of the provided RenderDevice. Definitely not what would be intuitively expected.

[2015-03-11 21:33] void256 commented on #318
@bgroenks96 I don't agree. According to the API all you get is the RenderDevice interface. Depending your code on the actual implementation is not a good idea at all. Since this code will always break if you later decide to use a different RenderDevice implementation. We shouldn't encourage anyone to go this route since it will lead to the dark side :wink:

@barefists I don't quite get it :smile:

[2015-03-11 22:47] barefists commented on #318
@bgroenks96 Haha yeah, that was what I thought originally. Seems intuitive that getRenderDevice() should return the original RenderDevice I passed it during construction.

@void256 I've since gone with the alternative method I mentioned earlier, which is similar in structure to the NiftyJmeDisplay class. For the sake of clarity, this was what I was trying to do earlier:

[code]

I've since changed

[2015-03-19 02:11] barefists opened #320 "Support for inner classes implementing Controller or ScreenController?"
Still working on my Processing game using Nifty, but ran into another issue. Processing classes are all inner classes created within the parent PApplet class, this makes instantiating Controllers and ScreenControllers via XML very difficult.

Non-static inner classes cannot be instantiated using reflection unless a copy of the parent class is passed to the instantiator, on the other hand a static

[2015-03-19 03:10] bgroenks96 commented on #320
I forget... does the XML schema for Controller and ScreenController require that the types you specify have empty constructors? Or can you pass arguments?

[2015-03-19 03:17] barefists commented on #320
I've looked into the code, doesn't seem to accept arguments, just a simple newInstance() call.
From de.lessvoid.xml.tools.ClassHelper.java:

[code]

[2015-03-19 12:43] Nelyo opened #321 "Mouse-press blocks events from other elements"
When I click and hold my mouse on one panel and pull to the other panel, the event from the start element is the only one that throw events. But what I like to get is the mouseover-event from the element which I pass, when its happened. Whether I'm not anymore on the pressed panel or not don't change the current mouseover-element.

The same applies to released-event.
Press Panel1 -> Released in Pa

[2015-03-22 22:37] void256 commented on #321
Yes, currently when you have an element that captured the mouse (which all mouse events do) then all events will be forwarded to that element only.

The code that's responsible for that is here: https://github.com/void256/nifty-gui/blob/1.4/nifty-core/src/main/java/de/lessvoid/nifty/screen/Screen.java#L374

Right now, I'm running out of time to investigate that further but I'll take a look if ther

[2015-03-24 15:07] raLaaa opened #322 "Slick2d, Carrier for Nifty is not set yet."
Hey guys,

I'm developing a slick2d Game with Nifty, I was using Nifty 1.3 a while ago, but decided than to switch up to the current version.
When I was using Nifty 1.3 I was initiliazing the Nifty object via nifty = new Nifty(new LwjglRenderDevice(), new NullSoundDevice(), new LwjglInputSystem(), new TimeProvider());

TimeProvider and LwjglRenderDevice is deprecated now, I googled a bit and found

[2015-03-24 15:17] bgroenks96 commented on #322
Are you using LWJGL 3+? From what I understand, they scrapped the GLU class, so that would be why you are getting a NoClassDefFoundError for it (see #304 ).

For right now, if you're using NIfy with Slick2D, you should make sure you have the latest LWJGL version prior to version 3. I'm fairly certain Slick2D has no dependency on the newer LWJGL version anyway.

Also, you might want to consider usi

[2015-03-24 15:31] raLaaa commented on #322
Nope, I'm using lwjgl 2.9.1, I tried to run the slick2d examples as well with that lwjgl version and that worked for me.
What is weird for me is if I use nifty 1.3 I'm not getting any exceptions with the same code.

[2015-03-24 16:17] bgroenks96 commented on #322
Can you check the actual JAR file (downloaded by Maven if you are using it) and see if the org.lwjgl.util.glu.GLU class actually exists in it?

If you aren't using LWJGL 3, then this is probably just some kind of classpath issue.

[2015-03-24 16:29] raLaaa commented on #322
Ahh, nice idea, I should have done that by myself, apparently nifty 1.3 isn't using the GLU class, that why it was working for me, the newest version is tho.
I was able to fix it by adding the class to my classpath.

Your help is very much appreciated, cheers!

[2015-03-24 16:29] #322 closed, assigned to nobody

[2015-03-24 20:32] bgroenks96 commented on #322
That's still rather odd.... because it seems the version of LwjglRenderImage on the 1.3 branch does in fact use the class. It may depend on the minor version though, or the RenderDevice implementation.

I'm glad that fixed your problem!

[2015-03-25 13:31] raLaaa opened #323 "Slick2D, Nifty GUI interaction problem, Nifty does not get any Input"
Hey guys,

I'm currently trying to let my Game interact with my GUI, but somehow I'm encountering a problem. Slick is not forwarding any Input towards Nifty, or maybe it is but Nifty does not receive any incoming Input.
The only thing I could find on the Internet was this:

http://www.gamedev.net/topic/619545-slick2d-nifty-gui-interaction-problem/

I'm encountering except the same problem, my code

[2015-03-26 07:44] lawallet opened #324 "Slick renderer mouse cursor change crash"
I probably missed something simple, but any example that uses NiftyMouse's enableMouseCursor method to change the mouse cursor throws the exception " java.lang.UnsupportedOperationException: Use enableCursor(GameContainer container).". I've looked at the source for it and see that all the method does is throw that exception, but see no mention of how to use enableCursor. Do I use Slick's built in

[2015-03-26 15:51] bgroenks96 commented on #324
What exactly are you calling enableMouseCursor on? I only know of that method existing for RenderDevices, and as far as I can tell from [this source file](https://github.com/void256/nifty-gui/blob/1.4/nifty-renderer-slick2d/src/main/java/de/lessvoid/nifty/slick2d/render/SlickRenderDevice.java#L135), it should work fine for SlickRenderDevice.

[2015-03-26 15:56] bgroenks96 commented on #323
The problem may be with how you're calling `nifty.update()` and `nifty.render(false)` - I'm not 100% sure on that though, will need verification from @void256 on that.

Try lowering the Log level to fine in log.properties to see what Nifty is saying under the hood. It might give you an indication of whether or not any input is being received at all.

[2015-03-26 17:37] raLaaa commented on #323
Am I right if I want to switch the Log level that I do it via:
Logger.getLogger("de.lessvoid.nifty").setLevel(Level.FINE); ?
I called it in my init method after initiliazing the nifty object, the console is not printing out any additional information tho.

[2015-03-26 17:48] bgroenks96 commented on #323
I think you have to pass in a log configuration file to let the JVM know you want the logging system to submit log events at or below a certain level.

http://www.javapractices.com/topic/TopicAction.do?Id=143

[2015-03-26 18:31] lawallet commented on #324
the conflicting code code comes from HelloWorldStartScreen class:

NiftyMouse niftyMouse = nifty.getNiftyMouse();
    try {
      niftyMouse.registerMouseCursor("mouseId", "nifty-cursor.png", 0, 0);
      niftyMouse.enableMouseCursor("mouseId"); //offending code statement
...

The last line is what causes the error as it eventually goes down to de.lessvoid.nifty.slick2d.render.cursor.AbstractNativ

[2015-03-26 19:18] raLaaa commented on #323
Alright, it took me a while how to figure out how to load the propertie file exactly but I think I've done it right now.

   Mär 26, 2015 8:13:29 PM de.lessvoid.nifty.renderer.lwjgl.render.LwjglRenderDevice disableClip
   FEIN: disableClip()
   Mär 26, 2015 8:13:29 PM de.lessvoid.nifty.renderer.lwjgl.render.LwjglRenderDevice  setBlendMode
   FEIN: setBlendMode()
    Mär 26, 2015 8:13:29 PM de.less

[2015-03-26 21:28] bgroenks96 commented on #323
What exactly are you doing with the mouse? Just clicking on the element?

[2015-03-26 22:26] raLaaa commented on #323
Nothing, I just started my programm. As soon as nifty update starts I'm getting this feedback.

[2015-04-01 10:22] raLaaa commented on #323
No one has a clue or something I could try out? :(

[2015-04-01 11:26] mkaring commented on #323
The problem is that you are not using the facilities that come along with
the Slick renderer that do all the initialization for you. This means you
have to do the initialization yourself and you missed doing just that.

Now the Problem is that the PlainSlickInputSystem is forwarding the events
to Nifty, but it is not receiving any events from Slick. What you need to
do, is to add the instance of t

[2015-04-01 13:55] raLaaa commented on #323
That worked :) Thanks a lot!

[2015-04-01 13:55] #323 closed, assigned to nobody

[2015-04-07 19:24] dmdm22 opened #325 "Textfield not working after layer hide() / show()"
For some reason all contained Textfields do not work anymore after i hide a layer and show it back again. The onHover effects are still being applied (border on textfield shows up), but i can not click the textfield, no cursor showing and no input possible.

If not hiding and showing layer again, everything works normal.

Using Version 1.3.3 together with JMonkeyEngine 3 Stable.

[2015-04-07 20:51] void256 commented on #325
Without example code or at least some more information about your screen this cannot be answered ...

[2015-04-07 21:26] dmdm22 commented on #325
For creating the screen i use ScreenBuilder, not xml:

[code]

As i have several layers, i toggle the current with:

[code]

[2015-04-08 20:38] void256 commented on #325
I don't see any problem with your code but I couldn't try it directly - since it references all of that classes and constants you didn't provide.

However, I've just tried that myself with 1.4.x and a modified HelloWorld example and I can show and hide layers without having any textfield issues.

Can you try that with a nightly jME build? New versions should come with Nifty 1.4.x build-in.

When d

[2015-04-09 15:54] dmdm22 commented on #325
I know, hard to test with just that snippet ...
Would post the whole code, but this is part of a my larger Model Viewer App
![screen_threedee_1](https://cloud.githubusercontent.com/assets/11841370/7070752/382ea462-dee1-11e4-882a-96faf4623eff.png)
(more about this: http://combcomp.de/c2/home.htm#model_viewer) which is not OpenSource.

Kinda hard to extract the relevant code.

Anyway, now i have som

[2015-04-16 22:46] Alchemist0823 opened #326 "Add Lwjgl 2.9.3 support"
Now nifty gui is still using lwjgl 2.9.1. However, Lwjgl 2.9.2 and 2.9.3 fixed lots of bugs and added openGL 4.5.
When it comes to 2.9.3, nifty gui breaks because of OpenGL invalid value exception.

[2015-04-17 07:34] ghost opened #327 "Add JOGL 2.3.1 support"
Hi

Please update the JOGL renderer so that it uses the very latest version of JOGL (currently 2.3.1). You just have to set jogamp.version to 2.3.1 here:
https://github.com/void256/nifty-gui/blob/1.4/nifty-renderer-jogl/pom.xml#L10

Replace "javax.media" by "com.jogamp" in the renderer and the examples. A few constants have been moved to other GL subclasses.

[2015-04-17 08:11] ghost commented on #327
@bgroenks96 Maybe you can look at this issue if you have some time.

[2015-04-17 14:02] bgroenks96 commented on #327
Sure thing, I'll take care of that today.

Thanks for reminding me about that!
On Apr 17, 2015 4:11 AM, "Julien Gouesse" notifications@github.com wrote:

[2015-04-17 14:19] #327 closed, assigned to nobody

[2015-04-17 16:46] #326 closed, assigned to bgroenks96

[2015-04-17 17:50] harlock76 opened #330 "link from components to application"
hello,

one can create a screencontroller and pass info to its constructor
but what about components/controls themselves ? like a setUserData or something

regards

[2015-04-17 17:51] harlock76 opened #331 "setVisible seems recursive"
hello,

I use setVisible on a hidden panel, and all its hidden children appear although they are defined as visible="false" and should appear later in the code, not when the parent shows up

[code]

is there a way to preserve children states when parent.setVisible(true) is called ?
so far, I set the parent visible and manual set invisiible the children, wich is tedious and prone to errors
also it

[2015-04-17 20:26] void256 commented on #331
Which Nifty version do you use?
The whole recursive setVisible thing should be fixed in 1.4.x, see this commit for details https://github.com/void256/nifty-gui/commit/c8a6030e78225cb5dc7a4cc3aba22df686339b68 and issue #43 as well.
I've not tried your example but from what I understand this should work as expected in 1.4.x. There have been some more changes lately so can you try it in the latest Ni

[2015-04-17 20:34] harlock76 commented on #331
ok , actualy I use JMonkey 3, maybe they are nt up to date with latest nifty version

[2015-04-17 20:37] void256 commented on #330
A Nifty Control is any class that implements [NiftyControl](https://github.com/void256/nifty-gui/blob/1.4/nifty-core/src/main/java/de/lessvoid/nifty/controls/NiftyControl.java) and a NiftyControl is just something like a "view" onto a collection of Nifty Elements working together to provide a more abstract control representation, like a button or a textfield.

In fact, every Nifty Control is backe

[2015-04-17 20:37] #330 closed, assigned to nobody

[2015-04-17 20:39] void256 commented on #331
The latest nightly build of jME should actually contain Nifty 1.4.1. Can you check the Nifty version?

There is a method on the Nifty instance that returns the version String: https://github.com/void256/nifty-gui/blob/1.4/nifty-core/src/main/java/de/lessvoid/nifty/Nifty.java#L239

[2015-04-17 20:41] harlock76 commented on #330
yes, but it is more a problem of how do you do it when controls are defined in the xml file and instanciated internaly

[2015-04-17 20:48] void256 commented on #330
You use [findNiftyControl()](https://github.com/void256/nifty-gui/blob/1.4/nifty-core/src/main/java/de/lessvoid/nifty/screen/Screen.java#L448) to get the NiftyControl from the screen using it's id and once you have it you can do whatever you want with it?

[2015-04-17 21:28] harlock76 commented on #330
yes, whatever one can use to parse new created controls, and give them userdata
but everytime a new element/control is created, I would have to do that check
would be neat to have userdata passed to new controls automaticaly

[2015-04-17 21:29] harlock76 commented on #330
so far I dont even use setUserData, when a button is clicked it directly acces an Appstate.getInstance().dosomestuff

[2015-04-17 21:37] void256 commented on #330
You mean like the [Parameters](https://github.com/void256/nifty-gui/blob/1.4/nifty-core/src/main/java/de/lessvoid/nifty/controls/Parameters.java#L10) class that a control will be given as a parameter in the [bind](https://github.com/void256/nifty-gui/blob/1.4/nifty-core/src/main/java/de/lessvoid/nifty/controls/Controller.java#L32) method?

[code]

All attributes you apply to a control in XML are a

[2015-04-17 23:04] harlock76 commented on #330
not string parameters
more like objects instances(like gameappstate instance or the main application instance, so that controls can communicate withthe main application),

[2015-04-17 23:39] void256 commented on #330
We don't have that and I'm not sure how that could ever work using XML.

And if you create the controls from Java (using the builder pattern f.i.) then - right now - there is no way to allow existing object instances to be used as parameters. You'll have to do that on your own using maybe some Singelton inside the Control or so.

Nifty 2.0 has a more direct way of creating controls and allowing ob

[2015-04-18 08:10] harlock76 commented on #330
ok, thanks for your explanations
I'll do it with singletons :-)

[2015-04-18 19:56] harlock76 opened #332 "try to use console"
hello

I try to create a console but
- I get missing componens errors
- the console shows up but hack the tab key for some reason(I use it in my game)
- I can enter a command, but pressing enter dont do anything

  avr. 18, 2015 9:47:38 PM de.lessvoid.nifty.elements.Element getNiftyControl
  WARNING: missing element/control with id [6] for requested control class             [de.lessvoid.nifty.con

[2015-04-18 19:57] harlock76 commented on #332
sh... I cant paste xml tags

[2015-04-18 20:01] harlock76 opened #333 "#background id raising possible conflicting id warning"
hello,

I get this error
WARNING: Possible conflicting id [#background] detected. Consider making all Ids unique or use #id in control-definitions.

while I use a # in my control definition

[code]

while it works for other controls

is background id a special case ?

thanks

[2015-04-22 15:18] harlock76 commented on #333
??

[2015-04-22 15:18] harlock76 commented on #332
??

[2015-04-23 01:16] bgroenks96 commented on #333
Are you using #id with other controls?

[2015-04-23 01:18] bgroenks96 commented on #332
It seems your GUI element isn't bound correctly to your controller; can you post additional, relevant XML code?

[2015-04-23 15:05] harlock76 commented on #333
well actually I always assumed it was id="#identifier" witch works well when having duplicate id warning
so I'll try #id="identifier"

[2015-04-23 15:07] harlock76 commented on #332
[code]

...

[code]

[2015-04-24 03:35] bgroenks96 commented on #332
Does your input input method in your controller have `@NiftyEventSubscriber(id = "consoleComponent")`? And it is it handling the right event type?

Check that, and if you have problems, go ahead and post the Java code for your controller.

[2015-04-24 03:36] bgroenks96 commented on #333
That's not what I meant. #id="" won't work.

I meant are you using `id="#identifier"` with other controls?

[2015-04-24 05:03] harlock76 commented on #333
yes, funny thing is that with other controls I dont have this issue
I also tried id=#back-ground" still the same issue

[code]

[2015-04-24 05:07] harlock76 commented on #332
nop, the id of the console is console
"consoleComponent" is the name of the component

[code]

[2015-04-24 05:09] harlock76 commented on #332
I removed CommandButtonController, and now it works, silly of me

[2015-04-24 05:51] harlock76 commented on #332
but how do I change key bindings ? they are conflicting with mine...

[2015-04-25 22:53] bgroenks96 commented on #332
What do you mean? Can you be more specific?

[2015-04-25 22:54] bgroenks96 commented on #333
I'm not sure. We'll have to wait for input from @void256 on this.

[2015-04-26 09:24] harlock76 commented on #332
well I use TAB key binding and it seems the console too, becos, as it is displayed, all keys go to the console input,
if I press TAB then my game gets back his inputs, so how do I change the TAB binding for the tilde ~ ?
or any other key

[2015-04-28 21:06] bgroenks96 opened #334 "Backend support in 2.0"
@void256 @3xp0n3nt

Should Nifty 2.0 support all the different backends the way it does now? Or should this be exported to the CoreGL project?

[2015-04-28 21:21] void256 commented on #334
Right now Nifty 2.0 only has [NiftyRenderDeviceOpenGL](https://github.com/void256/nifty-gui/blob/2.0/nifty-renderer-opengl/src/main/java/de/lessvoid/nifty/renderer/opengl/NiftyRenderDeviceOpenGL.java) which uses brute force CoreGL as it's render backend.

This allows us to have **ONE** NiftyRenderDevice implementation and still support LWJGL **AND** JOGL as the actual GL adapter (this is one of th

[2015-04-28 21:32] void256 commented on #333
Iirc Nifty will use the #someid syntax of child elements together with the parent id to build a unique id. So if you use your button component it's probably a good idea to give that button an id as well, so that the resulting id would be "yourbuttonid#background".

I think if you omit the id from the button control and you have multiple buttons on your screen then you might end up with two ids hav

[2015-04-28 21:47] void256 commented on #332
To change the key mapping you can provide a class that implements [NiftyInputMapping](https://github.com/void256/nifty-gui/blob/1.4/nifty-core/src/main/java/de/lessvoid/nifty/input/NiftyInputMapping.java) as the `inputMapping` attribute of an control. The NiftyInputMapping translates actually key events into [NiftyInputEvent](https://github.com/void256/nifty-gui/blob/1.4/nifty-core/src/main/java/d

[2015-04-28 22:12] bgroenks96 commented on #334
Right, but would it be feasible to work on building support for those graphics APIs into CoreGL? That way Nifty (and other projects) could hypothetically support them all while having only one OpenGL interface to maintain?

[2015-04-28 22:17] void256 commented on #334
CoreGL is very OpenGL specific. I'm not sure if it makes a lot of sense to integrate for instance Java2D as a CoreGL backend o_O If you mean that kind of things :wink: A CoreShader or CoreVBO is all very much specific to the API that OpenGL offers .. emulating it with other libs might get cumbersome or impossible.

[2015-04-28 22:19] ghost commented on #334
If anyone is still interested (I know it's not a priority for Nifty), I'd be interested in porting an upgraded (current one has code rot) LibGDX backend into 2.0, but it would require the Nifty rendering system abstraction layer to be modular enough that the parts of it which require OpenGL functionality that is non-existent in OpenGL ES / LibGDX (such as geometry shaders) could be re-written to w

[2015-04-28 22:49] bgroenks96 commented on #334
@void256 I didn't mean stuff like Java2D. That would require separate implementations in Nifty. Admittedly, however, the same problem probably applies to stuff like Slick and LibGDX because they are too high level to easily be written to implement the CoreGL interface.

@3xp0n3nt That's probably a good idea. Hopefully though yours would work, unlike my Java2D backend (it's still completely broken

[2015-04-28 22:53] bgroenks96 commented on #284
Just as a quick update to everyone interested in this issue, a lot of the implementation code has been written, but the batch renderer is not currently in a working state. There are a lot of problems arising with the translation between the Java2D and OpenGL coordinate systems (especially the sort of awkward back converting from normalized texture coords).

Feel free to review the branch's current

[2015-04-28 22:54] mkaring commented on #334
I guess the people using the jMonkeyEngine will need a dedicated backend
that ties into the engine as well. So I think in the end it has to work
without coregl.

Brian Groenke notifications@github.com schrieb am Mi., 29. Apr. 2015
00:49:

[2015-04-28 22:55] bgroenks96 commented on #334
Yeah it just kind of sucks that all of those backends have to be reworked again. How much of the current RenderDevice spi is being kept?

[2015-04-28 22:55] ghost commented on #334
It would be nice if OpenGL support could be pluggable, meaning abstracted enough in Nifty that you could use any type of rendering, even DirectX.

[2015-04-28 22:56] bgroenks96 commented on #334
@3xp0n3nt Ewww. Don't you dare say the D word around here :P

[2015-04-28 22:58] ghost commented on #334
Just an example to think outside the OpenGL box. Can we remove all OpenGL-specific assumptions from Nifty's rendering abstraction? Or maybe that's already done in 2.0, I haven't looked at it lately.

[2015-04-29 08:04] void256 commented on #334
Ok!

I think we need to clarify some things:

1) We still have the basic [NiftyRenderDevice](https://github.com/void256/nifty-gui/blob/2.0/nifty/src/main/java/de/lessvoid/nifty/spi/NiftyRenderDevice.java) SPI available in 2.0! This can always be implemented for whatever new rendering system needed. Even DirectX :wink: This interface is abstracted enough that it is not dependent on GL at all.

2) T

[2015-04-29 08:29] ghost commented on #334
@void256 Thanks! That really clears everything up for me.

[2015-04-29 08:56] harlock76 commented on #332
ok ,that makes sens,  I'll check it out, thanks

[2015-04-29 08:57] harlock76 commented on #333
well it complains about duplicates, but I use #background as id, hence the reason I posted this question
I'll check the debug output...

[2015-05-01 20:07] harlock76 commented on #332
I cant make it work,
I tried with buttons, TAB always pass from one button to the other

first, if I want to setup an inputMapping to my screen, I need the screen controller to implement KeyInputHandler otherwise I get some error, it does not make any sens, but whatever....

[code]

then it just dont work at all, I return a null object, so nifty should not bother wit inputs anymore but it does

[2015-05-02 16:54] harlock76 commented on #332
ok, I made it work assigning it to the buttons instead of the screen

[2015-05-02 19:25] bgroenks96 commented on #332
Great to hear that you got it working. Please be sure to close the issue once your question has been resolved.

[2015-05-02 21:16] #332 closed, assigned to nobody

[2015-05-04 19:07] spaceemotion commented on #334
If 2.0 should support a Java2D backend, the custom shaders could be a problem. Other than that, it should work perfectly fine. I actually planned on writing a custom implementation for my UI editor (one that supports version 2.0) inside ready to be used inside swing applications. For Java2D I would be perfectly fine with dropping shader support but I don't know how your system would handle this, s

[2015-05-04 20:17] void256 commented on #334
The current OpenGL implementation of the NiftyRenderDevice for Nifty 2.0 uses shaders for everything, yes! In the 21st century that's the way things are supposed to work anyway :wink:

A Java2D implementation of the NiftyRenderDevice doesn't have to use shaders at all! So there really is no problem with Java2D concerning shaders!

Besides one tiny exception:

Nifty 2.0 supports custom shaders whic

[2015-05-04 20:57] spaceemotion commented on #334
@void256 awesome!

Guess you can sign me up for a possible Java2D implementation then :)
I currently don't know when I'm ready for writing that stuff though, but definitely this year.

[2015-05-05 05:41] bgroenks96 commented on #334
@void256 @spaceemotion I already have a partially working Java2D implementation working for Nifty 1.4. Will that work in 2.0 or did the interface change?

Granted, it's currently broken because of weird coordinate translation issues (and I would appreciate help fixing it up), but nonetheless, there's something there.

[2015-05-05 06:49] void256 commented on #334
The interface changed in 2.0 so you can't use it directly. However most of it still works similar so it shouldn't be too hard to adapt it to 2.0. You might need a way to render stuff into a backbuffer and later draw that buffer but I guess you can do that?

I'd be interested how Java2D performs in 2.0! So yes, please go ahead and integrate it, if you can :smile: Should I prepare a sub module for i

[2015-05-05 12:14] harlock76 commented on #333
ok I got rid of id by givind an id to the pareent control,
thanks

[2015-05-05 12:14] #333 closed, assigned to nobody

[2015-05-05 17:56] bgroenks96 commented on #334
Yes you can. The Java2D BatchRenderBackend implementation does that currently.

Sure! I'll let you know once I get it working properly in 1.4.

[2015-05-05 20:20] void256 commented on #334
I've prepared a NiftyRenderDeviceJava2D and added support for it to the UseCaseRunner in the examples project, see this commit for details: 2a343b38fca322336fea063e943811f11de9708f

[2015-05-16 21:14] Cafnio opened #335 "Cannot find the declaration of element 'nifty'"
Hi there,

I wanted to start using Nifty-GUI in my jmonkey 3.0 project, though I cant get it to work.

Right now I have the following code:

<?xml version="1.0" encoding="UTF-8"?>
<nifty
        xmlns="http://nifty-gui.lessvoid.com/nifty-gui"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://nifty-gui.lessvoid.com/nifty-gui">
    <screen id="start" co

[2015-05-17 21:12] relu91 commented on #335
Hello! It seems that you have syntax errors in your xml or is there some problem in github formatting? By the way if you want to try an other way to edit your nifty gui visually try my editor here: http://niftyeditor.it/ . I hope you enjoy it! :smile:

[2015-05-20 14:37] lyrgard opened #336 "Duplicate parent id in custom control"
I have a custom ImageButton control defined as :

[code]

that works as intended. When I use this control in a panel, and I give it an id (let's say "someButtonId"), the image inside this controle get **"someButtonId#imageButtonImage"** as id, as expected, and the DefaultImageButtonController is able to get the Image element with :
    element.findElementByName(element.getId() + "imageButtonImage"

[2015-05-21 16:30] cuchaz opened #337 "TODO Remove this debugging statement"
First of all, I just wanted to say I really like nifty-gui and really appreciate all the work you've saved me. =)

Some of the log messages were confusing to me though. I kept getting warnings about textures, but I couldn't figure out what I was doing wrong. After glancing at the source, it looks like there are a few warnings that aren't really warnings at all in the [batch rendering system](https

[2015-05-21 17:47] bgroenks96 commented on #337
Yes, please. Just comment them out though, in case they are needed later during development.

Go ahead and submit that PR when you have a chance and I'll merge it.

Thanks!

[2015-05-21 17:55] cuchaz commented on #337
Would it be better to just comment them out, or change them to debug level?

[2015-05-21 19:47] harlock76 opened #338 "Cannot have an onclick on listbox"
Hello,

I spent hours trying to have this f... listbox do a simple item click

can someone look a this code ?

[code]

[2015-05-21 19:48] harlock76 commented on #338
I cant update the code to display correctly
I'll try on jmonkey forum
jesus fucking christ

[2015-05-22 01:23] bgroenks96 commented on #337
Up to you, either is OK. If changing them to debug level solves your issue, then by all means, do that.

[2015-05-25 06:49] #337 closed, assigned to nobody

[2015-05-27 18:10] dominic-jones commented on #321
I was investigating a similar issue (while trialing Nifty). On clicking a gui!button, holding the mouse!button, dragging away, and release mouse!button, the mouse release event is still triggered on the gui!button. This is at odds with other gui frameworks where the release event should normally be dropped.

The primary logic for this appears to be in ElementInteractionClickHandler where it checks

[2015-05-27 22:07] SwiTool opened #340 "Can't get 1.3.3 version of nifty-lwjgl-slick-renderer"
Hi,

i added the repo

[code]

but I can't get the version 1.3.3. I can only get the version 1.3 which does not include the method `setResourceLoader` in the `LwjglInputSystem`.

[code]

So if I run :

[code]

It just crash, I must use `new NullInputSystem()`...

Any solution ?
Thanks

[2015-05-27 23:19] void256 commented on #340
I honestly can't remember what the lwjgl-slick renderer was used for :frowning: Is there anything super special about it that the regular lwjgl or slick renderer can't do?

I'm sorry o_O any hints for me? :wink:

[2015-05-27 23:25] void256 commented on #336
I think we've tried to find the reason for that duplicate id part some time ago but haven't been succesful iirc :wink:

However you shouldn't rely on the internal format of the id at all and iirc you don't have to!

You can lookup any sub-element by its regular id only. Nifty should take care of the resolving internally, so you should be able to simply issue a element.findElementByName("imageButto

[2015-05-27 23:41] void256 commented on #335
Yes, Cris is right. You probably have a syntax error in your XML file that makes it not valid to the nifty.xsd. Can you provide the complete XML file for us to check?

Another cause might be your editor/ide that doesn't know about the nifty.xsd. In that case you'll need to find the nifty.xsd from the nifty.jar of the Nifty version you're using and tell your editor/ide to use it to validate your ni

[2015-05-28 01:29] bgroenks96 commented on #340
I'm not seeing any artifacts by that name in the 1.4 or 1.3 branch. Where is that even coming from? It sounds like it might have been just an old name for the Slick2D renderer, since slick is based on LWJGL.

[2015-05-28 05:53] SwiTool commented on #340
Indeed sorry I should have posted the reference link.

Here is the instructions I followed. https://github.com/void256/nifty-gui/wiki/Getting-Started

As an additionnal info, take a look at the repository here : http://nifty-gui.sourceforge.net/nifty-maven-repo/lessvoid/nifty-lwjgl-slick-renderer/

I can't tell you why I don't use something else. All tutorials seem to be 2012 dated.. :laughing:

[2015-05-28 06:05] SwiTool commented on #340
Wow ok.. I just removed the dependency from lwjgl-slick-renderer and it doesn't crash anymore...
That was... crazy.

My mouse still does not work, but I guess that is because I don't handle it. Where can I find a good tutorial from this version of Nifty GUI ?

Thanks

[2015-05-28 09:43] void256 commented on #340
Waaaah ... my appologies for the outdated wiki :disappointed:

Have you tried the manual pdf yet? https://github.com/void256/nifty-gui/tree/1.4/nifty-core/manual

[2015-05-28 10:20] SwiTool commented on #340
No, thanks :)
I'll reopen if there's a problem but I think that should be good.

:smiling_imp:

[2015-05-28 10:20] #340 closed, assigned to nobody

[2015-05-28 11:41] lyrgard commented on #336
Ok
I searched a little the source of this bug, and I think I found it.

When a ElementType is created, the method `prepare(nifty, screen, rootElementType)` is called.
This method will call `makeFlatControls()`, that will call itself reccursivly on each child element
Only thing that method do apart calling itself reccursivly is calling `makeFlatControlsInternal()` at the end.
This method makeFlatCo

[2015-05-28 15:11] dominic-jones opened #341 "Hint effect does not set visibleToMouse; Hint layer not deactivating"
On upgrading to 1.4.1 that Hint hover text had ceased displaying a hover layer. It appeared as if the UI element had no hint effect at all.

Some searching led me to http://sourceforge.net/p/nifty-gui/bugs/53/, and on the surface this is a regression of that.

In testing similarity with that bug, I tried enabling visibleToMouseEvents. The hint layer activates correctly but then fails to deactivate

[2015-05-28 15:11] dominic-jones commented on #341
I have investigated this locally and have a fix I will submit as a pull request.

[2015-05-28 21:25] SwiTool opened #343 "Slick mouse not working"
Hi,

I can't get my mouse to work. the onClick() is never called, i'll let you see in my code.

here's my XML code :

[code]

My LoginController :

[code]

My Base class :

[code]

Am I doing something wrong ?
If yes, please tell me.
Thanks.

[2015-05-29 03:49] bgroenks96 commented on #343
Hmm. Everything looks ok at first glance. Have you tried using nifty.setDebugOptionPanelColors(true) to debug your layout? Maybe the event is being consumed by something else.

[2015-05-29 04:49] SwiTool commented on #343
Yes I did it, it doesn't respond to any click.
For the keyboard, I put a debug in keyPressed and it "works".. at least, it tells me I pushed a key.

For the mouse, is it possible for it to be consumed by slick, before any code I put here ? I have several slick classes and none has nifty, but this one.

Plus, the onClick is underlined as "never used" ![puush of my code](http://puu.sh/i4tuE/b03092cd

[2015-05-29 17:46] void256 commented on #341
I've applied the merge request and guess it's ok to close this issue now! Please re-open if I've missed something.

[2015-05-29 17:46] #341 closed, assigned to nobody

[2015-05-29 17:56] void256 commented on #338
I don't think you can directly add onClick to ListBox items this way. Internally the ListBox will use the controlDefinition for the item only as a template for the actual items it displays. The reason for that is, that the ListBox only allocates (internal) elements for the number of visible items in the ListBox - and not the actual entries.

Why do you need an onClick? The ListBox "should" handle

[2015-05-29 20:46] SwiTool commented on #343
I use LWJGL 3. Is there a compatibility issue ? I tested with 2.9.3 it doesn't work neither.

[2015-05-30 12:23] SwiTool commented on #343
I've noticed that this guy had the same problem https://github.com/void256/nifty-gui/issues/323
But unfortunately I don't know from where I can get "PlainSlickInputSystem".

[2015-05-30 12:28] SwiTool commented on #343
solved. duplicate of https://github.com/void256/nifty-gui/issues/323

[2015-05-30 12:28] #343 closed, assigned to nobody

[2015-06-03 10:24] lyrgard opened #345 "Is it possible to have a visibleToMouse Panel that doesn't consume mouse events ?"
I'm making a game using jme3 and nifty-gui.
My 3D word (in jme3) can be moved using either the mouse or the keyboard.
I also have some nifty controls (like scrollbars, chatbox) that can get focus and capture keyboard.

What I want to do is to remove focus from any nifty controls if the user click somewhere on the 3D world (outside of any nifty control), so that any keyboard input is transfered to

[2015-06-03 18:00] void256 commented on #345
Yes! There is a better way! :smile:

You can call `nifty.setIgnoreMouseEvents(true)` and/or `nifty.setIgnoreKeyboardEvents(true)` to disable event processing in Nifty completely. Doing so will make Nifty ignore all events which basically makes them available to your game.

This is explained in the manual, see: https://github.com/void256/nifty-gui/tree/1.4/nifty-core/manual on page 78 "NIFTY EVENT

[2015-06-04 13:26] lyrgard commented on #345
Thanks for the answer, void256.

However, I don't think it solves my problem. I don't want my control to ignore Mouse or Keyboard events (I have chat control, and I want the rigth and left key to move the text cursor when this control has focus, for instance). In fact, what I want is that any nifty control that has focus loose it when I click somewhere outside any nifty control.

I finally solved

[2015-06-04 13:26] #345 closed, assigned to nobody

[2015-06-10 22:11] Benjamin-Justice commented on #272
Hi, does the wiki allow for branches?
Because I love the "feature" that the manual I have is frozen for Nifty 1.3.2.

If you have the manual in tex format, or any "versionable" format I can edit without destroying the layout (which means no .doc), I will gladly assist you for Nifty 1.3.2 as it is the version integrated in jMonkey 3.0.
It would help to myself and my team.

At the moment I use the s

[2015-06-19 01:33] arakash92 opened #346 "Single EventSubscriber method for multiple ID's?"
When you create an element, programmatically, how do you respond to events (like DropDownSelectionChangedEvent)?

I know I can simply add a @NiftyEventSubscriber(id="theId")

But then I can't differentiate the element from the others because they all need to be different.

Also, the number of elements that I create is variable/dynamic. So, I can't really add several event subscriber methods.

I mu

[2015-06-19 13:39] spaceemotion commented on #346
you can use the wildcard IDs and check them against your IDs whenever you retreive the event instance (when the method is called).

[2015-06-20 19:52] arakash92 commented on #346
Wildcard IDs?

[2015-06-20 19:53] spaceemotion commented on #346
You can use a star inside an ID, like this: "button-*" to match all IDs that start with "button-"

[2015-06-20 20:51] arakash92 commented on #346
Ok, can I do "button-*-something" as well?

[2015-06-20 20:58] arakash92 commented on #346
Ok, so I'm trying to get this working:

I have a dropdown control with an id of "hello_world" and the following method in my ScreenController:

[code]

But the method isn't being called.

[2015-06-20 21:18] void256 commented on #346
https://github.com/void256/nifty-gui/blob/e98a90c493811cc8d0eb9042f0a42b4610678131/nifty-core/src/main/java/de/lessvoid/nifty/NiftyEventSubscriber.java

try: `@NiftyEventSubscriber(pattern="hello_.*")`

and remember it's a regexp ..

[2015-06-20 21:28] arakash92 commented on #346
Ah, sweet!

[2015-06-21 08:29] spaceemotion commented on #346
Oh, yeah there was a different field for that…
Seems like it's fixed, so this can be closed, right?

[2015-06-22 01:02] arakash92 commented on #346
Yes, thanks for helping :)

[2015-06-22 01:02] #346 closed, assigned to nobody

[2015-06-30 10:40] arakash92 opened #347 "Listen for events on particular element or control, outside ScreenController?"
As the title says, is it possible?

Something like this:

[code]

[2015-07-03 12:46] relu91 commented on #347
No, it's not possible. All event handling is done in a Controller ( as far I can tell ). In this issue #290 I was addressing something similar but now I don't have time to work in nifty, unfortunately :cry: .

[2015-07-04 08:21] void256 commented on #347
If you would be willing to use the EventBus then it would be possible. The [Nifty manual](https://github.com/void256/nifty-gui/blob/1.4/nifty-core/manual/nifty-gui-the-manual-1.3.2.pdf) describes this on Page 81 how to listen for EventBus events on any instance:

[code]

With the basic event handling, the interact methods, I think relu91 is right. Theoretically you could try to attach a ElementCon

[2015-07-04 19:29] arakash92 opened #348 "Disable "tab key" behavior?"
Nifty uses the tab key to traverse through elements and set their focus. Any way to disable this? I need to use the tab key for my game itself.

[2015-07-19 11:31] mkaring opened #349 "Proposal for improved layouting"
Hello,

I'd like push some ideas for a improved layouting system for Nitfy 2.0.

The idea is to remove layout logic from NiftyNode and the layout implementation and move it to the Nifty-Controls to allow complex and custom layout controls. The NiftyNode itself, while being able to store and maintain children, isn't accepting any children unless there is a attached control that explicitly allows on

[2015-07-19 14:06] void256 commented on #349
**ARE YOU MENTAL TRYING TO MESS WITH THE LAYOUTER?** :anguished: :wink: :laughing:
I would say, feel free to go ahead! :sunglasses:

However, there are some things I'd like you to consider:

##### 1. Keep the, old simple layouts as an option or optional feature maybe?

I still like the simplicity of the current layout. Define a childLayout for the parent and maybe have some constraints for the chi

[2015-07-19 14:50] mkaring commented on #349
My idea was to completely replace the old layouter and provide replacements to the current layouts for the new system. So you'd have a horizontal and vertical stacking panel that would replace the horizontal and vertical child layout. So the only difference is that you have to use a specific control instead of the child layout definition. I don't think any "half" solution is good for Nifty 2.0.

F

[2015-07-19 17:41] void256 commented on #349
Sounds great then!

And when I understand you right, it will fit nice with what I have in mind for a better NiftyNode tree too! Great!

[2015-07-19 19:19] bgroenks96 commented on #349
Exactly. The layout should be handled by a separate node that NiftyNodes delegate to. I think, however, and you can correct me if I'm wrong, everything Martin said should be compatible with that design.

Maybe it can be a little bit like 'LayoutManager' in AWT/Swing, but hopefully a lot less horrible :wink:

[2015-07-19 22:42] bgroenks96 opened #350 "Create DSL for Defining and Laying Out NiftyNodes"
As of right now, Nifty 2.0 relies solely on Java APIs for designing and maintaining GUI layouts.

There are a few issues with this:
1. Bad for code modularity

   GUI code is generally fairly esoteric compared to the rest of an application. As such, it's generally better to keep it as independent as possible (like with MVC model, among other things). Unfortunately, whenever the UI code is written

[2015-07-19 22:58] bgroenks96 commented on #348
Hmm. From a quick look at the source, it looks like this behavior is fairly burned into the behavior of the Nifty controls.

You may want to try extending whichever input system you are using (LwjglInputSystem if it's LWJGL) and maybe redirecting 'TAB' input events. That's the only solution I can think of off the top of my head. Let me know if that works for you.

[2015-07-19 23:06] bgroenks96 commented on #348
You also might be able to override the controls themselves individually... but that might get tedious. What do you think @void256 ?

[2015-07-21 21:15] void256 commented on #348
Yes, @bgroenks96 is right. You could override it for each control but there is currently no easy way to disable that behaviour completely.

The `de.lessvoid.nifty.input.mapping.DefaultInputMapping` is used by default and is responsible for that. If you don't provide your own InputMapping then the DefaultInputMapping is used.

However, there is one line responsible for that. It is this: https://git

[2015-07-22 04:47] bgroenks96 commented on #348
I'm trying to see if it could be done on a per Screen or per ScreenController basis... since that kind of makes sense (to me at least). The problem is that ElementType doesn't have a Nifty instance available to it.

[2015-07-24 01:13] dustContributor commented on #304
So a heads up. I'm trying to set up Nifty with LWJGL3 (like, right now). So far LwjglInputSystem completely fails because all of that input stuff has been removed in LWJGL3 (now there aren't Mouse/Keyboard/Display classes anymore, but GLFW's instead).

[2015-07-24 01:30] dustContributor commented on #304
Ohh and now OpenGL stuff too. GL20.glGetShader doesnt exists in LWJGL3, you got glGetShaderi or glGetShaderiv, since Spasi removed the whole "postfix avoiding" thing when passing buffers, so all calls have postfixes like 'fv'.

So far I'm getting issues in LwjglCoreGL for:
- GL20.glGetProgram, should be GL20.glGetProgramiv
- GL20.glGetShader, should be  GL20.glGetShaderiv
- GL20.glUniform1, should

[2015-07-24 01:44] dustContributor commented on #304
And now NoClassDefFoundError inside 'LwjglMouseCursor' constructor, because org.lwjgl.LWJGLException doesn't exists. Prolly other methods would fail too because 'Mouse' class isn't there anymore and 'Cursor' either.

[2015-07-24 02:53] bgroenks96 commented on #304
Sounds like we will definitely be needing a new renderer then.

I probably _shouldn't_ work on this since I generally deal with JOGL stuff, and I haven't used LWJGL much. But if you want to go ahead and clone the LWJGL2 module and start hacking away at a LWJGL3 port, that would be super helpful! And I can definitely pull in your changes.

Or @mkaring or @void256 could possibly work on it, but Nift

[2015-07-25 16:21] dustContributor commented on #304
I am not terribly sure how to implement the input system part. Renderer is just a matter if changing a few call names, but input is completely different since now it works through GLFW.

GLFW works with callbacks. Instead of LWJGL doing the input buffering for you through static globally accessible classes, GLFW depends on a callback you pass to it that it will call on mouse/keyboard events. Moreo

[2015-07-25 16:58] void256 commented on #304
I'd vote for a LWJGL3 renderer besides the old lwjgl renderer project then!

I've not looked into any LWJGL3 stuff but I've always been a LWJGL fan and would like to see support for that in Nifty too.

About the input event processing I think it should be clear to anyone that wants to use Nifty and LWJGL3/GLFW that Nifty needs access to input events too. Therefore I don't see a real problem with t

[2015-07-25 17:38] dustContributor commented on #304
Second way is what I'd prefer, otherwise it screws right through the way I set up input handling...

In any case, I think the callback could be hijacked. GLFW's function to set the callback returns the previous one, so I think Nifty's callback could be appended to the existing one if needed (ie, create a new anonymous class that handles nifty stuff and calls the previous callback).

Then again tha

[2015-07-26 10:03] DrohtinDev opened #354 "Batched Nifty GUI - redraw image"
Hi,

I am using JME3 and NIfty GUI. Furthermore I am batching the UI to improve the performance.
I would like to create a minimap. This minimap is changing all time. The minimap is stored in the JME3 assetmanager. I can load this minimap-image via xml and it works fine. After I am changing the image I am using markBatchRenderImageAsUnloaded() on Nifty site to update the image. This works fine unti

[2015-07-26 10:04] DrohtinDev commented on #354
Since I am using JME3 I am using NIfty 1.3.3.

[2015-07-28 16:03] bgroenks96 commented on #354
Can I see some code for how you're interfacing with Nifty's batch renderer? You need to tell the BatchRenderDevice to clear the section of the atlas with your minimap, and make sure to redraw it at the same coordinates to prevent overwriting any other texture quads you might have loaded in that atlas.

[2015-07-30 14:33] BorealFeast commented on #354
Is this issue related with the fact that using the batchRenderer with a <image ... filter="true" />, the filter parameter is ignored?

[2015-08-09 07:05] Genhis opened #355 "Application crashes when cursor changes"
Hello,

I'm trying to use the Console, but I'm getting this error when I move the cursor over the text field.
I'm using Slick2D game library and my class extends NiftyBasicGame.

[code]

[2015-08-09 12:20] mkaring opened #358 "Definition and handling of Node Adapters"
I wrote some initial examples how those adapters/views of nodes could look like. While they are very similar they do not share a interface yet.

We need to define how the adapter is handled inside the tree and how the user is able to retrieve it.

The user will be looking for the definition of the adapter if searching in the tree so there should be a way to expose this one. For the storage of the

[2015-08-09 12:34] void256 commented on #358
Yes, I'm on it. Just some more hours of patience please. After moving things around the whole morning I think I've figured a solution out that makes me happy. Not sure if you totally like it tho :wink:

I just need a little more time.

[2015-08-09 12:38] mkaring commented on #358
No worries. If I do not like it you are the first to know. :D

[2015-08-10 02:44] bgroenks96 commented on #355
Looks like the Slick2D renderer doesn't support custom cursors at the moment :disappointed:

Unfortunately, I'm not too familiar with Slick2D (never used it before), but if you have an idea of how to set custom cursors in Slick2D, you're definitely welcome to add support for this! It should be a pretty simple addition to nifty's slick renderer, provided you know how to do it in Slick.

I'm here if

[2015-08-10 02:49] bgroenks96 commented on #355
Well I totally lied I guess.... :cold_sweat:

I went to actually check the code AFTER I wrote my comment.... there is support for a Slick mouse cursor with LWJGL (I assume that's what you're using...?).

It looks like, for whatever reason, your renderer isn't using the Slick mouse cursor.

Can I see your initialization code for the Nifty renderer?

[2015-08-10 06:38] Genhis commented on #355
Actually, Nifty initialization code is the default, you can find it in `de.lessvoid.nifty.slick2d.NiftyOverlayBasicGame.initNifty()`.

[code]

[2015-08-10 07:29] #348 closed, assigned to bgroenks96

[2015-08-10 07:54] ghost commented on #355
@Genhis It looks like you're using a ChangeMouseCursor effect, which means you're probably manually registering custom slick mouse cursors with Nifty? Please show us that code.

[2015-08-10 08:14] Genhis commented on #355
No, I'm not registering any mouse cursor. This is all my code:

[code]

[2015-08-10 10:26] ghost commented on #355
@Genhis You're not doing anything wrong. I've submitted a bugfix, and I actually caused this bug from an old refactoring that I performed.

After @void256 merges this, all you will have to do now is change the way you're instantiating Nifty to include the GameContainer instance:

new Nifty(new BatchRenderDevice(SlickBatchRenderBackendFactory.create(gameContainer)), new SlickSoundDevice(), new Slic

[2015-08-10 10:29] ghost commented on #324
@lawallet You're not doing anything wrong. I've submitted a bugfix, and I actually caused this bug from an old refactoring that I performed.

After @void256 merges this, all you will have to do now is change the way you're instantiating Nifty to include the GameContainer instance:

new Nifty(new BatchRenderDevice(SlickBatchRenderBackendFactory.create(gameContainer)), new SlickSoundDevice(), new Sl

[2015-08-10 21:25] #324 closed, assigned to nobody

[2015-08-10 21:25] #355 closed, assigned to nobody

[2015-08-11 01:49] ghost commented on #324
@lawallet @void256 Can someone please test the bugfix now that it's merged? Thanks!

[2015-08-11 01:49] 3xp0n3nt commented on #355
@lawallet @void256 Can someone please test the bugfix now that it's merged? Thanks!

[2015-08-11 01:50] ghost commented on #355
@Genhis @void256 Can someone please test the bugfix now that it's merged? Thanks!

[2015-08-11 06:21] Genhis commented on #355
Tested, it works. Thanks :)

[2015-08-11 08:42] bgroenks96 commented on #355
Thanks @3xp0n3nt for your help!

[2015-08-11 08:43] ghost commented on #355
I do what I can. :sweat_smile:

[2015-08-18 09:08] relu91 commented on #350
I really like the idea to have a DSL for Nifty 2.0. You point out all the major benefit to have it, but it also could make easier not only the layout coding but also some inter operations with application code. This could avoid some major first-user problems like setting up the environment or attach the right listener ( if it will use a swing like pattern for gui events), tedious or duplicate code

[2015-08-18 09:15] mkaring commented on #350
If we want to use a precompiled dsl we could compile it straight to java
builder code before the java compiler does it's work. No need for any
storage system this way. It also will not get faster than this any other
way.

Cristiano notifications@github.com schrieb am Di., 18. Aug. 2015 11:08:

[2015-08-18 09:21] relu91 commented on #350
Yeah I thought it after posting :smile: , but now I'm asking if it could be useful for other use cases. What about modding? A precompiled gui it's not so easy to edit. Or if we what for some reason that the gui is loaded from a Server? I know that we can use a remote class loader but it's a bit tricky. What do you think about these problems?

[2015-08-20 06:06] bgroenks96 commented on #350
@mkaring Do you really think it would be much more performant to generate builder code instead of interpret the DSL directly at runtime?

Seems like the difference would be pretty marginal; we're talking only minor added overhead from the lazy parsing... do you think that would end up being that significant?

[2015-08-20 09:06] mkaring commented on #350
@bgroenks96 Parsing the language at runtime is no big deal at all. I was
more thinking towards the object generation the parser would have to do by
reflection. Reflection is always slow and nasty and I'd like to have ways
to avoid this completely. Also I was thinking towards Nifty on mobile
devices and such where every second during the launch of the application
counts. Again those application don

[2015-08-20 16:54] bgroenks96 commented on #350
@mkaring I like that. Supporting both should be entirely doable.

So now the question is, what do we want the DSL to look like?

[2015-08-21 17:26] mkaring commented on #350
@bgroenks96 I think that is something that should be discussed once it is know what nodes are there and can be placed. Because that will be massively different compared to older versions of Nifty.

[2015-08-21 17:54] spaceemotion commented on #350
To me the proposed example code looks fairly similar to YAML, which is something that i learned to love and later on learned to hate. You seem to be using spaces and/or tabs in your code, which needs to be consistent across the whole file. Working with multiple people on the file can create problems when some haven't set up their editor(s) correctly, in which case things have to be converted one f

[2015-08-21 19:33] mkaring commented on #350
The thing is: A compiler/parser/interpreter for any DSL to describe the UI isn't part of the core of Nifty. It is a addition. You will not find a language, everyone likes. I actually like the XML descriptors. I could also work with a json style DSL or even a DSL that looks like java/groovy in the style of gradle scripts.

I think some will like YAML, some a language that looks like python and some

[2015-08-22 04:46] bgroenks96 commented on #350
It sounds like there should be a higher level interface for parsing Nifty UI definitions, with a default implementation of a custom DSL AND pluggable architecture for people to write their own (hopefully with a reasonably low amount of work) parsers for whatever language they might like to use?

[2015-08-22 06:56] mkaring commented on #350
@bgroenks96 Something in that direction would be nice I think. Still I think: First things first. Nifty 2.0 needs to be clearly defined so we know what the languages need to be able to do.

[2015-08-22 08:12] relu91 commented on #350
I agree with @mkaring we need a stable Model of Nifty 2.0 and then write a DSL . In my experience the dsl should be a way to describe user models by using the meta-model which nifty will propose. I agree also that the language should be really flexible to satisfy the needs. I used https://eclipse.org/Xtext/ in my university project. It's really cool and easy to understand but I think it's bound to

[2015-08-27 18:12] BorealFeast commented on #55
edit: I'll create a new issue since this one is closed.

Hi!
I'm currently migrating from 1.3.2 to 1.4.1 and i found an issue with the NiftyEventSubscriber annotation. To be short, I have two screenControllers subscribing with the NiftyEventSubscriber annotation with the same pattern. This worked well in 1.3.2 since only the current screen received the event. Now in 1.4.1, the event is thrown in b

[2015-08-27 18:25] BorealFeast opened #363 "Event subscription never removed for screenControllers"
Hi!
I'm currently migrating from 1.3.2 to 1.4.1 and i found an issue with the NiftyEventSubscriber annotation. To be short, I have two screenControllers subscribing with the NiftyEventSubscriber annotation with the same pattern. This worked well in 1.3.2 since only the current screen received the event. Now in 1.4.1, the event is thrown in both of my screenControllers. What If found is the went I

[2015-08-27 19:43] wlinna opened #364 "Application not closing cleanly unless I delete some elements"
I migrated from nifty-gui 1.3.x to 1.4.1 and I'm experiencing a strange issue with this new version.

When I close my application, it doesn't get destroyed cleanly. Then I narrowed down the problem to the nifty-gui. When I deleted some elements by commenting them in XML, the application started closing cleanly. The strange thing is that it didn't seem to matter much which elements. Only the amount

[2015-08-30 23:00] AlexanderEggers opened #365 "Nifty 1.4.1 causes app problems"
I found a possible bug with nifty 1.4.1 at the JMonkeyEngine 3.1 alpha. It seems like that nifty is causing to prevent a full closing of an app. I've created a topic for this already in the jme forums (http://hub.jmonkeyengine.org/t/3-1-alpha-project-is-not-closing-correctly/33564/50), but I thought that it wouldn't hurt to create an issue on github, too. The problems appears with a certain thread

[2015-09-07 22:02] cuchaz commented on #363
I just ran into this problem too. Glad to see there's already an issue for it. Looks like one simple change fixes it. Try this:

[code]

Oh, the same change is needed for idProcess() too.

[2015-09-12 20:04] cuchaz opened #375 "onEnabled effects don't execute by default"
putting something like a

[code]

on an element has no effect unless I explicitly call `disable()` and then `enable()` on the element.

I would have expected onEnabled effects to execute by default for new elements? Without default onEnabled execution, it's really hard to have visual enabled/disabled states for e.g. buttons that have completely separate rendering. In other words, enabled state for

[2015-09-16 12:20] mkaring commented on #350
The general layout of the nodes is taking shape for Nifty 2.0. Also i tricked @void256 into using a very nice system to define the nodes that also allows to discover the nodes that are known to Nifty very easily. We may need to add some additional annotations to the classes to allow proper identification of the properties of each node, but I think that is something we can manage.

As it stands I t

[2015-09-22 20:49] void256 commented on #363
I think commit c6e0b12 should fix this issue.

Thanks for your suggestion @cuchaz and the pull request @Teencrusher as well as @bgroenks96 for checking and merging!

I'll close this issue now. If you think this is wrong, then please feel free to re-open and yell at me :smile:

[2015-09-22 20:49] #363 closed, assigned to nobody

[2015-10-10 16:30] gustav3d commented on #304
any progress ? :)

[2015-10-13 04:43] bgroenks96 commented on #304
@dustContributor @void256 @mkaring

Do we have anyone currently working on this?

[2015-10-13 22:14] spaceemotion opened #380 "Screen goes white when using Nifty 1.4.1 (LWJGL renderer)"
I am currently trying to get Nifty work with a LWJGL application.
The current rendering is set to a 3D mode, and as one might have guessed, nifty has to be on top of that.

But even if there is no 3D models being drawn, I still get a blank (in this case white) screen – And yes, the clear color is indeed BLACK. From further googling and searching it seems like its an OpenGL issue, but the console i

[2015-10-14 00:07] dustContributor commented on #304
@bgroenks96

Not me, sorry.

[2015-10-15 18:00] bgroenks96 commented on #380
Try putting the `nifty.update()` and `nifty.render(clearScreen)` AFTER `glPopMatrix()` but BEFORE `glPushMatrix()`.

[2015-10-16 20:36] spaceemotion commented on #380
Okay, so I finally got an initial state to work - The debug FPS counters are being drawn, but now its background is a plain white, although I do not have any nifty screens open.

I also had to add the following OpenGL calls before the nifty.update method:

[code]

**_Edit:**_ Okay, fixed it by re-enabling Texture2D and blend mode, as Nifty disabled them after being called.

[2015-10-18 21:53] #380 closed, assigned to nobody

[2015-10-19 00:31] bgroenks96 commented on #380
Erm... where did Nifty disable GL_TEXTURE_2D? I'm not sure that should really happen... at least not by default.

[2015-10-19 14:26] spaceemotion commented on #380
I am using the batched render device, as stated by the deprecation comment on the LWJGL renderer. The `BatchRenderBackendInternal#endRendering` method has the following content:

[code]

[2015-10-30 13:52] bgroenks96 commented on #365
@void256 Who usually works on the jME3 backend for Nifty?

[2015-10-30 13:54] bgroenks96 commented on #364
Can you give a specific example of something you commented out to make the application close properly?

[2015-10-30 14:04] bgroenks96 commented on #304
I'm not super familiar with LWJGL and especially not LWJGL3... so we need a brave, LWJGL savvy volunteer for this.

[2015-10-30 19:20] wlinna commented on #364
It has been a long time and I don't remember all the experiments, but this is one example from an old branch (now I just use System.exit to work around this issue).

https://github.com/TripleSnail/Arkhados/blob/jme31/assets/Interface/ClientUI.xml#L457

I commented some of those controls. But it's not related to them, because I was able to make app close cleanly by commenting bunch of other element

[2015-10-30 19:45] wlinna opened #382 "Listbox scrolling doesn't work if set to optional"
I'm using Nifty 1.4.1 with jMonkeyEngine 3.1 alpha. I noticed that if vertical is set to "optional", it doesn't work. The scrollbar itself seems to work, but it doesn't scroll Listbox content.

But if I set vertical to "on", it works perfectly.

In my test application I set two Listboxes like this:

[code]

and add few items like this:
        ListBox list1 = nifty.getCurrentScreen()

[2015-10-31 19:53] bgroenks96 commented on #365
Duplicates #364

[2015-10-31 19:53] #365 closed, assigned to nobody

[2015-10-31 19:53] bgroenks96 commented on #364
See #365 for useful code and stack trace.

[2015-10-31 19:59] bgroenks96 commented on #364
I don't think this is a Nifty issue, actually. Which Nifty backend is jME using? (or maybe @void256 will know)

The java.util.Timer API is not used anywhere in Nifty's codebase:
https://github.com/void256/nifty-gui/search?utf8=%E2%9C%93&q=java.util.Timer

[2015-10-31 20:00] bgroenks96 commented on #364
That being said, there could be another facility or library Nifty is using that is launching a Timer instance. Unfortunately, there probably isn't much we can do about that here.

[2015-11-05 19:59] bgroenks96 commented on #382
Can you throw together a brief SSCE so that we can confirm this issue?

[2015-11-05 20:01] bgroenks96 commented on #347
Looks like @void256 and @relu91 have sufficiently answered this question. Reopen if there are any further issues.

[2015-11-05 20:01] #347 closed, assigned to nobody

[2015-11-05 20:04] #331 closed, assigned to nobody

[2015-11-06 15:21] bgroenks96 opened #383 "Add CoreInput module to Nifty 2.0 to cover input systems for LWJGL/JOGL"
CoreGL features a high-level input API that has backends for both LWJGL and JOGL (possibly could add more in the future, depending on where CoreGL goes).

The code and spi can be found in the CoreGL repo [here](https://github.com/void256/coregl/tree/master/coregl-utils/src/main/java/de/lessvoid/coregl/input).

The goal is to replace the Nifty 2.0 LWJGL input module with a CoreInput support module

[2015-11-09 21:31] wlinna commented on #382
Is it enough if I give you all the sources and libraries of the demo in zip-file or do I have to include some kind of build script that doesn't depend on jMonkeyEngine-installation?

I'm asking this because I use jMonkeyEngine SDK IDE (based on Netbeans) and I've had some problems with creating build script that doesn't depend on it.

[2015-11-10 14:35] bgroenks96 commented on #382
Yeah that should be enough. Definitely preferable that the demo build doesn't depend on jME...

[2015-11-14 10:50] wlinna commented on #382
Sorry for delay. I forgot this couple times.

I made SSCE, but it uses jME. All dependencies are packaged however.

https://drive.google.com/open?id=0B4T6ZT_UgfRjQnhxQzhTLTlfZ2M

to compile and run on command line, do:

[code]

On Windows, replace : with ;

I hope this suffices.

[2015-11-14 17:31] bgroenks96 commented on #382
Thanks for the SSCE. That helps a lot.

I've already noticed some potential problems in the log output. When the first listbox vertical attribute is set to optional, the following log messages are printed:

[code]

That doesn't appear if I change it to "on" .... so there's definitely something weird going on with the internals of the ListBox control.

I'll take a look and see what I can find. As a

[2015-11-20 18:23] BorealFeast opened #384 "Warnings with style nifty-default-styles.xml"
Some warnings from nifty bothered for a while.

[code]

It seems that those warnings come from the use of the style _nifty-default-styles.xml_ . Inside this xml style definition, there is an import of _panel/nifty-panel.xml_ and _tabs/nifty-tabs.xml_, and where the latest imports again _panel/nifty-panel.xml_ which triggers the warning.

[2015-12-04 18:30] BorealFeast opened #386 "nifty.createElementFromType() messes up sub-Templates"
Hi there folks!

Normally I can solve the bugs I find in Nifty and propose a fix for them. That was until this issue. So what I'm trying to do is, like in the Listbox control, use the child of the child-root element as a template. The thing is that the template item is created successfully but the subsequent copies of the template are messed up. The duplicated control is well copied (at least that

[2015-12-15 22:37] SonarBeserk opened #387 "Maven hosting service 503 Error"
The website for maven packages http://nifty-gui.sourceforge.net/ is having a 503 error. This is currently preventing smooth builds.

[2015-12-16 01:29] bgroenks96 commented on #387
Thanks for reporting this.

It's giving me a 404 error now, actually. @void256 Please take a look ASAP.

[2015-12-16 01:37] bgroenks96 commented on #387
@void256 Check out the last build (from November) for Nifty 2.0 on Illarion's CI server. It was triggered by a CoreGL update, but it appears to have failed due to some failure in retrieving Nifty artifacts:
https://illarion.org:8080/job/Nifty-2.0.x-SNAPSHOT/102/

[2015-12-16 01:44] SonarBeserk commented on #387
When I contacted him on twitter he said that it is likely an issue of Sourceforge having poor uptime. However Im not sure why there would be a 404.

[2015-12-16 01:50] mkaring commented on #387
The sourceforge servers are often acting up. Timing out, sending strange errors and stuff. Maybe we can convince @void256 to move to another hosting server. Sonatype or maven central... at least for the stable builds.

[2015-12-16 13:22] void256 commented on #387
The correct URL is: http://nifty-gui.sourceforge.net/nifty-maven-repo/ and it seems to work for me now again. I did get 503 Errors last night but as far as I see they are gone.

Also: https://issues.sonatype.org/browse/OSSRH-19476 :smile: Not sure if it goes through tho. Eventually they don't like our groupId "lessvoid" and we'll probably need at least the "jglfont" to be available in the central

[2015-12-16 14:30] spaceemotion commented on #387
Good luck! They usually respond within a few hours (max a day) :)

[2015-12-16 17:54] void256 commented on #387
Alright, our first try was rejected because of:

[code]

I kinda expected that since "lessvoid" is missing some top-level domain like "com" :wink:

It doesn't need to contain "lessvoid" but I think `com.lessvoid` would be accepted since I do own that domain. But we could go with `com.github.void256` as well - as they've suggested. However, I don't like that because Nifty doesn't need to be connect

[2015-12-16 18:15] spaceemotion commented on #387
Ah, right they do check the domains.

Maybe it's not a bad idea to make nifty more "global" by changing the groupId to something like `net.niftygui` or `com.niftygui` (you would have to own the domain first, though) – obviously `nifty.com` and `nifty.net` are already taken.

[2015-12-16 18:17] bgroenks96 commented on #387
Wait... is there a reason de.lessvoid won't work? That seems like the most obvious choice.

[2015-12-16 18:36] void256 commented on #387
`de.lessvoid` won't work right now because I don't own the domain and Nifty is not really a `de` project anymore :smiley: I already think of it as being more international.

`com.lessvoid` would be possible already but I'm not sure it should stay under `lessvoid` at all.

@spaceemotion Leaving out the "gui" part leads to some strange domains :wink:

However `net.niftygui` or `org.niftygui` or even

[2015-12-16 18:49] mkaring commented on #387
A possibility would also be to create a dedicated github organization for the nifty-gui and use that as domain reference.

[2015-12-16 19:10] void256 commented on #387
excellent idea! I've just set up https://github.com/nifty-gui :smile:

[2015-12-17 11:58] void256 commented on #387
Since I like the "nifty-gui" organization idea I sent out member invites for existing collaborators. You should get an email invite by github so that you'll keep write access to the new repo.

If I understood everything correctly I can transfer the original `void256/nifty-gui` repo to `nifty-gui/nifty-gui` with a single button press keeping all the git history and the issues intact.

Any objection

[2015-12-17 15:25] mkaring commented on #387
Don't let anyone stop you. Just do not forget to update the build server after you are done. I do not like if it fires errors. ;)

[2015-12-17 15:56] void256 commented on #386
I think this is one of the edge cases that aren't really supported.

Creating new elements in Controller bind() like you're trying to do, is reasonable from your (user) perspective but I don't think we'll get Nifty to do that correctly in that special case. Since bind() is probably called at a time when the layout of elements is already done your newly created element copy is probably not - if it

[2015-12-17 16:16] BorealFeast commented on #386
As you said, I ended up by copying the template element (which is how I did to create the _expected_ Picture).
The thing is that it would lead to a messy xml, but wrapping the duplicated template into a control might be a good alternative.

[2015-12-17 17:39] void256 commented on #387
Done! I've already updated the 1.4 branch with the new groupId and the Sonatype issue as well.

**Edit:** Sonatype responded quickly and we're now able to deploy SNAPSHOT builds as well as stage release builds for central.

Welcome your new home:

[code]

But you'll still need to add both repositories to your pom.xml for now:

[code]

The "ossrh" is only required if you plan to use Nifty SNAPSHOT

[2015-12-21 22:22] DrohtinDev opened #388 "UnsubscribeAnnotations does not work with pattern"
Hi,

I am using the eventbus of nifty with my own classes (so no controller, screencontroller or what so ever). At the beginning I subscribe the instance of my object. After some events happen I want to unsubscribe this instance of the object. But this does not work.

I debuged everything until NiftyEventAnnotationProcessor.patternProcess. This methode add or remove things to the eventbus. During

[2015-12-21 22:55] DrohtinDev commented on #388
Okay just saw that it is fixed in 1.4.2 SNAPSHOT. So a maven update fixes that issue for me!

[2015-12-21 22:55] #388 closed, assigned to nobody

[2015-12-31 01:04] bgroenks96 commented on #350
@void256 @mkaring What's the status of this? Are we ready to start hashing out details regarding a DSL design?

[2016-01-01 14:21] mkaring opened #391 "NiftyColor"
The NiftyColor class needs some reconsideration in the current implementation for Nifty 2.0

The functions for fetching the "standard" colors do not contain any caching of instances but instead perform a expensive parsing from a string constance every time the function is called.

What was the idea behind implementing those constant colors as functions and not as static constants? The `NiftyColor`

[2016-01-01 15:01] void256 commented on #391
I agree! This should be changed. The static methods should return color constants instead of parsing the color strings on each call. That sounds indeed really stupid in retrospective. Preventing memory garbage is essential for Nifty!

I don't see any real reason that these are static methods instead of constants. However, having them as methods will eventually provide a better API evolution compar

[2016-01-01 21:57] mkaring commented on #350
Not sure about that. I mean regarding the structure of the basic nodes it is already pretty clear what will be around. But things like controls, events, controllers of any kind are still totally unclear (to me at least).

[2016-01-03 21:02] void256 opened #394 "[2.0] Use slf4j for logging"
We've decided to use slf4j because it's more simple to log with it and it eventually makes using it on Android easier. The 33kb memory overhead and the new dependency is acceptable

[2016-01-07 12:35] simplerun commented on #335
Same issue as @Cafnio  but I tried two xsd versions:

[code]

[code]

I used generated files in jme3 and issue pop-up in SDK editor "Cannot find the declaration of element 'nifty' ". Also retriver output in jme sdk report that retrived location nifty-gui.sourceforge.net not found. On app run in jme sdk, app show nifty start screen but every action (mouse click) end up with error report in output w

[2016-01-07 13:49] simplerun commented on #335
Found alternative/temporary solution!
Unpacked nifty-gui.jar and copy nifty-1.3.xsd in my local apache. I used local IP 192.168.88.35 and then pulled out  xsd with (my working example):

[code]

Now I can see downloaded xsd in JME project directory under project/nbproject/private/retriver/192.168.88.35/nifty-gui and no more error "Cannot find the declaration of element 'nifty' "

Under same projec

[2016-01-07 14:20] relu91 commented on #335
You found a clever solution :smile: . I think that you also point out that what problem is, the xsd is no more online. I don't know why it cause the exception in the editor tough. Are you using JME 3.1 alpha? If it's not you are using the old integrated editor. About my nifty editor try using the 0.6 version (it's exactly the same as the one integrated in JME 3.1 alpha ). I've just tried it and it

[2016-01-07 14:41] simplerun commented on #335
I use JME 3.0, wanted stable SDK for fast introduction into game programming. Almost everything  about JME on their pages is for 3.0 version. Have two PCs, one ubuntu 12 LTS, another ubuntu 14 LTS. Same errors on both.  Your point taken, must go forward although JME  3.1 is in alpha.
... Downloaded NIfty editor 0.6

Thanks

[2016-01-07 16:04] relu91 commented on #335
You could stay with 3.0 if you will use edit the gui using the stand alone editor. It has a pretty decent integration with IDE (actually with whatever ide you are using). It's not well documented unfortunately :disappointed: sorry for that. Basically the steps too produce a working gui is:
1. Create a new gui file in JME IDE.
2. Open Nifty-Editor and open the file ( File-->Open )
3. Set Asset Fold

[2016-01-07 18:21] simplerun commented on #335
Everything works now. 1. xsd file is on rich localy, 2. Use JME3.0
Also use Nifty-editor as You instructed. Xml opens in NE0.6 but some tags missing after opening file.
Used xml that I posted few posts above.
What is missing ?
 in panel id="panel_top" and in panel id="panel_mid" text tag missing, and tag

[code]

is missing.
If I do nothing some tags are missing from original xml.

Suggestions ?

[2016-01-07 19:31] relu91 commented on #335
Unfortunately that's a bug or better it's a not implemented feature :smile: . The editor should only skips that elements and save them after, but now it doesn't sorry. :cry:

[2016-01-07 19:46] bgroenks96 commented on #335
So @void256 is the hosting location for the XSD no longer valid?

[2016-01-07 23:42] mkaring commented on #335
Isn't the XSD embedded into one of the jar files?

[2016-01-11 10:19] dustContributor opened #395 "NiftyGUI 1.41, only draws a black rectangle"
Hi! Honestly I don't know where else to ask this, this is my issue:

I'm using the OpenGL core renderer batch backend for NiftyGUI, trying to show a panel with two buttons, my rendering works fine but from Nifty I only get a black rectangle where the panel
is supposed to be.

This is the XML schema:

[code]

Loading it like:

[code]

Just in case I do the following state tracking when drawing:

[c

[2016-01-11 20:28] void256 commented on #395
From a quick look I think enabling GL_TEXTURE_2D might be missing?
But I agree this really needs more documentation in the wiki. Actually I thought I already did but couldn't find it. However, since we've been there before, I've found a similar issue and a comment of mine: https://github.com/nifty-gui/nifty-gui/issues/216#issuecomment-33885117  Maybe you can check the states there as well?

[2016-01-11 20:45] void256 commented on #387
Since http://nifty-gui.sourceforge.net/ should be available again and new builds will be deployed to sonatype anyway, I'll close this issue now.

[2016-01-11 20:45] #387 closed, assigned to void256

[2016-01-11 20:46] #386 closed, assigned to nobody

[2016-01-11 20:50] void256 commented on #100
I think we've waited long enough :smile: If there is a problem with it a new issue should be created.

[2016-01-11 20:50] #100 closed, assigned to nobody

[2016-01-11 22:24] bgroenks96 commented on #395
Like @void256 said, check GL_TEXTURE_2D and make sure it's enabled before calling `nifty.render()` and make sure you also aren't accidentally enabling GL_STENCIL_TEST or something.

If that doesn't work, please post your code for initializing both your Nifty instance (with the batch renderer) and any relevant OpenGL initialization calls.

[2016-01-11 23:11] void256 commented on #335
I've recovered the following text from one of the old website backups. This text was available under http://nifty-gui.lessvoid.com/nifty-gui and is now available there as a plain-text file again.

Here is the text:

[code]

In short, a XML namespace is usually a URI but it is not required by XML-Schema that an actual file exists at that URI (although sometimes it is).

The correct and current name

[2016-01-11 23:11] #335 closed, assigned to nobody

[2016-01-11 23:15] void256 commented on #335
Oh and btw: http://nifty-gui.lessvoid.com/ now forwards to the correct URL as well: http://void256.github.io/blog/

[2016-01-12 01:50] bgroenks96 commented on #334
Since I honestly don't really want to continue down the awful Java2D porting road... I would like to propose an alternative that might solve the issues of those who want Java2D support like @relu91

JOGL supports integration with Swing/AWT via their [NewtCanvasAWT](http://jogamp.org/deployment/jogamp-next/javadoc/jogl/javadoc/com/jogamp/newt/awt/NewtCanvasAWT.html). I would prefer that we encourag

[2016-01-12 01:53] bgroenks96 commented on #334
If I may, let me go ahead and tag @gouessej in here as well. Does it sound viable to replace the Nifty Java2D backend (or at least its purpose) with just JOGL and NewtCanvasAWT, Julien? Are there any limitations we should be aware of that might warrant keeping pure Java2D support around?

[2016-01-12 04:32] dustContributor commented on #395
As I mentioned, I'm using a core profile (OpenGL 3.3 core profile precisely). glEnable(GL_TEXTURE_2D) is deprecated in core. Neither I can use the matrix functions nor GL_ALPHA_TEST. Disabling GL_STENCIL_TEST makes no difference.

Ahh found it while I was writting this. I use sampler objects, and set them to default texture units (units 0 to 15 get one sampler, 16 to 31 get another).

The default

[2016-01-12 06:22] void256 commented on #395
Sorry, completely overlooked that you mentioned OpenGL Core here >_<

Yes, we should also save/restore the sampler state exactly like you've mentioned! And you're right, Nifty does not use Sampler Objects yet. Have you already verified if this fixes the panel rendering for you?

I can add the save/restore for the sampler binding tonight. But why don't you send a pull request? :smile:

PS: The clas

[2016-01-12 06:39] bgroenks96 commented on #395
It should be Nifty's job to clean up its own state changes. This is a bug; the onus doesn't fall on the user.

I can take care of this @void256. Not even sure why you're awake at the moment... unless you just woke up? ;)

[2016-01-12 07:09] #395 closed, assigned to nobody

[2016-01-12 07:11] dustContributor commented on #395
Yup. Unbinding the sampler before rendering Nifty fixes it.

Yes. Google around for "glGet performance". glGet calls can produce driver sync points with the application, which means that it will stall the driver until it can answer the call. Thats not good, and its the sole reason of doing so called "state shadowing" from the application (ie, simply store the state changed instead of asking the dr

[2016-01-12 07:11] bgroenks96 commented on #395
@dustContributor Good night. I got it for you! :smile:

[2016-01-12 08:30] ghost commented on #334
In my humble opinion, dropping an half broken Java2D backend to concentrate on the JogAmp backend is a good idea. If the Java2D backend worked very well, it would be worth to keep it. The JOGL AWT GLCanvas is still more reliable than NewtCanvasAWT (which is still faster) and GLJPanel solves a few problems with transparent components. Personally, I would support them all like JogAmp's Ardor3D Conti

[2016-01-12 10:24] relu91 commented on #334
I'm going to rewrite the editor from scratch for the nifty 2.0 version, so it's ok to use an other renderer! Also I hope to use nifty-gui even for the gui editor it-self,which will be very cool in my opinion. Thus we could even avoid a java2d/awt integration! :smile:

[2016-01-12 10:50] mkaring commented on #334
I agree as well. Dropping Java2D for Nifty 2.0 is more viable then trying to get it working to some extend. I think the JOGL canvas things should already work, since they are also "just" a OpenGL context. Shouldn't CoreGL cover that? At least mostly?

@relu91 I think it would be great if you could look at the code of Nifty 2.0 from time to time from the perspective of writing the editor. Especiall

[2016-01-12 11:59] relu91 commented on #334
@mkaring yes I'm already doing that! What I find little difficult right now is to understand the new layout nodes is there a pull request where it was explained the new architetture?

OT: It would be also awesome if we can have a tool to see the development process, I like the github issue system but I get lost easly. Could we make a standard tag for "developing issues" ? I don't know f.I.

Issue

[2016-01-12 12:04] mkaring commented on #334
@relu91 I do not think there is, I am currently in progress of adding a lot of JavaDoc documentation to the layout classes trying to explain how they work and what the basic ideas are. If you want we can also chat regarding the layout system. I am very interested in your opinion, but a discussion like this is OT for this issue.

[2016-01-12 13:41] relu91 commented on #349
@mkaring I've found this discussion and I think it's the perfect place to speak about layout node, isn't it?
Now that I read this most of my doubts are gone. I really like the flexibility you designed in this new system!! Even if now it's a bit too verbose, I think that most of the complexity could be hided in the controls logic which is more amazing. :+1:  Maybe the addition of the reference node

[2016-01-12 14:57] bgroenks96 commented on #334
@gouessej Thanks. That sounds good.

@mkaring Yes, CoreGL _should_ already work with this provided that the user is using the JogAmp backend and does all of the setup themselves. However, since the Java2D backend sort of existed for the purpose of being an easy alternative for new users or those with basic needs, I'm suggesting we could take care of some of this boilerplate for them, in Nifty; i.e

[2016-01-12 15:02] mkaring commented on #349
Okay seems the alignment layout nodes still lack the `toString` methods.

Now to your issues:
You have to understand one thing: The _only_ thing that renders anything are the `NiftyContentNode`s. Everything else is just changing states. The coloured background is not rendered, because there is no `NiftyContentNode` to do so. The way to solve this is:

[code]

The content node will render everythin

[2016-01-12 15:06] mkaring commented on #334
So we are talking a `NiftyJPanel` or a `NiftyCanvas` that does… things and makes everything working. But I am not sure if we should declare a utility classes like this as Java2D render module or rather as Java2D utility module that uses the OpenGL renderer of Nifty along with JOGL and their AWT/Swing classes.

Just to avoid duplicated code. ;)

[2016-01-12 16:47] bgroenks96 commented on #334
We could make a new module called `nifty-renderer-jogl-awt`  .... or maybe `nifty-renderer-awt-opengl`

Calling it Java2D would be misleading since it wouldn't be using the Java2D API... just integration with Swing/AWT.

[2016-01-12 22:58] void256 commented on #349
`NiftyTransformationNode` is basically the same as `NiftyBackgroundColorNode` - just another state changing node that will change the "transformation state". When the `NiftyContentNode` is reached the then current "transformation state" is applied. This should already work.

However the renderer where the tree will be resolved and is translated into something that Nifty can actually render is stil

[2016-01-17 15:50] relu91 opened #398 "Data binding wise controls"
Hello!
Since I see that after the new layout system the controls were wiped out, I think that we should consider to build them with data binding in mind. it's a must in a modern gui framework to have a advance data binding system . At the title say we could start to provide data binding support at controls level, for two reasons:
1. They are at the higher level on abstraction in new nifty
2. They

[2016-01-18 12:12] mkaring commented on #398
I don't know any such framework but creating a simple binding framework is something we can do ourselves. I am not fond of using Melasse because it has a lot of dependencies to Swing and I'd really like to keep any other UI framework out of Nifty-GUI. Unless @void256 has a different opinion.

In any case I agree that we need some nifty (:wink:) data binding. I would go so far as to say that this i

[2016-01-20 07:31] elect86 opened #400 "Nifty examples for jogl, AllDemoMain.java fails to run"
Hi, I tried to start `AllDemoMain.java` but this is what I get:

[code]

Any hint?

[2016-01-20 08:22] elect86 commented on #400
Ok, I solved, I added in the windows `PATH`  `target/natives`.

Anyway, I run the `UseCase_a05_RotatingChildNode` but I get between 30 and 50 fps on a gtx 770... is it normal?

[2016-01-20 14:01] relu91 commented on #400
You can also use "-Djava.library.path=target/natives/" as argument of the jvm when running the example!. About fps I don't know, maybe there's a 60 fps active? Surely @void256 could have some more tip!

[2016-01-20 15:04] elect86 commented on #400
I already tried that, it didn't work out.

Yeah, it's possible, but I don't know where to look for..

[2016-01-20 15:55] bgroenks96 commented on #400
@elect86 No that's not normal. Does it appear smooth? There might be a bug in the FPS reporting code.

[2016-01-20 16:06] elect86 commented on #400
Most of the time yes, but every couple of seconds it has some very small freezes

[2016-01-20 16:19] bgroenks96 commented on #400
Could you make a new issue for that?

And as for the natives issue, `-Djava.library.path` won't work because `exec:java` doesn't spawn a new VM (it's kind of stupid).

The way you fixed it is fine, but if you want a more portable solution, you can set the `MAVEN_OPTS` environment variable. i.e.: `MAVEN_OPTS="-Djava.library.path=target/natives"` and then run the normal command:

[code]

Since it se

[2016-01-20 16:19] #400 closed, assigned to nobody

[2016-01-20 16:32] elect86 commented on #400
Sure, no problem

[2016-01-20 16:36] elect86 opened #402 "UseCase_a05_RotatingChildNode kind of slow"
I am running the following sample `UseCase_a05_RotatingChildNode` from nifty 2.0 and it is not completely fluid

[code]

What could it be? Maybe vsync? How can I check/disable it?

[2016-01-20 17:13] bgroenks96 commented on #402
Will look into it more ASAP. Thanks for reporting this.

In the mean time, do you have VisualVM installed? If you can run the example and post a screenshot of the CPU profiler, that would be fantastic.

[2016-01-20 20:14] void256 commented on #402
I'm currently working on it. Going to commit the first changes soon.

There were a couple of issues in the 2.0 renderer. Mostly because we wanted something that just works to continue development in other areas. So it was not optimized at all.

Here are a few issues that are already resolved / improved (about to push this soon):
- GC usage was terrible due to creating a lot of garbage each frame e

[2016-01-20 20:30] elect86 commented on #402
Hi guys, you are great, I am gonna reply deeply tomorrow when I'll be back on it ;)

[2016-01-20 20:35] bgroenks96 commented on #402
@void256 Whew. I'm glad you knew what was going on. 40-50 fps on a GTX 770M GPU had me freaking out lol.

[2016-01-20 20:43] void256 commented on #402
btw help is always appreciated :smile: a nice way to start for someone willing to help would be to take care of issue #391 and send a pull request for it :D

[2016-01-20 20:50] bgroenks96 commented on #402
Or I could fix it and NOT send a pull request :stuck_out_tongue_winking_eye:

[2016-01-20 20:52] void256 commented on #402
not you! :wink: you're already busy with lots of other things :yum:

[2016-01-20 21:00] bgroenks96 commented on #402
True. Still haven't gotten around to submitting CoreGL to Sonatype :disappointed:

[2016-01-20 21:01] elect86 commented on #402
Ehm, it wasn't the mobile version... 770 desktop ^^

Anyway, I (think I) am good at engine stuff, I could take a look at your core rendering maybe

You mentioned the mat4 transformation, which math lib are you using?

Regarding the texture switching, which opengl profile do you target? Because I guess you will benefit enormously from gl4 features (especially ssao and bindless and sparse textures).

[2016-01-20 21:05] bgroenks96 commented on #402
That's even worse then!

I think Nifty has its own code for that (either that or CoreGL does).

CoreGL targets 3.3+ and Nifty uses CoreGL, so 3.3. Since it's a GUI library, we kind of have to target the widest compatibility base possible. We'll probably have to reduce the GL feature set more actually to support ES3.

[2016-01-20 21:08] elect86 commented on #402
I am currently rewriting my math lib for high performance rendering (you can avoid literally _any_ allocation if you want)

You can target 3.3+ but if you have available 4.5 why don't exploit it too?

[2016-01-20 21:10] bgroenks96 commented on #402
We can certainly look into it for the future, but the Nifty 2.0 API is still under heavy development. So it's better to keep the renderer as simple as possible for the time being.

[2016-01-22 11:37] relu91 commented on #391
So what should we choose? public static methods with private static variables or only public static variables ?
I can handle this! ^^

[2016-01-22 13:25] relu91 commented on #391
There's some reason to leave static methods there? maybe they are called somewhere using reflection?

[2016-01-23 08:45] void256 commented on #391
I would suggest to just keep the public static methods and return a private constant.

[2016-01-23 18:42] relu91 commented on #391
Why? I know that NiftyColor is widely used in nifty and a change to the api means a lot of changes somewhere else, but I don't think it's worth to keep static methods, it only introduces overhead...

[2016-01-23 18:49] void256 commented on #391
Because I like the colors to be written in lower case letters and if they are constants we would probably write them in upper case? :wink:
I don't think it's going to be a catastrophic runtime cost to have these as methods instead of constants. And if we ever want to track something silly like how many times a specific color is being used .. then we only can do that with methods and not when we re

[2016-01-23 18:57] bgroenks96 commented on #391
I agree with @void256 about returning the private constant. The constants can be initialized at load time in the same manner the public methods are doing it now, and then the public methods can just return those values. Hooray for efficiency!

There are other less silly reasons to do it this way as well. For example, we may at some point want to allow manipulation of NiftyColor so that one or more

[2016-01-23 19:04] void256 commented on #391
Yes @bgroenks96 and it would still be runtime compatible to previous versions of that class too. I mean you could drop in the new class and don't even have to recompile all of the dependent classes. Not that any of that really matters in this case tho :wink:

And for runtime overhead that's really difficult to discuss without being a JVM specialist but I would strongly assume the compiler or the r

[2016-01-23 19:08] bgroenks96 commented on #391
The JVM overhead between a static constant and a static method returning a static constant is most definitely negligible.

[2016-01-23 19:09] relu91 commented on #391
Ok, you have convince me! :smile: , I'll do it ASAP !

[2016-01-23 19:09] bgroenks96 commented on #391
:+1:

[2016-01-25 07:56] mkaring commented on #391
I am not sure I like the way this issue was resolved. :(

The problem is that now we got two placed where the named colours are mapped to a colour value. Once in the constants and once the the `ColorStringParser` that contains the mapping table. While it is unlikely that those colour values ever change, it is still not ideal to have these mappings in the code twice.

From my point of view there ar

[2016-01-25 08:20] relu91 commented on #391
Yeah sorry I forgot about that! Sending an other pull request soon! I would prefer instead that color parser uses the constants in NiftyColor.

[2016-01-25 15:15] elect86 commented on #402
~1.7k fps now, much better  :smile:

thanks

Anyway, a GUI such [this](http://imgur.com/qs2cbYJ) won't be that complicate to realize, will it?

[2016-01-25 15:59] relu91 commented on #402
Just to have an other reference in my notebook about 320 fps with drop to 22 and once to 4. I guess for a mobile it's super cool :+1: (NVIDIA GeForce GT 540M). I have also notice a drastically drop of GC calls and also less memory usage! Great work @void256 .

With 2.0 I think you could encounter some difficulties. It's still under development and it doesn't have support for controls ( such as but

[2016-01-25 20:49] bgroenks96 commented on #402
I take it this issue was fixed by 4f09e3b73af9.

In that case, I'll go ahead and close. Feel free to re-open if there are any more issues.

P.S. @elect86 I'm not sure, but you can always ask if you encounter any difficulties. Good luck!

[2016-01-25 20:49] #402 closed, assigned to nobody

[2016-01-26 10:20] relu91 commented on #391
Commit 7fc06bc fixes the issue

[2016-01-26 10:20] #391 closed, assigned to relu91

[2016-02-01 13:07] mkaring commented on #358
This issue can be considered to be resolved I think. @void256?

[2016-02-01 17:12] bgroenks96 commented on #394
@void256 take a look at 8bcd123 to verify changes. Everything compiles, but I haven't tested the example logging yet.

[2016-02-01 21:13] void256 commented on #394
Looks great! Just polished it a bit with 98a0c2f
Thanks!

[2016-02-01 21:13] #394 closed, assigned to bgroenks96

[2016-02-01 21:15] #358 closed, assigned to void256

[2016-02-03 23:42] marko-lazic commented on #304
Someone have to do it.

[2016-02-03 23:45] marko-lazic opened #410 "2.0 roadmap"
We need clear road map and what has been done. i suggest taking the structure from lwjgl 3 guys. They have great structuring for this kind.

[2016-02-04 03:48] #318 closed, assigned to nobody

[2016-02-04 03:50] bgroenks96 commented on #354
Can we get an update on this issue? It's getting old. If not, I will go ahead and close it.

[2016-02-04 03:55] bgroenks96 commented on #410
You can see the following issues for discussion on where 2.0 is going:
#349
#350
#334
#398

You can also see the [current development branch](https://github.com/nifty-gui/nifty-gui/tree/2.0) for example code and early API documentation. Just be advised that nothing is currently stable or guaranteed to stick around.

Other than that, there's not much else we can tell you right now. Nifty 2.0 is sti

[2016-02-04 03:56] bgroenks96 commented on #325
Going to assume this was a user-end issue and has been resolved. Feel free to re-open otherwise.

[2016-02-04 03:56] #325 closed, assigned to nobody

[2016-02-04 03:57] bgroenks96 commented on #297
Can anyone else confirm that this is an issue?

[2016-02-04 06:55] bgroenks96 commented on #304
I just finished a WIP commit on my fork. I have all of the rendering stuff ported (that was pretty easy), but the LWJGL3 input system is completely different.

As such, the Nifty LwjglInputSystem needs a complete overhaul. I don't have time to learn their new API right now... so I'm afraid we will have to keep putting this on hold.

That is, unless someone wants to pick up where I left off :wink:

[2016-02-04 19:28] relu91 opened #411 "Nifty asset manager"
Hello, I saw that in the last weekly meting @mkaring mention about this feature for Nifty 2.0 and since I was also thinking about this in the past weeks, I write down my thoughts in this issue. I know it's a bit early but I promise to leave the future generation of nifty developers!!! :smile:

Looking in the existing game frameworks/engine the interface offered by a entity that has the role of Ass

[2016-02-04 19:55] void256 commented on #411
What's wrong with the [NiftyResourceLoader](https://github.com/nifty-gui/nifty-gui/blob/2.0/nifty/src/main/java/de/lessvoid/niftyinternal/NiftyResourceLoader.java) and it's plugable [NiftyResourceLocation](https://github.com/nifty-gui/nifty-gui/blob/2.0/nifty/src/main/java/de/lessvoid/niftyinternal/NiftyResourceLocation.java)?

Besides that the latter is not yet part of the public API :wink:

The

[2016-02-04 22:55] relu91 commented on #411
Here a use case that it think is useful to understand the limit of current implementation of asset loading.
Assuming we have a file called asset.xy that is shared between nifty instance and my game engine. Game engine exposes a class able to cache assets loaded and get them using a method like Object getAsset(string name). If I understand NiftyResourceLoader I would add a  NiftyResourceLocation th

[2016-02-04 22:59] relu91 commented on #411
Of course if there's no asset management support in the target system (i.e LWJGL) implement a bake-end for that platform it's a little bit more demanding, but we could easily provide a default asset management system :+1:

[2016-02-05 15:08] mkaring commented on #411
I really agree with @relu91 here. Giving Nifty the ability to hook into any assent management that is provided by a backing engine is really required in my opinion. There is no way to predict how a more complex engine handles it's assets. Could be from resource streams as much as from any strange custom container files that do ... things. Also some backing engines come with dedicated support to lo

[2016-02-06 11:15] void256 commented on #410
I've created a roadmap in the wiki [Nifty 2.x Roadmap](https://github.com/nifty-gui/nifty-gui/wiki/Nifty-2.x-Roadmap).

However, this is still work in progress and in no way complete. But eventually it's a start and might make it more transparent what we're working on.

[2016-02-06 11:15] #410 closed, assigned to nobody

[2016-02-06 12:33] relu91 commented on #410
Thank you void! ^^ the page looks perfect and really useful !!!!

[2016-02-06 13:59] spaceemotion commented on #410
Looks solid, especially the world domination part :+1:

[2016-02-06 14:13] void256 commented on #349
Can we actually close this issue now or are there still things that need to be discussed in here? The new layout process is in place thanks to @mkaring so can I go ahead and close this?

[2016-02-06 17:29] marko-lazic commented on #304
Maybe this can help:
https://github.com/LWJGL/lwjgl3-wiki/wiki/2.6.3-Input-handling-with-GLFW
I believe that it will not change anymore again until Java and GLFW are thing.

[2016-02-06 23:43] bgroenks96 commented on #411
I agree with @relu91 and @mkaring here. Nifty should be able to share already loaded/processed data with any engine it's being used with.

[2016-02-07 12:23] #349 closed, assigned to mkaring

[2016-02-12 19:18] destroflyer opened #412 "OnStartHover and OnEndHover are not working properly when moving the mouse fast between hoverable elements"
I think the title is self-explaining, I described the issue more detailed in the jME forum:
http://hub.jmonkeyengine.org/t/mouse-events/18285/25?u=destroflyer

The behaviour worked in Nifty 1.3.3 (the one distributed with jME 3.0 Stable) and broke when upgrading to jME 3.1 Master, that uses Nifty 1.4.1.

[2016-02-13 07:17] bgroenks96 commented on #412
Can you prepare a SSCE, please? Ideally one that isn't dependent on jME, but otherwise just make sure the Nifty related code is well separated so I can extract it. First thing to verify is that this is a Nifty core problem and not something specific to the jME input system implementation or something like that.

[2016-02-13 16:35] destroflyer commented on #412
Thanks for answering - You can download a test here:
http://destroflyer.mania-community.de/other/NiftyHoverTest.zip

It is a jME project, but it is really small - You can find an executable in the dist-directory. Hope, that helps.

[2016-02-13 19:59] bgroenks96 commented on #412
Thanks. I've confirmed the issue occurs in the JOGL renderer as well. So the problem is definitely in Nifty core. We'll look into this ASAP.

[2016-02-13 21:01] bgroenks96 commented on #412
It looks like the problem is that the onStartHover/onEndHover is only called once when the mouse initially enters your button panel. After that, `show` is not called until the mouse exits the buttons' parent panel (same goes for `hide`). So it has nothing to do with the speed of the mouse cursor, but rather the component logic for the effect.

Just to clarify, is your intention that `hide` should

[2016-02-13 21:21] destroflyer commented on #412
I think, the hide() method should be called even when moving the mouse from one button to the other.
For example, when moving from the left to the right:
show(0) -> hide() -> show(1) -> hide() -> show(2) -> hide()

The parent panel shouldn't have to do too much with the actual logic, since only the childs react to events (Not sure how it works internally, but only, if all hoverend and hoverstart e

[2016-02-13 21:47] bgroenks96 commented on #412
Yes, I would agree. There's something screwy going on in the effect processor logic.

[2016-02-13 22:24] bgroenks96 commented on #412
@void256 The two `EffectProccessor` instances for `OnHoverStart` and `OnHoverEnd` respectively are referencing different instances of the actual corresponding `Effect`, so `EffectManager` (or someone else) is actually creating _two_ Effect instances for the same effect and giving each of the different instances to the two processors. Thus, state isn't handled correctly because the two processors a

[2016-02-14 12:22] mkaring opened #413 "Events and Input in Nifty 2.0"
Hello folks,

I was thinking a little about how to get input handling working properly in Nifty 2.0 in a way that offers a relatively simple system and great flexibility. So in general a nifty implementation. ;-)
I am aware that there was already some work done in the old Nifty 2.0 branch, but I think there are better ways to go about it in our new "one node for a job" concept.

The main issue wit