[2016-02-14 13:10] relu91 commented on #413
Is this something like [libgdx event system](https://github.com/libgdx/libgdx/wiki/Scene2d#event-system) ? I think that it could work, but I'll take some time to think about!

[2016-02-14 13:31] mkaring commented on #413
@relu91 It sounds very similar to what I have in mind.

[2016-02-14 15:19] void256 commented on #412
The whole event/effect processing in 1.x is ... a mess, unfortunately. It took me half a day to figure out what's happening :disappointed:

For a detailed description you should see the referenced commits.

Here is a short summarize:
1. Some long time ago we changed hover events to be marked as processed (like click events). The reason was to not send these events to other elements below the first

[2016-02-14 17:19] destroflyer commented on #412
Where exactly do i find the built snapshot? I can only find downloads up to 1.4.1., sorry, I don't know the sourceforge interface very well.

[2016-02-14 17:35] bgroenks96 commented on #412
@void256 1.4.2-SNAPSHOT should just be the current state of the source tree correct? I've already tested this and confirmed that it's present when building from the 1.4 branch.

[2016-02-14 17:37] bgroenks96 commented on #412
Oh, nevermind. I didn't see your new commits.

[2016-02-14 17:43] void256 commented on #412
I have no idea what @bgroenks96 is trying to tell us :grinning:

But you can find the latest SNAPSHOT build here: https://oss.sonatype.org/content/repositories/snapshots/com/github/nifty-gui/nifty/1.4.2-SNAPSHOT/

PS: Sorry, to mention sf.net - I already forgot that we're targeting a Maven central release with 1.4.2 and therefore snapshots are now hosted at Sonatypes SNAPSHOT repo!

[2016-02-14 17:49] bgroenks96 commented on #412
I can verify that the fix worked with a fresh checkout of 1.4 and a modified version of the SSCE provided by @destroflyer (using JogAmp backend rather than jME).

[2016-02-14 17:55] bgroenks96 commented on #412
Fix commits:
1d361e6
6f772b80

[2016-02-14 19:22] destroflyer commented on #412
Can confirm, the bug has been fixed. :)
It took me a while, since I had to create a new library to use in jME, but it was compatible with the jME code and the 1.4.1. default controls etc. (so I could just replace the *-1.4.1.jar and copy everything else).

Thanks for fixing this so quickly!

[2016-02-14 19:31] void256 commented on #412
I added your example to the nifty-gui-issues project. So that it won't get lost if we ever need it again: https://github.com/nifty-gui/nifty-gui-issues/commit/93f9071b539f131e3fc129f7144b726125b59d1d
Thanks for reporting and confirming that it actually works :wink:
I'll close this issue now!

[2016-02-14 19:31] #412 closed, assigned to void256

[2016-02-14 23:18] bgroenks96 commented on #413
You may want to look at the input system I built into [CoreGL](https://github.com/void256/coregl/tree/master/coregl-utils/src/main/java/de/lessvoid/coregl/input) for ideas on how Nifty might hook into a SPI implementation. I already have an issue open (#383) for implementing a CoreInput backend for Nifty.

As far as the actual Nifty input SPI works, though, I'm all ears.

[2016-03-01 11:54] tonihele opened #414 "Nifty BundleInfoResourceBundle doesn't support default bundles"
Hi,

I'm migrating our JME project from Nifty 1.3.2 to 1.4.1. The resource bundles broke and I just happen to know why, Nifty BundleInfoResourceBundle doesn't support default bundles. This was introduced in #303. The problem is that we load resource bundles that belong to ROOT locale and Nifty tries to find one from the hash that uses default locale. It is in conflict how JAVA treats these.

If we

[2016-03-01 11:58] tonihele commented on #414
I don't know if there is a cleaner solution to this, but one would be (de.lessvoid.xml.tools.BundleInfoResourceBundle.java):
Instead of:
resourceBundles.put(resourceBundle.getLocale(), resourceBundle);

Do:
resourceBundles.put((Locale.ROOT.equals(resourceBundle.getLocale())  ? Locale.getDefault() : resourceBundle.getLocale()), resourceBundle);

[2016-03-02 09:18] tonihele commented on #414
Or better yet, handle "exactly" like JAVA. Only put the bundle to "defaultResourceBundle" when it is the ROOT locale. Then when getting the bundle, if locale is null or can't find one, then give out the defaultResourceBundle. Which in turn is the ROOT one.

[2016-03-08 19:07] relu91 commented on #411
Just leaving a comment to let you know that I'm working with it, but I'm not yet very satisfied of the result. I hope to came with a very clean solution that allows user to plug in the asset system very easily and also take advantage of the already existing implementation across the frameworks...

[2016-03-09 15:47] mkaring commented on #411
@relu91 Do you have your wip already commited anywhere? So we can have a look and maybe give some early input?

[2016-03-10 06:47] bgroenks96 commented on #414
@void256 You submitted the fix for #303. Can you take a look at this?

[2016-03-10 16:23] teamblubee opened #415 "working from source"
I might be a bit dense here but how exactly do I work with nifty-gui from source?
1) cloned the git repo
2) cd to cloned directory mvn clean package

A bunch of things downloaded, now how do I actually run nifty-gui to edit layouts?

[2016-03-10 16:33] bgroenks96 commented on #415
I'm not sure what you mean by "run nifty-gui to edit layouts."

Nifty is a library. It provides the software API for you to create a GUI via Java/XML in much the same way you would with Swing, SWT, JavaFX, etc. It's not in itself a GUI front-end for actually creating those UI layouts.

It does so happen that @relu91 was kind enough to create such a tool, however :smile:

You can head over to the [

[2016-03-10 16:38] teamblubee commented on #415
oh, it is the link you provided, [to this](https://www.youtube.com/watch?v=4iTVPYMEtH0)
so I can just use this library to create my layouts in java, xml or use the editor you linked to do it visually. Then load those files in my application, correct?

[2016-03-10 16:53] bgroenks96 commented on #415
That is correct!

[2016-03-10 16:59] teamblubee commented on #415
okay, thank you.

[2016-03-10 16:59] #415 closed, assigned to nobody

[2016-03-12 12:46] void256 commented on #414
Does 0574a270214693976d478b48525aac22c2bc986e help?

You just need to make sure that the very first ResourceBundle you add to Nifty is the default ResourceBundle you want to use as the fallback but that was already the case before this latest commit.

[2016-03-13 15:12] tonihele commented on #364
Here, this initiates it:

[code]

[2016-03-13 15:13] tonihele commented on #364
A subscriber thing...

[2016-03-13 23:04] bgroenks96 commented on #364
Yeah that's an issue with EventBus (it's a very old, unsupported library). You might be able to find some hacky way to force kill the thread, but there really isn't much of anything we can do in Nifty to fix that.

The good news is that Nifty 2.0 uses MBassador instead, so this shouldn't be an issue.

[2016-03-14 01:05] void256 commented on #364
I took a closer look and I can confirm that @bgroenks96 is right :/

The problem appears to be that `org.bushe.swing.event.ThreadSafeEventService` does use a Timer to cleanup ... some things ... in some cases ... that I don't fully understand. They are extensively documented in the JavaDoc of the ThreadSafeEventService class but I still don't complete understand when and how that Timer is running.

[2016-03-14 04:11] bgroenks96 commented on #364
@void256 The project hasn't been touched in years. At this point, it would be better to just fork and fix it. The only crappy part is we would have to deploy our own version of it to central and use that instead of the original.

[2016-03-14 08:04] void256 commented on #364
@bgroenks96 I'm aware of that. My pull request from 2014 has been ignored as well. Creating that issue is still the right way to at least give the original author a chance to respond.

Since the project is rather small (two packages) and will probably not see another regular release there is another solution besides what you said. We could just go ahead and put the sources directly into Nifty and

[2016-03-15 17:27] tonihele commented on #382
I think this happens because the removal of the original scrollbar is delayed to the start of next frame (? https://github.com/nifty-gui/nifty-gui/blob/1.4/nifty-controls/src/main/java/de/lessvoid/nifty/controls/listbox/ListBoxControl.java#L445). So there are 2 scrollbars with the same ID at least for awhile. And the subscriptions take the ID, maybe they get confused.

[2016-03-15 17:59] tonihele commented on #382
nifty.executeEndOfFrameElementActions(); ? That was in the 1.3, that would make the removal immidiate?

[2016-03-15 18:16] tonihele commented on #382
Yep, that is it, it works. But the given method is deprecated.

[2016-03-15 18:22] tonihele commented on #382
But so is the whole class, so, feasible fix?

[2016-03-16 07:29] tonihele commented on #166
JME Font Creator doesn't fill in the face value (I intend to fix/change this), but filling that doesn't help the problem. It seems that usually people use the same font but different sizes. Either the file name, as you suggested, or the whole definition string would make a better key.

[2016-03-17 13:36] tonihele commented on #414
Yes, I believe that would work for us. Thank you!

[2016-03-17 19:48] ken92 opened #417 "Can't get ScrollPanel to work"
Hello!  I'm new to Nifty GUI, so I think I'm just missing something simple.  The short of it is that I can't get my ScrollPanel to work!  It displays and I see the scrollbar, but clicking on it does not scroll.

Here is the XML code I have:

[code]

Currently, there is no Java code to go with this.  I tried using the code from the scroll example in the Nifty.zip, but the class used is deprecated a

[2016-03-17 21:07] relu91 commented on #417
I've corrected the code syntax :smile: . I think that problem is main_text_panel. You should set the height and width of that element in px not as 100% otherwise the scroll panel can't work.

[2016-03-18 01:42] ken92 commented on #417
Thank you for fixing my formatting!

I tried setting main_text_panel's width and height to no avail; the scrollbar looks like it should be scrollable, but it still does nothing when I click on it.  This is a step in the right direction, though!

[2016-03-18 11:40] ken92 commented on #417
Last night I tested this on one laptop with an older version of Eclipse, but now that I am trying it on a different laptop with a newer version of Eclipse, the scrolling is suddenly working.  I don't know what changed, but I can now scroll!  Unfortunately, I still cannot see the "World!" at the bottom of my string.  I intend to use this text area to display all manner of texts as events happen (I'

[2016-03-18 11:42] ken92 commented on #417
For anyone who might be looking at this later, my XML currently looks like this:

[code]

[2016-03-18 12:05] ken92 commented on #417
I was able to hack together an _extremely_ messy workaround until I find a more elegant solution by adding this to my main class:

[code]

The numbers I'm multiplying the values by were chosen arbitrarily.  The scrollbar can now leak off the end of its container if I drag it.  Also, the arrow buttons for the scrollbar still don't work.  Do you have any ideas?  I really appreciate your help!

[2016-03-18 16:41] relu91 commented on #417
Sorry could you make an SSCCE [here](https://github.com/nifty-gui/nifty-gui-issues)? This way other and I could easily look at your code and see if we can solve this issue :smile: . Thank you!

[2016-03-18 18:30] ken92 commented on #417
Wow, that looks neat!  How do I push to this repo?  Should I make a pull request and push it like that?  I've never pushed to someone else's repo on here before.

[2016-03-18 19:48] relu91 commented on #417
I think that a pull request should work just fine, Isn't it @void256 ?

[2016-03-19 15:09] bgroenks96 commented on #414
Closing since 0574a27 appears to have addressed this issue. Re-open again if necessary.

[2016-03-19 15:09] #414 closed, assigned to nobody

[2016-03-19 15:12] bgroenks96 commented on #417
@relu91 Yes a PR will do it. Any members of the nifty team can merge it once it has been verified.

[2016-03-21 12:45] relu91 commented on #411
Well the quest for Asset Management in nifty-gui it's a little harder than I thought :smile: . I'm starting again from scratch... . It's quite easy to find a good abstraction layer for other asset systems, but I can't find a way to integrate it in nifty. I'll write here some thoughts that I have randomly this days about this problem and I would like to hear what you guys think about them.

Right n

[2016-03-21 14:59] ken92 commented on #417
I created a pull request!  The files for LWJGL 2.9.3 are not included with the merge, but I can easily add them upon request.

[2016-03-21 15:26] dominic-jones opened #424 "Using height(SizeValue.max(x)) on TextField+Label (+other elements) causes NumberFormatException"
Minimal example is as follows, will post SSCCE

[code]

This will produce a stack trace similar to

[code]

Stepping into the code shows that ElementBuilder#208 calls SizeValue.toString, which provides the computed value string "m[50.0px]". Element#311 uses this string in SizeValue's constructor, which does not attempt to parse that format and eventually treats it as a raw integer at the location

[2016-03-21 15:33] dominic-jones commented on #424
SSCCE here https://github.com/dominic-jones/nifty-gui-issues/tree/master/src/main/java/de/lessvoid/issues/issue424

[2016-03-21 22:22] bgroenks96 commented on #424
Verified. Thanks for the SSCE. Looking into it now.

[2016-03-21 22:35] void256 commented on #411
The DeviantArt example is still a bit rough :smile: but it can act as a real life example for all sorts of things. And we should add more of that kind of examples in the future too.

I can't really comment that much on an Asset System since I still don't know enough about them but here are a few thoughts that might eventually help in the discussion:
- NiftyImage and NiftyFont are not really the ri

[2016-03-21 22:46] bgroenks96 commented on #424
Found the issue. `ElementBuilder` is violating the `SizeValue` spec by passing in the value returned by `toString` to the ctor. The `toString` javadoc event explicitly says the value is NOT parseable. Easy fix is to add a method that returns a valid SizeValue format string and use that instead. Will submit a fix shortly.

[2016-03-21 23:15] bgroenks96 commented on #424
It's worse than I thought.... `SizeValue.toString()` is being used in quite a few places as an attribute value, which means it will end up being processed by the `SizeValue` constructor. Best course of action then seems to be to force `toString` to comply with the `SizeValue` constructor formatting spec and then add an auxillary string representation method for debugging. I don't see a better way

[2016-03-21 23:47] bgroenks96 commented on #424
I ended up going for my original plan and just replacing all of the illegal uses of `toString` with `getValueAsString`.

@dominic-jones Please verify that 376b4a1 fixes the issue before I push the changes upstream.

[2016-03-22 00:42] void256 commented on #424
@bgroenks96 I don't know for sure but it looks like that someone "cleaned up" the SizeValue class and modified the toString() method to log the calculated value - which makes probably a lot of sense for logging SizeValues. Unfortunately the existing calls to toString() for methods that require a parsable SizeValue String have not been adapted. But your solution looks reasonable since I don't see a

[2016-03-22 01:21] bgroenks96 commented on #424
GitHub Blame puts it on @mkaring :stuck_out_tongue_winking_eye:

[2016-03-22 06:57] dominic-jones commented on #424
I'd have looked into a fix myself as well, but the uses of SizeValue and the documentation (as you pointed out) did not add up, so was interested in your view.

I think @void256 has the heart of it - it smells of a naive refactor. @bgroenks96's fix seems like the right one to me - I've never been comfortable personally with using toString for much more than logging.

All I can do is run my last te

[2016-03-22 07:59] void256 commented on #424
no, not naive .. just something that was easily overlooked. using toString() in that way probably shouldn't have been there from the beginning. And additionally the SizeValue evolved quite a bit over the years as well.

I guess the lesson is that one shouldn't use toString() for other things then debug output of object state.

[2016-03-22 08:07] void256 commented on #424
yep - https://docs.oracle.com/javase/7/docs/api/java/lang/Object.html#toString()

[code]

It says 'to be easy for a person to read' and not 'valid to be parsed as a SizeValue' :wink:

blame me :yum:

[2016-03-22 08:13] dominic-jones commented on #424
That's what I meant - couldn't find another single word that fit situation better.

And yes, agree with that use of toString :) Didn't expect core Java to make that claim though. It doesn't help that other parts of the api use toString directly - e.g. StringBuilder. But then again... when your contract uses terms like "in general"...

[2016-03-22 14:57] bgroenks96 commented on #424
So is the fix verified @dominic-jones ?

[2016-03-22 14:59] dominic-jones commented on #424
It doesn't fall over when using the computed values.

I do not know what the expected behaviour is though, so I cannot tell if it is 'working as intended'. (As I said, I was simply exploring at the time).

[2016-03-22 16:11] #424 closed, assigned to bgroenks96

[2016-03-22 16:12] bgroenks96 commented on #424
Thanks!

[2016-03-24 13:41] mkaring commented on #382
@tonihele I do not think that this method is going to be deleted. It is required for a few rare cases but it is a very dangerous method that should be used very rarely because you can break the lifecycle of Nifty with this method.

I think the issue for you is caused by the timing when you add elements to the list. According to your example you don't give Nifty the chance to run the initialization

[2016-03-24 14:36] tonihele commented on #382
I don't know what the timing should be. But I add/remove elements when the user selects an item from another Nifty component (on the same screen). Binding has been done already at that point?

[2016-03-24 15:26] mkaring commented on #382
Okay, I was referring to your SSCE. If it is triggered by user interaction, it should work yes.

[2016-03-24 15:33] tonihele commented on #382
My "SSCE" is here: https://github.com/tonihele/OpenKeeper/blob/master/src/toniarts/openkeeper/tools/modelviewer/ModelViewer.java

If I remember correctly, when I debugged Nifty, it checks the scrollbars on each item add/remove. And comparing 1.3 to 1.4 I saw that the method call executeEndOfFrameElementActions() was removed. By re-adding it, everything worked.

[2016-03-24 17:13] ken92 commented on #417
I was able to get my code to work!  I believe that there may be a better way to go about doing this, but this is the code I ended up with:

[code]

[2016-03-24 17:17] ken92 commented on #417
I lied!  I added more text to my test string and the end was cut off.  My temporary workaround:

[code]

[2016-03-27 12:56] void256 commented on #364
I reopened the issue because I think we can do something about it (see comments above) .. and I'm actually about to do something about it - stay tuned :wink:

[2016-03-27 13:10] void256 commented on #364
3a1a5ab496bd4a5a1c3c9c4f8ba0e20d2612563f should fix that issue finally.

Can somebody confirm that with a 1.4.2-SNAPSHOT build it now works better?

Starting with 1.4.2-SNAPSHOT the eventbus is included into the nifty.jar so there is no need for the eventbus-1.4.jar to be in the classpath. **In fact the eventbus-1.4.jar MUST be removed from the runtime classpath to prevent any conflicts with the n

[2016-04-02 11:59] tonihele commented on #364
Great! I didn't try it yet. I'm just wondering, that since jMonkeyEngine is getting really close pushing 3.1 version out. Nifty is still the default GUI library there (1.4.1), but a bug like this is quite off putting. Simple Hello world and your app might not shutdown... Sooooo, is there anyway you could try to sync 1.4.2 release with JME 3.1?

I'm just an user of Nifty & JME. Not in any other way

[2016-04-02 16:21] void256 commented on #364
No, you didn't over stepped anything :wink:

We had that discussion before and the solution was that JME ships with whatever Nifty version is current at the time of their release. Synchronisation between the projects will otherwise be very difficult and would delay everything even more.

From my current point of view this doesn't necessarily has to be a released version of Nifty - it **could** be

[2016-04-02 17:35] wlinna commented on #364
Unfortunately replacing old nifty jars with nifty 1.4.2-SNAPSHOT jars didn't seem to solve the problem. Here's what I did. (Please tell me if I need to do something else too)
1. Download 1.4.2-SNAPSHOT jars
2. Remove Nifty 1.4.1 jars (nifty, nifty-default-controls, nifty-style-black)
3. Put equivalent Nifty 1.4.2 jars in place and rename them so that they have the same names as the removed Nifty 1

[2016-04-02 17:50] void256 commented on #364
Thanks for testing!

Did you do that part as well:

?

[2016-04-02 22:14] wlinna commented on #364
No I didn't but now that I did my game doesn't compile anymore.

[code]

The line was like this:

`TextRenderer text = rows.get(i).getRenderer(TextRenderer.class);`

I'm not sure why the error happened there since there are many places where I call getRenderer with TextRenderer.class

[2016-04-02 22:23] void256 commented on #364
That's odd! This class is now a part of the nifty.jar and should be available!

Where did you get your 1.4.2-SNAPSHOT jar from?

We've changed the repo some weeks ago. The correct place is now here:
https://oss.sonatype.org/content/repositories/snapshots/com/github/nifty-gui/nifty/1.4.2-SNAPSHOT/

And the correct version is the latest one:
https://oss.sonatype.org/content/repositories/snapshots/co

[2016-04-02 23:03] wlinna commented on #364
I created empty Maven-based project and put this in it (directly from the README.md):

[code]

I compiled the project (mvn compile) so that maven would download the dependencies. I then went to ~/.m2/repository/lessvoid/nifty/1.4.2-SNAPSHOT and copied the nifty-1.4.2-SNAPSHOT.jar and replaced the previous nifty-jar with that. I did the same for the other jars (are they relevant though?).

The only

[2016-04-03 16:56] tonihele commented on #364
Well, depends what is expected of me? :) I'm just struggling to get my game up and running. I'm not that literate in Nifty nor JME. But I do have a built-in paternal instinct that want everything to work nicely on both. For everybody.

[2016-04-03 18:29] bgroenks96 commented on #364
:+1:  You're hired ;)

[2016-04-03 18:30] bgroenks96 commented on #364
@void256 We need to get some documentation up somewhere about this for current Nifty/JME users. Once that's done, I think we can close this issue.

[2016-04-03 18:33] tonihele commented on #364
https://github.com/jMonkeyEngine/jmonkeyengine/issues/330, here is the JME issue for this.

[2016-04-03 21:25] void256 commented on #364
@TripleSnail
I've just tried the same (with removing the local maven repo) and I do get the correct "nifty-1.4.2-20160327.130755-19.jar" version. Maybe you've used that empty Maven project trick before and Maven did not update the SNAPSHOT correctly? There is the `-U` option to force the update of SNAPSHOT-Dependencies. I don't have any other explanation.

@tonihele
Yep, you're hired :wink: There

[2016-04-03 21:25] #364 closed, assigned to nobody

[2016-04-03 22:21] wlinna commented on #364
Yeah I was looking from the wrong directory. Should have looked at com/github/nifty-gui/nifty and not lessvoid. I hadn't used that trick before but I once compiled jME from source using Gradle which could explain how the old version got there.

Thanks for everybody involved in fixing this problem :)

[2016-05-27 06:14] juancafe4 opened #425 "@NiftyEventSubscribe not working with Slick2D"
Hello NiftyEventSubscribe is not working in Slick2D I have this function
visibleToMouse=true
@NiftyEventSubscriber(id="resume_game")
    public void onClick(final String topic,final ButtonClickedEvent event) {
        System.out.println("element with id");
    }

public void render(GameContainer gc, StateBasedGame sbg, Graphics gr) throws SlickException {
    SlickCallable.enterSafeBlock();

[2016-05-29 18:06] bgroenks96 commented on #425
Hi,
Please provide a SSCE with any relevant layout XML so that we can try and reproduce the issue. Thanks!

[2016-05-29 21:11] juancafe4 commented on #425
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<nifty xmlns="http://nifty-gui.lessvoid.com/nifty-gui">
    <useControls filename="nifty-default-controls.xml"/>
    <useStyles filename="nifty-default-styles.xml"/>
    <screen id="game_menu" defaultFocusElement="game_play" controller="DoS.GameMenuController">
        <layer id="main_menu" childLayout="absolute" backgroundImage="/Users/MASTE

[2016-05-29 21:12] juancafe4 commented on #425
So I am using my own screen controller too

[2016-05-30 01:56] biskiti commented on #304
Hi guys, is there any progress?

[2016-05-30 04:23] dustContributor commented on #304
I decided I'd work on an editor first rather than the game UI, and I'm using JavaFX for that, so I haven't looked into this any further.

[2016-05-30 18:27] bgroenks96 commented on #304
@biskiti

Now that you reminded me, I went ahead and finished porting the LWJGL backend to LWJGL3. Everything should (theoretically) work. I have not yet rewritten the example runner, however, so it hasn't yet been tested :cold_sweat:

If you get a chance, please head over to the [feature branch](https://github.com/bgroenks96/nifty-gui/tree/lwjgl3-renderer) on my fork, clone it, build it, and let

[2016-05-30 20:03] biskiti commented on #304
Hi,

skiping pauls sound system and examples, build was done sucessfully

I'll do some tests.

Thanks a lot

[2016-06-01 09:50] stasalcatraz opened #427 "addAllItems in DropDown"
In DropDown interface method addAllItems defined as
  void addAllItems(@Nonnull List<T> itemsToAdd);
but in current realisation in DropDownControl it brings to ListBox's addAllItems, which defined as
  void addAllItems(@Nonnull Collection<T> itemsToAdd);
So if I have collection other than List, why should i use single addItem?

[2016-06-01 21:13] KillingSpark commented on #304
Hi i've been working on a very simple GUI that works with LWJGL3. Nothing special but if you want something easy and clean try it out. https://github.com/KillingSpark/lwjglGUI

[2016-06-02 02:59] bgroenks96 commented on #304
@KillingSpark I do hope you aren't using one of our issue threads as a medium for advertising your own project...? That would not be cool.

If you mean try it out with Nifty, your project would need to be already using NIftyGUI (preferably the LWJGL 2.x backend) to work for testing the new LWJGL3 renderer. I'm interested in hearing from people using the current LWJGL renderer and whether or not dr

[2016-06-09 13:34] jjYBdx4IL opened #429 "build is downloading assets from non-central sources"
There is also a repositories section in the parent pom. See bottom of page http://central.sonatype.org/pages/requirements.html : we discourage the usage of <repositories> and <pluginRepositories> and instead publish any required components to the Central Repository (for obvious reasons).

[2016-06-19 17:18] #304 closed, assigned to bgroenks96

[2016-06-19 18:07] #427 closed, assigned to nobody

[2016-08-21 22:40] ghost opened #431 "Nifty with a java applet?"
Is there any possibility to use Nifty-Gui with a java applet, tried to google alot about this subject, couldn't find any usefull information about this..

My Gui class:
http://pastebin.com/ncWpkiA5

Sorry, if it isn't really an "issue". (I just want to know if there is a way to do this or give up on this.)

[2016-08-22 19:20] arvyy opened #432 "Creating SlickBatchRenderBackend breaks Slick2D's alpha blend functionality"
![screenshot from 2016-08-22 22 11 35](https://cloud.githubusercontent.com/assets/15849668/17867995/78079a6c-68b5-11e6-93eb-bc3854f120da.png)

The only difference between these is in init method:

[code]

The method that is using alpha blending is

[code]

[2016-08-23 17:18] bgroenks96 commented on #431
Your best bet would be to use the JogAmp backend and use JOGL's GLCanvas to render in the AWT context. You can find instructions on how to use JOGL with applets [here](https://jogamp.org/wiki/index.php/Using_JOGL_in_a_Java_applet)

[2016-08-23 17:22] bgroenks96 commented on #432
Please provide a SSCE for verification and testing purposes, and I'll take a look as soon as possible.

You can submit the SSCE as a PR to [our issue repo](https://github.com/nifty-gui/nifty-gui-issues).

Thanks!

[2016-08-23 18:35] arvyy commented on #432
I didn't figure why it won't let me create a new pull request. I uploaded it here instead: https://github.com/arvyy/SlickNiftySSCE

[2016-08-24 02:03] bgroenks96 commented on #432
Yeah I don't really understand what's going on with this code:

[code]

You're creating a renderer, but it never gets passed into anything. I'm not sure what the output of this SSCE is supposed to look like, but I don't think it has anything to do with the nifty renderer in this particular case, unless I'm missing something here.

[2016-08-24 04:00] arvyy commented on #432
![screenshot from 2016-08-24 06 57 27](https://cloud.githubusercontent.com/assets/15849668/17917758/0b9c1c7c-69c8-11e6-9259-ccfaab98fd8d.png)

Again, renderer commented out on the instance on the left.
What OS did you try it on? Maybe it is platform (Linux) specific.

[2016-08-24 07:57] ghost commented on #431
Alright thanks :-)

[2016-08-25 01:08] bgroenks96 commented on #432
Ok yeah, confirmed on Linux. I haven't tested on Windows (I don't have any development environment set up there), but I'll assume for now that it's probably not platform specific.

That's really bizarre that merely creating the batch render backend causes this. I'll look into it.

[2016-08-25 01:10] bgroenks96 commented on #431
Feel free to re-open this issue if you encounter any more issues.

[2016-08-25 01:10] #431 closed, assigned to nobody

[2016-08-25 02:19] bgroenks96 commented on #432
I found the [culprit](https://github.com/nifty-gui/nifty-gui/blob/1.4/nifty-core/src/main/java/de/lessvoid/nifty/render/batch/BatchRenderBackendInternal.java#L332).

If I had to guess, it's probably the call to change the alpha function. But it could be any one of those state changes.

Unfotunately, this isn't the kind of thing I can just rip out as a quick bug fix; changing the default blending m

[2016-09-02 18:37] hakankocyigit opened #433 "Lock screen mute / upgrade does not work"
Lock screen mute / upgrade keys do not work when I press
Build #576

[2016-09-02 19:37] bgroenks96 commented on #433
You need to be more specific. Which renderer are you using? What do you mean when you say they "don't work"? Your application isn't receiving input signals from them? Or your phone isn't locking/changing volume?

The latter quite obviously has nothing to do with nifty-gui.

[2016-09-02 19:42] hakankocyigit commented on #433
I could tell my English is not so good. But the second one I tried the phone lock screen mute / upgrade does not work when I press. (Only the lock screen)
Tested: Xperia Z3C, Xperia Z2

[2016-09-03 16:33] hakankocyigit commented on #433
Build #585 fixed the problem

[2016-09-03 16:33] #433 closed, assigned to nobody

[2016-09-10 17:07] void256 commented on #432
@bgroenks96 is right.

The problem is that at creation time of [BatchRenderBackendInternal](https://github.com/nifty-gui/nifty-gui/blob/1.4/nifty-core/src/main/java/de/lessvoid/nifty/render/batch/BatchRenderBackendInternal.java#L342) OpenGL alpha testing is being enabled and Slick2D does not use alpha testing at all. So Slick2D does not expose any public API to disable it again.

The workaround wo

[2016-10-27 21:16] majc18 commented on #325
I have exactly the same problem!!
Can you tell me if you fixed it??

[2016-11-07 15:46] bgroenks96 commented on #325
@majc18 If you can give us steps to reproduce it and an SSCE, we can reopen the issue. Otherwise, you might need to ask @dmdm22 what he did to resolve the issue on his end.

[2017-01-07 11:40] raLaaaa opened #435 "ScrollPanel does not draw image / background colour"
Hey guys,

I'm not sure whether this is intended. But I'm currently using a ScrollPanel to draw Items in my inventory. From my investigation I think that this should be possible but it's not working for me. I'm trying to add an image next to a text inside a ScrollPanel. The ScrollPanel is shown inside of a popup.

This is my XML:
http://pastebin.com/FWzGZrMA

Inside the myScrollStuff I want to add

[2017-01-11 05:52] bgroenks96 commented on #435
Hi,
Sorry for the delay in getting back to you. Could you put together an SSCE for this issue and submit a pull request to [our issue repo](https://github.com/nifty-gui/nifty-gui-issues)? That would help a lot!

I don't think this is intended behavior. It looks like the scroll panel is being rendered over top of the image. Which renderer and backend are you using?

[2017-01-11 10:24] raLaaaa commented on #435
Hey. no worries! Thanks for the reply.

Unfortunately I'm not familiar with an SSCE.
Did I get it right that it's basically a demo of my code which can reproduce the issue? I think I can do that. I already have a simple version to reproduce the issue, but it's a mavenproject with dependencies to slick2d, nifty, as well as lwjglnatives. So I'm not quite sure how to put it in that repo that you can

[2017-01-12 13:28] bgroenks96 commented on #435
Yes, it stands for "Short Self-contained Correct Example" ... it saves the project maintainers a huge amount of time by giving us the ability to reproduce the issue much faster.

To submit an issue to the ssce repo, fork/clone the nifty-issues repo I linked you to above, create a new source package called 'issue435' with your nifty source code. The issues project includes maven dependencies for Ni

[2017-01-15 05:56] bgroenks96 commented on #432
Please see above discussion for workarounds to this issue. Marking as closed.

[2017-01-15 05:56] #432 closed, assigned to bgroenks96

[2017-01-17 06:41] stephengold commented on #384
I'm seeing the same symptom. It's particularly annoying because the warning invokes Logger.warning() directly, which means it cannot be masked using Logger.setLevel(Level.SEVERE)

[2017-01-17 19:15] raLaaaa commented on #435
Hey, sorry for the late reply! Last week was quite busy for me.

I just cloned the repository and encountered some problems.

The pom.xml says:

"If you use this pom.xml with eclipse m2e plugin you'll need to install the maven natives eclipse plugin from http://code.google.com/p/mavennatives/ to make the error message go away. It's as simple as installing it using the following update site: http:/

[2017-01-18 06:30] bgroenks96 commented on #435
I've pushed a commit that includes a link by the same comment to an alternative update site for the eclipse maven natives plugin.

I'd like you to try to reproduce the issue with the JOGL backend first, i.e. put all of your nifty code/resources in the issue project and run it to see what happens (no Slick2D dependent code). If the issue doesn't arise, we'll know it's a Slick2D renderer bug. Otherw

[2017-01-18 06:50] bgroenks96 commented on #384
@stephengold and/or @BorealFeast Please verify  e997094 fixes the issue for you.

[2017-01-18 10:33] raLaaaa commented on #435
I added the SSCE to the repo and created a pullrequest. (Hopefully I got that all right :D )
Using the JoglRunner and my XML directly without a popup it works fine.
Using the LWJGL/GL example of issue 417 and starting the popup directly after niftyInit it works as well.

I did not test calling the popup by a button because I always get an exception somehow, but I doubt that it matters if i call th

[2017-01-18 15:12] bgroenks96 commented on #435
I also get an error message about the plugin execution lifecycle (or something like that), but if you try running the example from Eclipse, it should work regardless.

Yes, most likely. I will look into it as soon as I get a chance to confirm the issue. In the meantime, please double/triple check your Slick2D application setup/configuration to make sure nothing is missing or erroneously set (i.e.

[2017-01-18 15:57] raLaaaa commented on #435
Alright. If I can support the confirmation process or something else please let me know.

I'm running a basic Slick2D NiftyStateBasedGame.
I didn't do changes to blending modes or clipping etc.

I'll double check the code though, maybe something else is messing things up.

[2017-01-19 03:50] bgroenks96 commented on #435
I started writing the boiler-plate code in the issues library for initializing and running Slick2D examples, but I've run into a number of issues getting it working. Unfortunately, I don't have time at the moment to keep investigating.

One thing we need to bear in mind here is that Slick2D is a very old and largely unsupported library. It's riddled with bugs and design flaws (there's a decent cha

[2017-01-19 09:04] raLaaaa commented on #435
I was expecting the answer to be honest and totally agree with you.
It's just because I started this project in Slick2D and wanted it to finish.
After that I wanted to use LibGDX.

I was hoping that maybe  the issue would not be too hard to fix.
In case you are able to provide a fix that would be great, if not that's fine too.
I really appreciate the time you already invested into that and I'm sur

[2017-01-19 12:23] bgroenks96 commented on #435
Are you using the SlickBatchRenderBackend or the SlickRenderDevice for nifty's renderer?

[2017-01-19 18:56] raLaaaa commented on #435
I'm using the LwjglRenderDevice().

I've good and bad news though.

So good news first, I was able to fix this issue, thanks to your help. I tried using te SlickBatchRenderBackend and figured out that this one is not covered by my Nifty Maven dependency.
I checked versions and figured out that the SlickBatchRenderBackend is only covered in version 1.4.2 but not in the one I was using (1.4)

So I s

[2017-01-20 00:32] bgroenks96 commented on #435
`LwjglRenderDevice` is meant for the LWJGL backend. For Nifty/Slick apps, you should be using `SlickBatchRenderBackend` (NOT `SlickRenderDevice`; all *RenderDevice implementations are obsolete as of 1.4.x).

I'm glad to hear that switching to the right backend fixed your issue. No issue is a waste of time; happy to be of help!

[2017-01-20 00:32] #435 closed, assigned to bgroenks96

[2017-01-20 22:36] stephengold commented on #384
I confirm that it fixes the issue for me.

[2017-01-22 06:11] bgroenks96 commented on #384
Great!

[2017-01-22 06:11] #384 closed, assigned to nobody

[2017-03-08 00:26] TheDestroyer19 opened #436 "Bug in Lwjgl3RenderImage prevents use"
In the method `createTexture()` there is this line:

    GL11.glTexImage2D(GL11.GL_TEXTURE_2D, 0, 4, width, height, 0, srcPixelFormat, GL11.GL_UNSIGNED_BYTE, textureBuffer);

The `4` is not a valid format. It should be something like `GL11.GL_RGBA` or another pixel format.  -- see [https://www.khronos.org/registry/OpenGL-Refpages/gl4/html/glTexImage2D.xhtml](https://www.khronos.org/registry/OpenGL

[2017-03-13 00:25] bgroenks96 commented on #436
Thanks for reporting. I'll take a look at this ASAP.

[2017-03-14 00:53] bgroenks96 opened #437 "LWJGL3 Renderer Uses Obsolete GetErrorString Method"
As pointed out in #436, the LWJGL3 renderer makes judicious use of the `GLUtil.getErrorString` method, which is no longer present in [LWJGL 3.1.0](https://javadoc.lwjgl.org/org/lwjgl/opengl/GLUtil.html)+.

All of these method calls will need to be replaced by a nifty utility method fulfilling the same purpose.

See [this page](https://www.khronos.org/registry/OpenGL-Refpages/gl4/html/glGetError.xh

[2017-03-14 00:58] #436 closed, assigned to bgroenks96

[2017-03-14 00:59] bgroenks96 commented on #436
@TheDestroyer19 Please verify that  fb23eda fixes the issue. See #437 for the other issue you mentioned.

[2017-05-02 05:15] stephengold opened #439 "both radio buttons in a group simultaneously active in a window"
I've run into a situation where multiple radio buttons (in the same group) appear to be active at the same time. I'm using jMonkeyEngine 3.1.0-stable, which includes Nifty 1.4.2. Sample code attached.

[Main.java.txt](https://github.com/nifty-gui/nifty-gui/files/969486/Main.java.txt)
[Main.xml.txt](https://github.com/nifty-gui/nifty-gui/files/969487/Main.xml.txt)

[2017-05-27 09:00] Genhis opened #440 "Can I use gradient instead of background-image for button?"
Hello,

the default implementation of button style uses `background-image` attribute, but I'd like to use gradient.

I've seen `Gradient` class, but I can't find any documentation how to use it. I'm using XML for style structure.

Is it possible to use it that way?

If yes, how?
If not, would you consider implementing this in the future?

[2017-05-27 11:16] Genhis commented on #440
I did a mistake, and that was ignoring `onActive` tag and replacing it with `onHover` or `onEnabled`.

When I use it with `onHover`, a button does not render at all; when it's used with `onEnabled`, nothing happens. Later I realized that I could try using `onActive`, and that worked.

Can I somehow use gradient with `onHover` or it's not possible?

My code:
[code]

[2017-05-27 16:13] void256 commented on #440
Hi,

I don't see a reason why it shouldn't be possible to use gradient in onHover.

**However** :wink: there are some things to consider:

- The order in which effects are rendered is fixed. You can find that hard-coded in the [EffectManager](https://github.com/nifty-gui/nifty-gui/blob/1.4/nifty-core/src/main/java/de/lessvoid/nifty/effects/EffectManager.java#L24) class. So it's easily possible tha

[2017-05-27 18:13] Genhis commented on #440
I modified the default button style and I have this:
[code]

I tried using `post="true"` - with no success. I'm using Slick2D renderer if that matters.

I've attached two pictures - first, without `onHover` tag; second, with `onHover` tag. As you can see, in the second picture there is no black-to-white gradient showed and also the text disappeared.

![1](https://cloud.githubusercontent.com/assets

[2017-05-28 11:47] #440 closed, assigned to nobody

[2017-05-28 11:48] void256 commented on #440
There was a bug preventing to configure the gradient parameters specifically for any hover effect :smile: Commit bd9388e should fix this issue.

That's currently not possible without images in Nifty 1.4

[2017-06-03 14:17] jjYBdx4IL opened #441 "copyrighted songs in nifty-examples?"
Couldn't find any documentation regarding the licensing issues.

[2017-06-03 17:38] void256 commented on #441
Everything in the nifty-examples is licensed under creative commons attribution license. The attribution is publicly visible .. however, one needs to actually start the demo/examples to see that. So for example https://github.com/nifty-gui/nifty-gui/blob/1.4/nifty-examples/src/main/resources/all/intro.xml contains all the names of the sound sources and the licenses but it's not obvious to look in

[2017-06-04 05:28] jjYBdx4IL commented on #441
I would rather add a LICENSE.other or something similar to the root of the package for documenting stuff that is not under the primary license.

[2017-06-05 17:45] #441 closed, assigned to nobody

[2017-06-06 15:35] waterss opened #442 "ScrollPanel "optional" scrollbar option not available in Java, neither are the "vertical" or "horizontal" properties"
The ScrollPanel is a newly implemented version of the now deprecated ScrollPanelControl class. While I can still set the stepSizeX/Y, pageSizeX/Y, and autoscroll using Java, I cannot set the ScrollPanel vertical or hoizontal values using Java, nor can those values be set to "optional" in the XML.

My goal is to create a ScrollPanel that doesn't have a horizontal scroll bar (aka horizontal="off") a

[2017-06-07 00:52] bgroenks96 commented on #442
`ScrollPanel` is an interface type which you should reference from your code. `ScrollPanelControl` is the internal implementation.

You should be able to disable the horizontal scrollbar by setting the parameter `horizontal="false"` on the control in XML.

I'm not sure if the "optional" functionality is currently supported. I'll look into it and get back to you.

[2017-06-11 05:22] waterss commented on #442
I've furthered my experiment by working around (see: butchering) your implementation of ScrollPanel. I have two sets of dynamically added content that I switch between - A List View and a Gallery View (Think the Details view and Image View in Windows). I have two panels, a DetailListPanel and GalleryPanel that are direct children of the ScrollPanel. When I hide one and show the other, I call the S

[2017-06-11 05:22] waterss commented on #442
[code]

[2017-06-11 15:06] bgroenks96 commented on #439
Your XML is invalid. You never closed the `<control>` tag for the radio button group. Try fixing that and see if the issue still arises.

[2017-06-11 15:14] bgroenks96 commented on #442
Try calling `sP.setUp(...)` _after_ you layout the children of the ScrollPanel.

Please also post your modified version of the ScrollPanel class (a git diff would be even better :wink:).

[2017-06-11 15:20] waterss commented on #442
I tried using sP.setUp(...) after the scrollPanel layout, but the same issue remains; the ScrollPanel doesn't update its height after changing the internal components.

I didn't actually modify the ScrollPanel, I did a work around to achieve the following effects:

1) I didn't want the bottom scrollbar visible, so I just set the position and height of the SP so that the bottom scrollbar was off th

[2017-06-12 00:15] stephengold commented on #439
The control tag for the radio button group is self-closing. The indentation may have deceived your eye. I tried putting both radio buttons inside the group, but then they were not found by findNiftyControl().

[2017-06-12 03:42] bgroenks96 commented on #439
Right, my mistake. Please provide a SSCE if you are able, [here](https://github.com/nifty-gui/nifty-gui-issues).

I'll look into it as soon as possible. Thanks.

[2017-06-12 18:56] stephengold commented on #439
What's an SSCE?

[2017-06-14 03:29] bgroenks96 commented on #439
An SSCE is a short, simple, compile-able example. Basically just throw your example code into a simple test project that I can check out and run to verify/debug the problem. You can submit it as a pull request to the repo I linked to in the previous comment.

[2017-06-14 19:34] stephengold commented on #439
Is the example I provided on May 1st insufficient?

[2017-06-14 19:45] bgroenks96 commented on #439
It would only compile and run in your development environment with JME set up, so no it's not sufficient.

The idea of an SSCE is that one can literally run `mvn clean compile` and then execute the resulting binaries to see the problem.

[2017-06-14 22:08] stephengold commented on #439
I don't use Maven, but I suppose I could learn ... Does NiftyGUI support JME, or doesn't it?

[2017-06-15 11:14] bgroenks96 commented on #439
As of 1.4.2, JME is still supported.

You shouldn't really have to learn anything about Maven. It's already set up in Nifty. You can copy the `pom.xml` and any other necessary files from one of the other issues in the nifty-issues repo.

[2017-06-18 20:09] stephengold commented on #439
Note my pull request at https://github.com/nifty-gui/nifty-gui-issues

[2017-06-18 21:06] bgroenks96 commented on #439
It seems from the example that the radio buttons only appear both selected when the screen is first loaded and then behave normally once you click on them. Is that consistent with your observations?

[2017-06-18 22:40] bgroenks96 commented on #439
Ok, so firstly, and you might already be aware of this, the easy workaround to this problem is to simply move your `button.select()` call _after_ the `windowE.setVisible(true)`.

Long story short, the problem isn't with the internal logic of the radio button (or radio button group) but rather with the backing element's renderer defaulting to the "selected" image when the element is first drawn, th

[2017-06-19 02:10] stephengold commented on #439
I'm glad you finally dug into this. Yes, the buttons behave correctly once you click on them. I worked around the bug in my current project, but I don't recall how exactly. Changing the order of events is much easier in an SSCE than in a big project.

[2017-06-24 22:12] stephengold commented on #439
I wonder how sliders and such deal with the initialization issue...

[2017-06-26 23:42] stephengold commented on #439
If I insert a third button between "default" and "bottom", it will not appear selected until I click on it. That suggests the backing element's renderer *isn't* defaulting to the "selected" image.

[2017-07-01 19:49] cats000cats opened #443 "Dynamic Styles Problem"
It appears that attempting to change the style of a control with  the setStyle method does not do anything.

[2017-07-03 04:21] bgroenks96 commented on #443
We'll need more details, and ideally a SSCE, which you can provide via pull-request at the [Nifty SSCE repo](https://github.com/nifty-gui/nifty-gui-issues).

[2017-07-03 04:27] bgroenks96 commented on #439
I am not able to reproduce that behavior. When I add a third radio button to your SSCE, the same behavior occurs.

XML:

    <panel childLayout="vertical">
            <control name="radioButtonGroup" id="group"/>
            <control name="radioButton" id="default" group="group"/>
            <control name="radioButton" id="middle" group="group"/>
            <control name="radioButton" id="botto

[2017-07-03 04:53] stephengold commented on #439
"Same behavior" meaning all 3 buttons selected? Or just 2?

[2017-07-03 05:03] bgroenks96 commented on #439
The last one to have `select()` called on it always shows up as selected, along with the first "default" radio button. The group logic appears to be behaving normally. The first radio button listed (i.e. the default to be selected) seems to be *deselected* and immediately *reselected* but _not by the control code_.

@void256 There's definitely something funky going on with the way the style/effect

[2017-07-03 05:58] bgroenks96 commented on #439
@stephengold I found another peripheral cause to the problem. Removing your call to `windowE.setVisible(false)` (which I'm not sure why you needed anyway) resolves the issue. That call causes an unexpected chain of disposing/unloading of image resources from nifty's texture atlas _after_ the nifty runtime has already set everything up for rendering. I can't track down the exact cause of the wrong

[2017-07-03 06:08] bgroenks96 commented on #439
I'm going to close this issue for the time being, as I can't find any evidence of defects in the backing control logic or in the renderer given *normal* initialization conditions. The image management bug caused by `setVisible` is worth noting, but it's not a normal (or formally defined) state for Nifty to be in on startup.

Please feel free to re-open the issue if you find anything else.

[2017-07-03 06:08] #439 closed, assigned to bgroenks96

[2017-07-03 13:51] stephengold commented on #439
In my application I have dozens of permanent windows, which the user can select (make visible) as needed. Since windows are visible by default, I initialize each window to setVisible(false). I'm disappointed to learn that this is an unsupported feature.

[2017-07-03 13:59] bgroenks96 commented on #439
Just make sure you don't call `setVisible(false)` until after everything has been initialized. And definitely don't call it if you are going to call `setVisible(true)` almost immediately afterward.

If it continues to be a problem, please feel free to create a new issue for it.

[2017-07-03 14:55] stephengold commented on #439
What I'd like to avoid is having dozens of windows appear briefly during startup. What's an appropriate mechanism for invoking setVisible(false) after NiftyGUI has initialized but before the window could be displayed?

[2017-07-03 21:57] bgroenks96 commented on #439
You should be OK to call `setVisible(false)` on the Window at the end of your control initialization, e.g. at the end of `onStartScreen` in the case of the SSCE. If I move the call to `setVisible(false)` to just before `setVisible(true)`, I don't see any issues. The window will appear as expected whenever you call `setVisible(true)` later on.

[2017-07-03 22:07] bgroenks96 commented on #442
I'm not sure what you mean by "Java-Only", but you are welcome to make whatever improvements you like to the ScrollPanel and submit them in a PR. We'll review/test them as needed, of course.

[2017-08-06 18:40] stephengold opened #444 "both radio buttons in a group simultaneously active in a window"
Issue #439 is not resolved for me, so I am opening a new issue per the advice of bgroenks96. I will submit a pull request to https://github.com/nifty-gui/nifty-gui-issues with a new SSCCE as soon as I have a new issue ID number.

[2017-08-06 18:57] bgroenks96 commented on #444
What isn't resolved? Removing `setVisible(false)` didn't fix the issue?

[2017-08-07 01:25] stephengold commented on #444
I want my windows to be hidden at startup. If I remove setVisible(false), then the window is visible at startup. That's not an acceptable solution for me.

[2017-08-08 01:29] bgroenks96 commented on #444
As it stands, this is a duplicate of #439. You need to either re-open that issue with an explanation of why the workaround doesn't suit you, and/or change the topic of this issue to reflect the behavior of windows on startup.

[2017-08-08 04:29] stephengold commented on #444
I've already explained why removing setVisible(false) doesn't suit me. I've enhanced the title of this issue to more closely reflect where I think the problem lies. Please study the SSCE I submitted to https://github.com/nifty-gui/nifty-gui-issues yesterday

Since the SSCE refers to issue #444, I'd prefer not to reopen #439.

[2017-08-09 02:53] bgroenks96 commented on #444
The title of this issue is literally exactly the same as #439 word for word.

[2017-08-09 03:06] bgroenks96 commented on #444
The issue is fixed in your SSCE using the exact same workaround I gave you in #439.

Configure the radio button in `onStartScreen` exactly how you did in the #439 SSCE, then call `setVisible(false)` _at the end_ of the method:

     @Override
    public void onStartScreen() {
        Window window = screen.findNiftyControl("window", Window.class);
        Element windowE = window.getElement();

[2017-08-24 04:16] bgroenks96 commented on #444
Closing #444 as duplicate of #439

[2017-08-24 04:16] #444 closed, assigned to nobody

[2017-08-24 04:17] bgroenks96 commented on #442
@waterss Do you have any additional information regarding this issue?

[2017-09-17 19:41] stephengold commented on #382
What's holding up the fix?

[2017-11-07 21:40] richardTingle opened #445 "Log exceptions at a higher log level that "Warning""
Because Nifty produces a lot of logs at the warning level, e.g.

WARNING: Style: nifty-tab-button-active#text was already registered. The new definition will override the previous.
Nov 07, 2017 9:31:00 PM de.lessvoid.nifty.Nifty registerStyle
WARNING: Style: nifty-treebox-item was already registered. The new definition will override the previous.
Nov 07, 2017 9:31:00 PM de.lessvoid.nifty.Nifty reg

[2017-11-07 21:50] richardTingle commented on #445
I managed to do a temporary workaround like this

        Logger.getLogger("de.lessvoid.nifty.Nifty").setFilter(new Filter(){
            @Override
            public boolean isLoggable(LogRecord lr) {
                boolean isReregisterMessage = lr.getMessage().contains("The new definition will override the previous.");
                return !isReregisterMessage;
            }

        });

[2017-11-09 23:55] bgroenks96 commented on #445
Yes, you're right. Logging level usage is pretty inconsistent. I'll take a look at what can be done in a reasonable amount of time as soon as possible.

[2017-12-04 22:19] EvaSachkova opened #446 "Sorry, wrong repo"
Im sorry for this ticket

[2018-01-27 08:56] realGWM opened #447 "Russian symbols disappers (at least) in button names."
Russian (and maybe some other non-english symbols) disappears in button names.
How it looks: https://imgur.com/a/ydKgC
Between `text` and `text2` there might be russian symbols..
Example:
[code]
Everything works as expected, text in button: `some english text`
[code]
Russian symbols disappears, text in button: `text -   text2`.

[2018-01-28 12:02] void256 commented on #447
That's very likely a problem with the bitmap font. The default bitmap fonts included in Nifty certainly do not contain cyrillic letters.

You might want to take a look at http://www.angelcode.com/products/bmfont/ to create your own with cyrillic letters included.

[2018-01-29 20:34] bgroenks96 commented on #447
That being said, and I'm sure @void256 will agree, if you do create new font bitmaps with cyrillic letters included, we would really appreciate a pull request! 😃

[2018-01-29 20:36] #446 closed, assigned to nobody

[2018-02-02 15:32] Genhis opened #448 "onHide effect postpones hiding an element"
I want to call a method whenever is an element hidden or shown. I've managed to get it done by using two effects, onShow and onHide. However, when I added onHide effect, the element was shown about 5 seconds longer after the setVisible(false) function was called.

Firstly, I tried it with Console, then I tested the effects on plain panel, just to be sure there's nothing wrong with the console cont

[2018-02-04 01:25] Genhis opened #449 "[HELP] How can I create a scrollable panel containing custom controls?"
I want to create a panel with categories, where every category contains a series of images. I created custom control to lay out the images using `childLayout="absolute-inside"` and computing their position every time an image is added or removed. Then, I put the control with the corresponding label into a panel with `childLayout="vertical"`. It works well until the main panel runs out of space.

!

[2018-02-05 18:43] Genhis commented on #449
@void256 Is the library still in development?

[2018-02-05 23:28] bgroenks96 commented on #449
@Genhis The library is in maintenance mode, so we're not actively developing new features, just fixing bugs. This smells like a bug, though. Nothing you're doing jumps out to me as super wrong. Can you post some screenshots of what you're seeing as well as post an SSCE on the [Nifty issue repository](https://github.com/nifty-gui/nifty-gui-issues)?

Thanks.

[2018-02-05 23:31] bgroenks96 commented on #448
Please post an SSCE in the [Nifty issues repository](https://github.com/nifty-gui/nifty-gui-issues). There shouldn't be any significant timing difference (afaik) between `onHide` and `setVisible`.

[2018-02-06 15:32] Genhis commented on #105
Has there been any progress with the issue? It is very difficult to make complex nested controls without nested styles.

[2018-02-13 11:37] Genhis commented on #449
@bgroenks96 I found two issues:

1. Adding a new element to ScrollPanel doesn't update the size of its page/scrollbar
2. Adding a panel to ScrollPanel with layout absolute-inside invalidates layout type of its parent. Example below:

XML structure:
[code]
Adding elements in Java:
[code]
All the text elements are placed on top of each other despite the vertical layout of the parent panel.

Do you w

[2018-02-13 21:08] bgroenks96 commented on #449
Yes, to the issue repository. That will allow me to directly reproduce what you're seeing.

[2018-02-14 10:07] Genhis commented on #449
@bgroenks96 Done.

[2018-03-13 12:07] Genhis commented on #105
A workaround for this issue is to remove an IF statement in `de.lessvoid.nifty.loaderv2.types.ElementType#applyStyleInternal()`.

So if anyone wanted to have nested styles, change
[code]
to
[code]

It would require to rewrite most of the XML style definitions because all of the styles would become nested. Moreover, I'm not sure whether it has any side effects but so far, it works fine for me.

[2018-03-14 11:44] Genhis commented on #449
I fixed the issues by calling `layoutElements()` to ScrollPanel element and setting `width` and `height` constraints for my inner panel (recomputing every time an element is added or removed).

But I think `ScrollPanel` should do it internally when its children are modified - at least call `layoutElements()` method.

[2018-03-15 15:57] Genhis commented on #448
I've figured it out. An element is hidden when `onHide` effect ended, and because effects have default length of 1000ms, there was a delay.

So, it doesn't require fix in the nifty library but users need to set `length="0"` when using `nop` effect.

[2018-03-15 15:57] #448 closed, assigned to nobody

[2018-03-18 23:38] bgroenks96 commented on #449
Hi,
I apologize for not responding sooner. I was unfortunately very busy and completely forgot to follow up on your issues. In the future, if you don't get a response within a few days, please feel free to post a comment mentioning me or @void256 to get our attention.

I reviewed your SSCE for this issue and, after fixing some typos in the XMLs, was able to confirm your observations.

Could you cl

[2018-03-20 09:35] Genhis commented on #449
First of all, you need to update the `height` of the parent when you add a new element. Then, I found out that it is enough to call `ScrollPanel#layoutCallback()` and full relayout is not necessary.

I don't know if Nifty can set the correct `height` implicitly (it would be much easier with that).

Here is the modified code of the **issue 1a** which I posted to `nifty-gui-issues` repository:

[cod

[2018-05-02 18:52] JurgenCruz commented on #316
I ended up using the NiftyEventSubscriber annotation and forget the controllers

[2018-06-12 20:19] Genhis opened #450 "Attributes are not applied correctly when changing styles"
I want to dynamically change style of a button. However, I encoutered two problems while debugging why it wasn't working.

1.  Controls seem to have different structure when they are created and looking up styles. (e.g. `Button`: **before:** Control -> Panel -> Text; **after:** Control -> Text).
It means that the initial panel style needs to have ID `<custom-style>#panel` while dynamically set sty

[2018-06-13 05:17] Genhis commented on #450
I have tested this issue further and I am proposing several changes:

1. **Remove `style="#panel"` in `nifty-button.xml`.** It may be necessary to change this in other controls/styles as well. (The reason is described in my first post.)
2.  **Add `removeStyles()` and `removeStylesInternal()` to `ElementType` and change `Element#removeStyle()` to call these methods.** (Since nested styles are curre

[2018-06-13 08:06] bgroenks96 commented on #450
Hi,

Thanks for all the great work!

Yes, a PR would be greatly appreciated. One of us we'll review and test the changes (as well as the original issue) as soon as possible.

Best,
Brian

[2018-06-13 10:59] Genhis commented on #450
Well, it works for a button but not for Tabs. When I used the method described in (3), the text in tabs disappears (this is also true for my previous attempt to call `e.getElementType().applyAttributes()` directly inside `setStyle()`).

I don't know how to continue. I think the problem might be that `TextRenderer` gets incorrect data or `TabGroupController` is not working as intended. Anyway, I se

[2018-06-15 14:27] raLaaaa opened #451 "Is there any way to apply spritesheet imageMode to niftyImage dynamically?"
Hey I'd like to know whether there is a chance to apply an spritesheet imageMode to a niftyImage?
Documentation says that it is possible to apply an imageMode to an niftyImage but only normal, subimage, repeat etc. ([source (old though)](http://nifty-gui.sourceforge.net/projects/1.3/nifty/apidocs/de/lessvoid/nifty/render/NiftyImageMode.html))

How ever it was not possible for me to get it working

[2018-06-15 15:02] joliver82 opened #452 "OnClick Effect is not working on keyboard events"
I'm working with jme3 and niftygui and I've found out that if pressing enter or space keys when having focus on a nifty element with an interact tag the onclick event is not run although according to the manual it should: “OnClick: The element has been clicked by the mouse or is activated by a keyboard interaction”.

The interaction method defined is properly called in any case (clicking or pressi

[2018-07-01 22:06] bgroenks96 commented on #452
Hi, sorry for the delayed response.

I reviewed the documentation and the relevant code. I agree that, in the current language of the manual, it should be the case that the `OnClick` *effect* is started by key events dispatched to an element. This is, however, rather confusing, as the normal `onClick` interaction handler *should not* be activated by key events. I think it would be ideal to have a

[2018-07-01 22:10] bgroenks96 commented on #451
I believe this *should* be possible, but it could be that the Slick backend simply doesn't implement it. Could you maybe try doing this with the LWJGL or JOGL backends and see if you still have the same difficulties?

[2018-07-02 20:59] raLaaaa commented on #451
Gonne check it out, thanks! Gonna respond as soon as I can provide any updates on this.

[2018-07-09 11:26] raLaaaa commented on #451
Unfortunately it was not possible for me doing this changing the backend.
I again tried to use imageMode and applying an ImageBuffer to a niftyImage.

Any other hints? Do I maybe need to consider something when using the LWJGL backend for instance?

[2018-07-29 14:10] Genhis commented on #451
I believe your `AreaProvider` (the first parameter in `createImageMode()`) should be `"sprite:32,32,1"`.

From [the manual](https://sourceforge.net/projects/nifty-gui/files/nifty-gui/1.3.2/nifty-gui-the-manual-1.3.2.pdf/download):

This will treat the given image as a sprite sheet. The "w" and "h" properties specify the size of a
single sprite and the image is being interpreted as being fragmented

[2018-07-30 16:32] raLaaaa commented on #451
Ah! I could have seen this as well, damn. This works perfectly. Thanks for your help! I just leave the second parameter empty for now and it looks like it's working.

[2018-07-30 16:32] #451 closed, assigned to nobody

[2018-07-31 12:18] joliver82 commented on #452
Hi

Sorry for the late reply too, I was on vacacion the whole month

I agree that it's confusing having both keyboard and mouse events handled in the same onClick tags (either interacts or effects) but this is how it's defined and the way it has been working forever at least from when I started using nifty

About the difference between keyboard and mouse events, the "problem" is that default contr

[2018-08-09 19:45] #316 closed, assigned to nobody

[2018-08-11 06:36] Genhis commented on #299
If I understand you correctly, it takes one second for the element to hide when you use that effect. See #448 for a possible explanation.

[2018-08-12 13:18] Genhis opened #460 "Maven natives plugin is outdated (Eclipse plugin not found)"
The update site for the Eclipse plugin does not exist anymore.

I found [a replacement](https://github.com/fmarot/nativedependencies-maven) but it doesn't seem to work with the current setup.

Quote from `pom.xml`:

[2018-08-23 00:02] Jeddic opened #461 "Memory Leak in style event service"
So I had a few users complain about a performance problem in my game in an area that was adding and removing a lot of nifty elements. After looking into it I found the following call in element construction with no corresponding call when removed:

`nifty.getEventService().subscribeStrongly("style-refresh:" + getStyle(), styleListener);`

This method basically loops through every single element th

[2018-08-23 10:33] void256 commented on #461
This feature was added in commit 0e97cb9859f0346e4bd6c370d5a1454690d40ec6 and it looks like the commiter missed to unsubscribe from the event bus when the element is removed. I think we should simply add an unsubsribe when the element is being removed. This should fix your issue, I suppose?

Using the event bus for internal communication is a bit of overkill in this case indeed. However,  in case

[2018-08-24 15:26] Jeddic commented on #461
It fixes the long term memory leak, however, the original reason I figured it out was because I was investigating a performance problem with this piece of code. In my UI I have a section where if you mouse over an icon it removes / adds up to 4 other icons to show crafting requirements. On my dev pc it causes up to about a 2ms delay and I have some players were it is significantly worse and makes

[2018-09-11 13:36] bgroenks96 commented on #452
Fixed by #454

[2018-09-11 13:36] #452 closed, assigned to nobody

[2018-12-04 04:50] The-Fireplace opened #462 "nifty-lwjgl3-renderer isn't in the Maven repo"
I am trying to set up nifty gui with my LWJGL3 project, and found that nifty-lwjgl3-renderer does not appear to be in the [Maven](https://search.maven.org/search?q=g:com.github.nifty-gui). Looking at the [comments on the pull request that added it](https://github.com/nifty-gui/nifty-gui/pull/426#issuecomment-227008920), it appears that it was slated for 1.4.3, which was never released. I realize t

[2018-12-27 22:46] void256 commented on #462
1.4.3 has been released today and should be available in the maven central by now.

[2018-12-27 22:46] #462 closed, assigned to nobody

[2019-01-10 20:58] tonihele opened #463 "Hints don't support dollar signs"
Hints don't support dollar signs. I have UI as XML, and an element as such:
`<control width="8%" name="guiIconNoClick" id="mapPercStat" image="Textures/GUI/Icons/Info/Map_Percent.png" hint="${menu.1528}" />`

Now, if this ${menu.1528} translates to any string with a dollar sign, I get the following error:

If this (ControlParameter):
[code]
Is replaced by:
[code]

It works. But I'm not really sure

[2019-01-10 23:38] Genhis commented on #463
Please post sample code to reproduce your issue.

Besides that, `${id.key}` expression is used for GUI localization. Is that what you're trying to do?

Taken from [the manual](https://sourceforge.net/projects/nifty-gui/files/nifty-gui/1.3.2/nifty-gui-the-manual-1.3.2.pdf/download):

[2019-01-11 06:03] tonihele commented on #463
I can try to whip something up. But yes, it is localization. The string comes from a resource bundle. This seems to work _everywhere_ except on hints.

Ah I see the XML control example I entered also got edited out, didn't see it.

Edit: re-added the XML example

[2019-01-11 13:20] Genhis commented on #463
What is the value for `menu.1528` key? I guess it may contain characters which `replaceAll()` treats as regex groups.

When you use this key in a regular text, do you still get the error?

    <text style="base-font" text="${menu.1528}" />

[2019-01-11 15:03] tonihele commented on #463
The value is

Anything with a dollar sign will cause the crash. That is how Java's regex work. For regular text attributes these seem to be fine. I didn't debug, but my guess that the text doesn't go to this particular class for processing.

[2019-05-24 13:42] Tasemo opened #465 "Parameter not resolved correctly for nested controls"
Currently, if you define nested controls with different parameters, the parameter is resolved with the value declared on the outer most control. This effectively prevents the use of individual parameter for nested controls, which is not very nice if one wants to create some kind of tree structure (like a proper menu). Debugging shows that de.lessvoid.nifty.loaderv2.types.ElementType#resolveParamet

[2019-05-24 15:49] Genhis commented on #465
Hi,
Can you post an example code (XML/Java), and explain what it does and what it should do?

[2019-05-24 17:52] Tasemo commented on #465
[code]
As far as I understand, this should create 3 labels with the captions of "Test1", "Test2" and "Test3", but currently, it just creates labels all with a caption of "Test1". The parameter "caption" is not correctly resolved for each control.

[2019-05-24 18:37] Genhis commented on #465
For clarity, here is a runnable example: https://github.com/nifty-gui/nifty-gui-issues/pull/9
Notice that the background color changes but the caption does not (issue with custom attributes?).

A pull request would be welcome I believe, but please test if all controls work correctly with your fix (hope it won't end up like one of my attempts to fix attribute merging in setStyle - https://github.co

[2019-05-25 16:38] #465 closed, assigned to nobody

[2019-05-26 04:24] JurgenCruz commented on #398
Did data binding every was implemented? this would be a very cool addition

[2019-05-26 17:56] Tasemo opened #467 "parents of nested controls receive incorrect onStartEffect and onEndEffect events"
Hello guys, I have been playing around with nested controls some more and noticed that parents of nested controls receive the same effect events their children receive. You can view the SSCCE  [here](https://github.com/Tasemo/nifty-gui-issues/commit/1382e47957f686c90e56bb66b3840421b6a6a28e). When one, for example, starts hovering over the "Test4" label, then the onHoverStart() methods of "Test4",

[2019-05-26 20:21] Tasemo commented on #467
Welp, after wasting some time debugging I finally read the manual and it clearly states:

interact events below) and the **event will travel the tree upwards calling the Controller of other
elements** all the way up to the ScreenController.

So I guess I´m turning this issue into a feature request then as I would really like to have a way to stop this behavior. What do you guys think about adding

[2019-05-26 21:13] Genhis commented on #467
Have you thought of other ways to do that?
What is the problem with current event delegation? I mean, if **B** is child of **A** and receives an `onHoverStart` event, **A** would get `onHoverStart` as well, right? Does it matter that **A** was previously hovered and would call `onHoverStart()` again?

Anyway, I believe that adding a new parameter wouldn't be an issue if it doesn't break anything e

[2019-05-27 09:15] Tasemo commented on #467
Yeah, I though about other ways of doing that, mainly by trying to remove the need for nested controllers. For example having a single controller for the whole tree or moving the controller to its own leaf without direct descendants (the second one worked decent, but I had no access to the control parameters and I had to walk the tree up and down constantly to get to the intended elements, having

[2019-05-27 18:08] Genhis commented on #467
What if you used `caption` as a unique identifier and ignored all method calls not intended for current element?

    <onHover name="nop" onStartEffect="onHoverStart($caption)" onEndEffect="onHoverEnd($caption)" />

P.S. Don't wait for Nifty 1.4.4, compile it yourself.

EDIT: Nevermind, it looks like attribute values are not supported inside method calls.

[2019-05-28 10:43] Tasemo commented on #467
Yeah I just found the following piece of documentation:
[code]
Can´t believe I made the same mistake again by not reading the manual properly... @Genhis I´m sorry for wasting your time, I´m closing this issue. Thanks for your help with my problem anyway!

[2019-05-28 10:43] #467 closed, assigned to nobody

[2019-06-08 08:13] relu91 commented on #398
No, it has never be implemented as far as I know... I stopped developing Nifty Gui a while ago and I did some preliminary tests with Melasse.

[2019-06-11 12:23] Tasemo opened #469 "visibleToMouse not set automatically when onClick effect is added"
Hey guys,
I noticed that the visibleToMouse attribute is automatically set to true when a \<interact> tag or an \<onHover> effect is attached to an element. This is not the case for the \<onClick> effect, even though this is always required to make the effect work. The following examples work and set the attribute automatically:
[code]
The following example does not work without setting visibleToM

[2019-06-11 16:04] Genhis commented on #469
If `onHover` effect sets `visibleToMouse` automatically and `onClick` doesn't, it seems to me like a bug.

Can you submit a pull request?

[2019-06-22 07:27] Genhis opened #471 "EffectBuilder doesn't have a build() method"
I want to create an effect dynamically from `EffectImpl` class and attach it to an element. The element only accepts `Effect` instance, so I have been looking for a simple way to get the instance. `Effect` constructor is too complicated, especially if I want default parameters, and `EffectBuilder` has no `build()` method.

Are there any other options which I haven't considered?

[2019-06-29 17:12] Genhis opened #472 "Nifty stretches elements when window is resized"
When I resize a window, all elements render stretched.

I have tried calling `Nifty#resolutionChanged()` method - it has done something but hasn't fixed the issue.

Here is how I initialise Nifty:
[code]

Does anyone know how to fix this?

---

Initial size:
![image](https://user-images.githubusercontent.com/11155942/60387256-919de600-9aa0-11e9-9fbc-fb4d00950eab.png)

No method call after resoluti

[2019-08-02 08:51] #308 closed, assigned to nobody

[2019-12-03 17:06] jfelrod1960 opened #474 "Question about the future of nifty-gui"
My wish is to use nifty-gui for the UI in my game.  It seems to be inactive right now which I know doesn't really mean that it is not okay to use.  But would like to know the future of this library?

Thanks
Jeff

[2019-12-06 05:56] bgroenks96 commented on #474
There is no active development at this time. There was some initial work on a 2.0 version, but that's been inactive for a while now as well. @void256 might be able to comment on his plans for that.

If I were you, I'd browse through the currently open issues and see if anything jumps out to you as a serious enough problem to consider looking elsewhere. I do think Nifty has been largely superseded

[2019-12-08 03:48] jfelrod1960 commented on #474
@bgroenks96 Thank you for your reply.  Very much appreciated.

[2019-12-26 02:52] qq1053831109 opened #475 "why i cant input chinese char？"
why i cant input chinese char？

[2019-12-26 07:09] qq1053831109 opened #476 "how can change font Size?"
how can change font Size?

[2019-12-26 14:49] Genhis commented on #475
This issue seems to be related to #447 - Nifty GUI doesn't have support for non-English characters by default. However, you can create your own fonts with bitmap fonts generator, such as [FontBuilder](https://github.com/andryblack/fontbuilder).

[2019-12-26 14:53] Genhis commented on #476
There are two options to change the font size:
1) You can create your own fonts (in various sizes) with bitmap fonts generator, such as [FontBuilder](https://github.com/andryblack/fontbuilder).
2) You can use [`textSize`](https://github.com/nifty-gui/nifty-gui/wiki/Effects#textSize) effect on any font to change its size. See [the effect implementation](https://github.com/nifty-gui/nifty-gui/blob/3

[2019-12-26 15:03] qq1053831109 opened #477 "How can listen the textfield input one enter key？"
How can listen the textfield input one enter key？

[2019-12-26 15:04] #475 closed, assigned to nobody

[2019-12-26 15:04] #476 closed, assigned to nobody

[2019-12-26 20:44] armingensler opened #478 "Keyboard input using LWJGL 3"
Using the LWJGL 3 renderer, text input for textfields does not seem to work properly. Characters are always uppercase and seem to ignore keyboard layouts. With the old LWJGL backend this worked fine. Can anyone confirm this or am I using it wrong? Is this a known bug?

I guess the reason for this could be that the LWJGL 3 backend only uses glfwSetKeyCallback and not glfwSetCharCallback. I am howev

[2020-01-08 08:43] bgroenks96 commented on #478
Take a look at [Lwjgl3InputSystem](https://github.com/nifty-gui/nifty-gui/blob/1.4/nifty-renderer-lwjgl3/src/main/java/de/lessvoid/nifty/renderer/lwjgl3/input/Lwjgl3InputSystem.java). Maybe it has something to do with the `glfwGetKey` call?

[2020-02-14 09:34] qq1053831109 opened #479 "layerCreator.create(nifty,screen，element)"
how can get the element?
i want use java code make gui!

[2020-02-14 10:44] #479 closed, assigned to nobody

[2020-02-16 10:34] qq1053831109 opened #480 "how can new one Element add to other Element ?"
how can new one Element add to other Element  ?

[2020-02-17 09:56] qq1053831109 opened #481 "nifty button cant support quick click？"
nifty button cant support quick click？
if i Quick click the button 2 or 3 time in one second
but my click listener ony can get one time！

[2020-02-17 10:47] tonihele commented on #481
Change the value of this property:
`MULTI_CLICK_TIME`

[2020-02-19 15:06] #481 closed, assigned to nobody

[2020-04-03 01:34] Fenekhu opened #482 "NullPointerException trying to change font"
I'm trying to work around text resizing. I have a method getFont() that returns the proper size font as a string. I'm trying to change the font like so:
`screen.findElementById("s1_d_text").getRenderer(TextRenderer.class).setFont(nifty.getRenderEngine().createFont(getFont()));`
which throws this error:
[pastebin link](https://pastebin.com/p4dR31qY)
I am using JME3 but this seemed like more of a Ni

[2020-04-03 06:28] Genhis commented on #482
Have you considered using `textSize` effect for resizing text?

https://github.com/nifty-gui/nifty-gui/blob/338ffe2182ed58d02f550120d04a444411adfa46/nifty-core/src/main/java/de/lessvoid/nifty/effects/impl/TextSize.java

[2020-04-03 16:29] Fenekhu commented on #482
I have considered it but I thought that bitmap fonts didn't scale well. I'll use it if I have to.

On a side note, I figured out the problem was more likely that the font it was trying to switch to had multiple image files since the text was so big. I'll edit my original post to note this.

[2020-04-03 16:51] Genhis commented on #482
If you use the font in your XML files, does it work?

Can you create a SSCCE to demonstrate your issue and submit a pull request to https://github.com/nifty-gui/nifty-gui-issues?

[2020-04-03 17:33] Fenekhu commented on #482
It doesn't work if I use it it my xml files either. Also, I tried exporting all of the font files with bigger images so they would all fit in one and now the error is gone, but for some reason, when I use the 16 size font, the letters show up way bigger but with size 16 spacing so they're all overlapping, when i use the 32 size font, they get smaller but with 32 size spacing, and so on with 48 and

[2020-05-04 07:37] hoijui opened #483 "[BUG] GitHub not accepting/identifying the LICENSE"
Same problem as with _artemis-odb_ [here](
https://github.com/junkdog/artemis-odb/issues/601).

if GitHub detects more then one LICENSE file, it decides to not know which is the projects proper license. Their recommendation is, to have only one license file, and put the more complex situation somewhere else (for example the README).

[2020-05-10 17:13] void256 commented on #483
Thanks for the information!

If I understand the problem correctly, then GitHub doesn't understand our "license.txt" and prefers a "LICENSE" file in the root of our source tree. Simply renaming our existing "license.txt" file to "LICENSE" should make GitHub happy then. Can you confirm?

Besides that I'm not aware of other "LICENSE" files in our project. So I suppose your remark concerning multiple

[2020-05-10 17:54] hoijui commented on #483
you have `LICENSE.others.md` and `license.txt` in the source root.
GitHub detects them both as LICENSE files, even though it shows `license.txt` when you click on the _View license_ text, right above the green _Clone or download_ button.
So you would have to remove the `LICENSE.others.md` file, for it to work properly. :/
GitHub suggest doing this, and writing about the licenses of others in your

[2021-08-25 16:24] fabrice-ducos opened #489 "No "how to get started" section in the README.md file"
This is more a newbie question than an issue (though it could be considered an issue of lack of explanations in the README.md file. There is no  "how to get started" section).
How do people run those examples? I mean, I am far from being a Java expert, but I know how to run a jar (at least if a main class is defined in the manifest, that doesn't seem to be the case here), or to use maven goals or

[2021-08-25 20:54] void256 commented on #489
The jnlp files are outdated and should have been deleted years ago.

The examples are mostly meant to be executed from your IDE. That being said, there was a time where [this information in the wiki](https://github.com/nifty-gui/nifty-gui/wiki/Examples) would have worked to get you started from the commandline but it's probably outdated as well.

[2021-08-25 21:35] void256 commented on #474
At this point in time, I guess we can declare Nifty GUI pretty much dead 💀 or at least to be almost dead 🧟‍♂️.

There is still a lot of good stuff in here but unfortunately also a lot of horrible things. I always wanted to get back to it. Fix it, rewrite it, reinvent it. But currently the little time I have left besides a demanding day job and a regular life, goes into other, smaller projects.

If

[2021-08-25 21:56] fabrice-ducos commented on #489
Dear @void256, thank you very much for your reply and your hint. Even outdated, the information in the wiki should hopefully be a good starting point for me. Hats off to you and all the team for a great library. I am especially impressed by the elegance of the Java Builder API, and the natural mapping between XML and Java Builder syntax.

[2021-08-25 22:49] fabrice-ducos commented on #474
Dear @void256,

thank you for this clarification. I think you are a bit hard with your work that I find tremendous. Of course, it is not perfect (which project is), there are certainly lots of outdated stuff, the documentation itself is probably also outdated (but at least it does exist and most of it, from what I could read, is still relevant), but it's the nature of open source projects to be mo

[2021-08-25 23:13] bgroenks96 commented on #474
Just to clarify, I am definitely not an active contributor to this project anymore. I haven't even touched Java in probably 4 or 5 years, let alone any active Nifty development. I occasionally check in to see if there are any pull requests that can be merged, but that's pretty much it. I do not have time to re-learn the codebase or provide any active support for existing issues. If you are looking

[2021-08-26 06:41] fabrice-ducos commented on #474
Thank you Brian for your reply. I see that you recommended LibGDX over Nifty in a former post. From a formerly active Nifty contributor, I think it means something. I don't know much about LibGDX, but I understand that it compares more to a full engine like jMonkey than to a more focused GUI system like Nifty GUI. From what Void and you replied, I understand LibGDX UI is almost certainly more acti

[2021-08-26 16:48] jfelrod1960 commented on #474
@bgroenks96 @void256 @fabrice-ducos I guess it is time for me to close this issue, but I wanted to use Nifty because with the SPI's I can use the game engine of my choice which is https://github.com/Renanse/Ardor3D.  So I may take a chance with Nifty.  Maybe I will regret it later, but if there are people here who have a minute or two, to answer questions, it may work out. :)

[2021-08-26 19:56] #489 closed, assigned to nobody

[2021-08-26 20:30] #469 closed, assigned to nobody

[2021-08-27 05:24] tonihele commented on #474
You should maybe take this to the appropriate forums (jME at https://hub.jmonkeyengine.org/). jME at least has several active options for UI, such as Lemur and JavaFX based. I for one still use Nifty with jME and there are very little problems if any. https://store.steampowered.com/app/746880/Spoxel/ is a jME & Nifty based game for example :)

And I also have the impression that LibGDX 2D and jME

[2021-08-27 09:44] #461 closed, assigned to nobody

[2021-08-27 09:48] bgroenks96 commented on #474
@jfelrod1960 I think it's fine to keep this issue open. The future of Nifty is indeed remains somewhat of an open question.

[2022-10-28 16:49] Ledmington opened #491 "No error or warning when setting "wrong" colors"
I am creating a simple GUI with Nifty entirely in Java and I was trying to set the colors of my panels and my texts with `backgroundColor("white")` and then, after a whole day of trying to figure out the error, I discovered that the `backgroundColor(String)` and `color(String)` methods only accept colors as hexadecimal RGBA values. There was no error or warning whatsoever indicating this issue to